<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">

	<div id="content-full">
		<a class="btn-txt cancel" href="<%=customers_path%>"><i class="icon-remove"></i> Batal</a>

		<h1>Master / <a href="<%=isotanks_path%>">Isotank</a> / Edit <strong title="<%=@isotank.isotanknumber%>"><%= @isotank.isotanknumber %></strong></h1>
		
		<%= render "form" %>

		<br class="clearfix" />

	</div>

</div>
