<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
	
	<div id="content-full">

		<% if checkrole 'Admin Keuangan' %>
		<a class="btn print" href="<%=new_isotank_path%>"><i class="icon-plus-sign"></i> &nbsp;Tambah</a>
		<% end %>
		<h1>Master / <a href="<%=isotanks_path%>">Isotank</a> / Index</h1>

		<%= render 'default/toggle_deleted_checkbox' %>

		<br class="clearfix" />
		<br class="clearfix" />

		<table class="row-view tablesorter hasFilters">
			<thead>
			<tr>
				<th>Nama</th>
				<th>Kategori</th>
				<th width="60" data-sorter="false" class="sorter-false">Aktif</th>
				<th width="60" class="{sorter: false}"></th>
			</tr>
			</thead>

			<tbody>
			<% @isotanks.each do |isotank| %>
			<% if isotank.deleted %>
				<% if current_user.adminrole %>
				<tr class="deleted">
					<td>
						<% if isotank.category.present? %>
							<% if isotank.category == 'SEWA' %>
								<span style="color: blue;"><%= isotank.isotanknumber %></span>
							<% elsif isotank.category == 'FREEUSE' %>
								<span style="color: red;"><%= isotank.isotanknumber %></span>
							<% else %>
								<%= isotank.isotanknumber %>
							<% end %>
						<% else %>
							<%= isotank.isotanknumber %>	
						<% end %>
					</td>
					<td>
						<% if isotank.category.present? %>
							<% if isotank.category == 'SEWA' %>
								<span style="color: blue;"><%= isotank.category %></span>
							<% elsif isotank.category == 'FREEUSE' %>
								<span style="color: red;"><%= isotank.category %></span>
							<% else %>
								<%= isotank.category %>
							<% end %>
						<% else %>
							<%= isotank.category rescue nil %>	
						<% end %>
					</td>
					<% if isotank.enabled %>
					<td><%= link_to '&#xf058;'.html_safe, 'javascript: void();', :class => 'enabled tipsy', :title => 'Aktif' %></td>
					<% else %>
					<td><%= link_to '&#xf057;'.html_safe, 'javascript: void();', :class => 'disabled tipsy', :title => 'Tidak Aktif' %></td>
					<% end %>
					<td class="right" width="60">&nbsp;</td>
				</tr>
				<% end %>
			<% else %>
				<% if checkrole 'Admin Kendaraan' %>
				<tr>
					<td>
						<% if isotank.category.present? %>
							<% if isotank.category == 'SEWA' %>
								<span style="color: blue;"><%= isotank.isotanknumber %></span>
							<% elsif isotank.category == 'FREEUSE' %>
								<span style="color: red;"><%= isotank.isotanknumber %></span>
							<% else %>
								<%= isotank.isotanknumber %>
							<% end %>
						<% else %>
							<%= isotank.isotanknumber %>	
						<% end %>
					</td>
					<td>
						<% if isotank.category.present? %>
							<% if isotank.category == 'SEWA' %>
								<span style="color: blue;"><%= isotank.category %></span>
							<% elsif isotank.category == 'FREEUSE' %>
								<span style="color: red;"><%= isotank.category %></span>
							<% else %>
								<%= isotank.category %>
							<% end %>
						<% else %>
							<%= isotank.category rescue nil %>	
						<% end %>
					</td>
					<% if isotank.enabled %>
					<td><%= link_to '&#xf058;'.html_safe, disable_isotank_path(isotank), :class => 'enabled tipsy', :title => 'Non Aktifkan' %></td>
					<% else %>
					<td><%= link_to '&#xf057;'.html_safe, enable_isotank_path(isotank), :class => 'disabled tipsy', :title => 'Aktifkan' %></td>
					<% end %>
					<td class="right" width="60">
						<%= link_to '&#xf044;'.html_safe, edit_isotank_path(isotank), :class => "edit tipsy", :title => 'Edit' %> 
						<%= link_to '&#xf00d;'.html_safe, isotank, :class => "delete tipsy", :title => 'Hapus', :confirm => 'Apakah anda yakin?', :method => :delete if current_user.owner %>
					</td>
				</tr>
				<% end %>
			<% end %>
			<% end %>	
			</tbody>
		
		</table>

		<% if checkrole 'Admin Kendaraan' %>
		<div class="actions">
			<a class="btn right" href="<%=new_isotank_path%>"><i class="icon-plus-sign"></i> &nbsp;Tambah</a>
		</div>
		<% end %>

		<br class="clearfix" />

	</div>

</div>