<table class="row-view">
	<tr>
		<th class="{sorter:true, filter: true}" >TGL</th>
		<th width="200" class="{sorter:true, filter: true}" >Nomor</th>
		<th class="{sorter:true, filter: true}" >Pelanggan</th>
		<th class="{sorter: false, filter: false}" align="right" style="padding-right: 1rem; text-align: right; ">Jurusan</th>
		<th class="{sorter:true, filter: true}" >User</th>
		<th class="{sorter:true, filter: true}" >Status</th>
		<th width="80" class="{sorter: false, filter: false}"></th>
	</tr>

    <% if @quotationgroups.any?  

    @quotationgroups.includes(:customer, :quotations).each do |group|
    creator = User.find(group.created_by) rescue nil
    %>
    <tr>
        <td><strong><%= group.date.strftime('%d') rescue nil %>.</strong><%= group.date.strftime('%m') rescue nil %></td>
        <td><% if checkrole 'Admin Marketing, General Manager' %><%= link_to group.long_id, edit_quotationgroup_path(group) %> <% else %> <%= group.long_id %> <% end %></td>
        <td>
        <%= group.customer_id.present? ? group.customer.name : (group.customer_name.present? ? group.customer_name : '') %><br>
        <span style="color: grey;"><%= group.customer_pic rescue nil %></span>
        </td>
        <td align="right" style="padding-right: 1rem; "><%= group.quotations.count %></td>
        <td><%= creator.username if !creator.blank? %></td>
        
        <td>
        <%=  status = case 
                when group.customer_approved then 'Disetujui'
                when group.is_sent then 'Dikirim'
                when group.confirmed then 'Terkonfirmasi'
                when group.reviewed then 'Sudah Review'
                else 'Draft'
                end %>
        </td>

        <td class="right">
		<% if checkrole 'Admin Marketing, General Manager' %>
                <%= link_to '&#xf044;'.html_safe, edit_quotationgroup_path(group, :confirmed => true), :class => "edit tipsy", :title => 'Edit' %>
		<% end %>		
                <!-- <%= link_to '&#xf06e;'.html_safe, quotationgroup_path(group), :class => "edit tipsy", :title => 'Show' %> -->
                <!-- <%= link_to '&#xf02f;' .html_safe, print_quotationgroup_path(group), :class => "delete tipsy", :title => 'Print' %> -->
        </td>
    </tr>

    <% end %>	

	    <% else %>	
    
        <tr>
			<td colspan = '6'>
				Tidak ada data penawaran baru
			</td>
        </tr>

    <% end %>

</table>