<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
	
	<div id="content-full">
		<a class="btn-txt cancel" href="<%=cashiers_path(:date => @receiptship.created_at.strftime('%d-%m-%Y'))%>"><i class="icon-remove"></i> Batal</a>

		<h1>Kasir / <a href="<%=cashiers_path(:date => @receiptship.created_at.strftime('%d-%m-%Y'))%>">Biaya Kapal</a></h1>

		<br class="clearfix" />
		<%= render "form-edit" %>
		<br class="clearfix" />

	</div>

</div>
