<style type="text/css">
	.headsignature {margin-top:0px;margin-left: 250px;}

	@media print{
		@page { margin-top:120px;margin-bottom:120px; }
		.d-none-print {
			display: none;
		}
	}
</style>
<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>


<div id="main">
	
	<div id="content-full" class="invoice-paper">
		<a  class="btn-txt cancel hideprint" href="<%=taxinvoices_path({:customer_id => $globalCustomer_id, :month => $globalMonth, :year => $globalYear})%>"><i class="icon-remove"></i> Batal</a>
 
		<% if !@taxinvoice.nil? %>
		<a class="print btn" href="javascript:print();"><i class="icon-print"></i> Print Kwitansi</a>
		<a style="display: none;" class="print btn-txt btn-green" href="/taxinvoices/downloadexcel/<%=@taxinvoice.id%>"><i class="icon-file"></i> Excel</a>

		<h1 class="hideprint"><%=Setting.find_by_name("Client Name").value%> / Kwitansi</h1>
		<% if @taxinvoice.price_tax > 0 %>
			<div class="row continue d-none-print" style="float: right;">
				<input type="checkbox" id="chk_price_tax_print" name="price_tax" value="Yes" /> &nbsp; <h4 style="display: inline-block">PPH Tidak dihitung</h4>
			</div>
		<% end %>
		<br /><br />
		<p style="line-height: 2; margin-left: 1rem;" class="showprint"><strong>PT. Putra Rajawali Kencana Tbk</strong> 
		<br/>Ruko Section One Blok F 7-11 Jl. Rungkut Industri I 
		<br/>Kendangsari – Tenggilis Mejoyo – Surabaya
		<br/>Telp. 031 99013573 Fax. 031 99850898
		<br/>E-Mail : <%= current_user.staff_id.nil? ? 'info@puratrans.com' : current_user.staff.email %></p>
        
        <span class="showprint"><hr/></span>
		<br />

		<div style="border: 2px solid #000000; padding: 0.25rem 0.5rem; width: fit-content;">
		<p style="padding: 0; margin: 0.5rem 0;"><strong>KWITANSI No : <%=@taxinvoice.long_id%></strong></p>
		</div>

		<br/>

		<%
		
		total = @taxinvoice.total

		if @taxinvoice.downpayment.to_i > 0
			total = total.to_i - @taxinvoice.downpayment.to_i
		end

		total_in_words = moneytowordsrupiah(total)
		
		%>


		<div class="field-row continue">
			<label class="left" style="width: 120px;">Sudah diterima dari</label>
  			<input style="font-weight: bold;" type="text" class="disabled left" value=":  <%=@taxinvoice.customer.name%>" />
		</div>

		<div class="field-row continue">
			<label class="left" style="width: 120px;">Banyaknya Uang</label>
  			<input type="text" class="disabled left" value=":  <%=total_in_words%>" />
		</div>

		<div class="field-row continue">
			<label class="left" style="width: 120px;">Untuk Pembayaran</label>
			<input type="text" class="disabled left" value=":  Jasa Angkutan" />
		</div>


		<div class="field-row continue">
			<label class="left" style="width: 120px; font-weight: bold;">Jumlah</label>
			<input style="font-weight: bold;" type="text" class="disabled left" id="txt_total" value=":  Rp <%= @is_pembulatan ? to_currency(total) : to_currency_bank(total)%>" /> 
		</div>

		<br/><br/>
		<div style="width: 100%; height: 130px;"></div>

		<% 
			taxinvoice_bank = @taxinvoice.bank_id rescue nil
			Bank.find(1)
		%>


		<% 
			if @taxinvoice.bank_id.present?
			
				bank_name = @taxinvoice.bank.name
				bank_account_name = @taxinvoice.bank.bank_account_name
				bank_account_number = @taxinvoice.bank.bank_account_number
			
			else

				bank = Bank.find(1)
				
				bank_name = bank.name
				bank_account_name = bank.bank_account_name
				bank_account_number = bank.bank_account_number

			end
		%>


		<div class="showprint" style="width: 50%; float: left;" > 
		<div class="field-row continue">
			<label class="left" style="width: 500px;">Pembayaran ditransfer ke</label> 
		</div>

		<div class="field-row continue">
			<label class="left" style="width: 120px; font-weight: bold;">No. Rek</label>
			<input style="font-weight: bold;" type="text" class="disabled left" value=":  <%= bank_account_number %>" />
		</div>

		<div class="field-row continue">
			<label class="left" style="width: 120px; font-weight: bold;">Bank</label>
			<input style="font-weight: bold;" type="text" class="disabled left" value=":  <%= bank_name %>" />
		</div>

		<div class="field-row continue">
			<label class="left" style="width: 120px; font-weight: bold;">Atas Nama</label>
			<input style="font-weight: bold;" type="text" class="disabled left" value=":  <%= bank_account_name %>" />
		</div>

		<div class="field-row continue">
			<label class="left" style="width: 500px;">Pembayaran dianggap lunas setelah kami uangkan.</label> 
		</div> 
		</div>

		<div style="width: 30%; float: left; margin-left: 20%;" >
		<table class="row-view no-border showprint" style="border:0; width:75%; margin: 0 auto;">
			<tr>
				<th width="" style="text-align: center; font-size: 13px; color: #000;">Surabaya, <%=@taxinvoice.date.strftime('%d %B %Y')%></th>
			</tr>
			<tr><td colspan="2">&nbsp;</td></tr>
			<tr><td colspan="2">&nbsp;</td></tr>
			<tr><td colspan="2">&nbsp;</td></tr>
			<tr><td colspan="2">&nbsp;</td></tr>
            <tr><td colspan="2">&nbsp;</td></tr>
			<tr>
				<td style="text-align:center"><%= current_user.staff_id.nil? ? current_user.username : current_user.staff.name %></td>
				<td>&nbsp;</td>
			</tr>
		</table>
		</div>

 
  		<% end %>
	</div>

</div>


<%= content_for :js do %>
	<script>
		grandtotal = `<%= @is_pembulatan ? to_currency(@taxinvoice.total) : to_currency_bank(@taxinvoice.total)%>`;
		pph = `<%= to_currency_bank(0 - @taxinvoice.price_tax)%>`;
		grandtotal_no_tax = `<%= to_currency_bank(@taxinvoice.total + @taxinvoice.price_tax) %>`;
		$(document).ready(function() {
			
		})
		.on("change","#chk_price_tax_print",function() {
			if($(this).is(":checked")){
				$("#txt_total").val(":  Rp "+grandtotal_no_tax);
			}else{
				$("#txt_total").val(":  Rp "+grandtotal);
			}
		})
		;
	</script>
<% end %>