<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">

	<div id="content-full">
		<a class="btn-txt cancel" href="<%=offices_path%>"><i class="icon-remove"></i> Batal</a>

		<h1>Master / <a href="<%=offices_path%>">Cabang</a> / Edit Cabang</h1>
		
		<%= render "form" %>

		<br class="clearfix" />

	</div>

</div>
