<table class="row-view">
	<tr>
		<th width="50">Order</th>
		<th width="80">Tanggal</th>
		<th>Nama Aset</th>
		<th width="100" class="right">Total</th>
		<th width="100" class="right">Sdh Dibayar</th>
		<th width="80"></th>
	</tr>
	<% @assetorders.each do |assetorder| %>
		<tr>
			<td><%= zeropad(assetorder.id)%></td>
			<td><%= assetorder.date.strftime('%d-%m-%Y')%></td>
			<td><%= assetorder.asset.name %></td>
			<td align="right"><%=to_currency(assetorder.total)%></td>
			<td align="right"><%=to_currency(assetorder.assetpayments.active.sum(:total))%></td>
			<td class="right">
				<a class="cta" href="<%=new_assetpayment_path%>/<%=assetorder.id%>">Bayar</a>
			</td>
		</tr>
	<% end %>
</table>
