<div id="filter">
<form action="/taxinvoiceitems/new/" method="get">
  <div class="field-row continue">
    <label for="invoice_id">No. BKK</label>
    <input type="text" name="invoice_id" class="half left" value="<%=@invoice_id%>" style="margin-right:10px;" />
    <input type="submit" class="submit" value="Cari BKK" />    
  </div>
</form>
</div>

<br class="clearfix" /><br />

<% if @invoice %>

<div class="info-box" style="width:560px; float:left; clear:left;margin-bottom:30px;">  

<h3 style="position: relative;">Bukti Kas Keluar <%= @invoice.invoicetrain ? "Kereta" : ""%> #<%=zeropad(@invoice.id)%>
<% if @invoice.by_vendor %>
&nbsp;<span style="position: absolute; margin-top: 1px; background-color: #009688; color: #fff; padding: 2px; font-size: 10px; border-radius: 2px; font-weight: 500;">Vendor</span>
<% end %>
</h3>


<table class="row-view no-border">
  <tr>
    <td width="100">Nomor DO</td>
    <td><%=@invoice.event_id%></td>
  </tr>
  <tr>
    <td width="100">Kantor</td>
    <td><%= @invoice.office.name rescue nil %></td>
  </tr>
  <tr>
    <td width="100">Tgl. Bikin</td>
    <td><%=@invoice.created_at.strftime('%d-%m-%Y')%></td>
  </tr>
  <% if @invoice.by_vendor %>
  <tr>
    <td>Vendor</td>
    <td><%=@invoice.truckvendor.name rescue nil%></td>
  </tr>
  <% end %>
  <tr>
    <td>Pelanggan</td>
    <td><%= @invoice.customer.name rescue nil %></td>
  </tr>
<% if @invoice.invoicetrain %>
  <tr>
      <td>Jurusan Muat</td>
      <td>
      <%=@invoice.quantity%> Rit: <%= @invoice.route.name rescue nil %>,
      <% if @invoice.vehicle_duplicate.present? && @invoice.vehicle_duplicate_id != 0%>
        <strong><%=@invoice.vehicle_duplicate.current_id rescue nil%></strong>
      <% else %>
          <%=@invoice.vehicle.current_id rescue nil%>
      <% end %>

      <span style="display: none;">
        <% if !@invoice.vehicle.plat_type.nil? %>
          (<%= @invoice.vehicle.plat_type %>)
        <%end%>
      </span>

      </td>
  </tr>

<% bongkar = @invoice.invoices.active.first %>
<% if bongkar %>
  <tr>
      <td>Jurusan Bkr</td>
      <td>
      <%=bongkar.quantity%> Rit: <%= bongkar.route.name rescue nil %>, 
 
      <% if bongkar.vehicle_duplicate.present? && bongkar.vehicle_duplicate_id != 0%>
        <strong><%=bongkar.vehicle_duplicate.current_id rescue nil%></strong>
      <% else %>
          <%=bongkar.vehicle.current_id rescue nil%>
      <% end %>

      <span style="display: none;">
        <% if !bongkar.vehicle.plat_type.nil? %>
          (<%= bongkar.vehicle.plat_type %>)
        <%end%>
      </span>

      </td>
  </tr>
<% end %>
    
<% else %>
  <tr>
      <td>Jurusan</td>
      <td>
      <%=@invoice.quantity%> Rit: <%= @invoice.route.name rescue nil %>,
      <% if @invoice.vehicle_duplicate.present? && @invoice.vehicle_duplicate_id != 0%>
        <strong><%=@invoice.vehicle_duplicate.current_id rescue nil%></strong>
      <% else %>
          <%=@invoice.vehicle.current_id rescue nil%>
      <% end %>

      <span style="display: none;">
        <% if !@invoice.vehicle.plat_type.nil? %>
          (<%= @invoice.vehicle.plat_type %>)
        <%end%>
      </span>

      </td>
  </tr>
<% end %>
    
<% if @invoice.isotank_id != 0 %>
  <tr>
    <td>No. Isotank</td>
    <td id="strIsotank"><%=@invoice.isotank.isotanknumber rescue nil%></td>
  </tr>
<% end %>
    
<% if @invoice.container_id != 0 && @invoice.tanktype == 'KONTAINER' %>
  <tr>
    <td>No. Kontainer</td>
    <td id="strContainer"><%=@invoice.container.containernumber rescue nil%></td>
  </tr>
<% end %>
    
  <tr>
    <td>Supir</td>
    <td><%= @invoice.driver.name rescue nil %><% if !@invoice.driver.helpers.first.nil? %> &nbsp;(Kernet: <%= @invoice.driver.helpers.first.name rescue nil %>)<% end %><% if @invoice.invoices.any? %>, <%= bongkar.driver.name rescue nil %><%end%></td>
  </tr>

  <% if current_user.adminrole || current_user.owner %>
    <% if @invoice.price_per.to_f != @invoice.route.price_per.to_f %>
    <tr>
      <td>Harga Lama</td>
      <td>@ <%= to_currency_bank(@invoice.price_per, 'Rp. ') %> </td>
    </tr>
    <tr>
      <td>Harga Baru</td>
      <td>@ <%= to_currency_bank(@invoice.route.price_per, 'Rp. ') %> </td>
    </tr>
    <% else %>
    <tr>
      <td>Harga Muatan</td>
      <td>@ <%= to_currency_bank(@invoice.price_per, 'Rp. ') %> *</td>
    </tr>
    <% end %>
  <% else if checkrole "Invoice / Surat Jalan" %>  
    <% if @invoice.price_per.to_f != @invoice.route.price_per.to_f %>
    <tr>
      <td>Harga Lama</td>
      <td>@ <%= to_currency_bank(@invoice.price_per, 'Rp. ') %> </td>
    </tr>
    <tr>
      <td>Harga Baru</td>
      <td>@ <%= to_currency_bank(@invoice.route.price_per, 'Rp. ') %> </td>
    </tr>
    <% else %>
    <tr>
      <td>Harga Muatan</td>
      <td>@ <%= to_currency_bank(@invoice.price_per, 'Rp. ') %> *</td>
    </tr>
    <% end %>
  <% end %>

  <% end %>

  <% if @taxinvoiceitems.nil? %>
  <% else  %>
  <tr>
    <td>No Invoice</td>
    <td>
      <% @taxinvoiceitems.each_with_index do |taxinvoiceitem,i| %>
        <% @taxinvoice = Taxinvoice.find(taxinvoiceitem.taxinvoice_id) rescue nil  %>
          <% if @taxinvoice.nil? %>
          -
          <% else %>
            <% if current_user.adminrole || current_user.owner  %>
              <%= link_to @taxinvoice.long_id, edit_taxinvoice_path(@taxinvoice.id), target: :_blank %>
            <% else %>
              <%= @taxinvoice.long_id %>
            <% end %>
            <br/>
          <% end %>
      <% end %>
    </td>
  </tr>
  <% end %>

  <tr><td colspan="2">&nbsp;</td></tr>
  <tr>
    <td colspan="2" style="font-size:13px">* Secara default penghitungan total menggunakan harga bongkar. Perubahan penggunaan harga hitung dapat dirubah saat pembuatan tagihan invoice.</td>
  </tr> 
</table>
</div>

<% if @invoice.price_per.to_f != @invoice.route.price_per.to_f %>
  <div class="update-box" style="width:300px;float:right;clear:right;padding: 1rem 0 2rem;">
    Ada perubahan harga dalam Master Jurusan. Tekan tombol untuk update harga terbaru. 
    <br class="clearfix"/>
    <br class="clearfix"/>
    <em class="red" style="font-size:11px;">Peringatan: Mohon berhati-hati ketika menekan tombol karena data yang sudah dirubah tidak dapat dikembalikan</em>
    <br class="clearfix"/>
    <br class="clearfix"/>
    <a class="btn right btn-green" style="float:left" href="/taxinvoiceitems/new/<%= @invoice.id%>/true">Update Harga</a>
  </div> 
<% end %>
 
<!--  Jika Bukan Vendor -->
<% if !checkroleonly 'Vendor Supir' %>
	<div class="hideprint" style="width:300px; float:right; clear:right;">
		<% if @invoice %>

		<h3 class="zone" style="font-weight: bold;">Upload Gambar Surat Jalan</h3>

      <% if @invoice.images.where("file_uid is not null and file_uid <> ''").any? %>
        <% @invoice.images.where("file_uid is not null and file_uid <> ''").each do |img| %>
          <% ext = File.extname(img.file_uid).strip.downcase[1..-1] %>
	
          <% if(ext == 'jpg' || ext == 'jpeg' || ext == 'png' )  %>
          
          <a href="<%= img.file.url() %>" target="_blank">
              <%= image_tag img.file.thumb('480x320').url(:suffix => "/#{img.name}"), style: "width: 100%;" if img.file_uid %>
          </a>
          
          <% else %>
          
            <a href="<%= img.file.url() %>" target="_blank"><%= File.basename(img.file_uid) %></a>
          
          <% end %>

          <br />
          <div style="display: flex; align-items: center; justify-content: space-between; margin-top: 0.5rem;">
          <span style="font-size: 10px; color: #717171;">Diupload: <%= img.created_at.strftime('%d-%m-%Y') rescue nil %></span>

          <% if img.enabled %>
          <%= link_to '&raquo; Hapus File'.html_safe, '/attachments/removeTaxInv/' + img.id.to_s %>
          <% else %>
          <span style="font-size: 10px; color: #717171;">Dihapus</span>
          <% end %>

          </div>
          <br>
          <br>
        <% end %>
			<% end %>

      <form action="/attachments/uploadTaxInv" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
				<input type="hidden" name="model_name" value="Invoice" />
				<input type="hidden" name="item_id" value="<%=@invoice.id%>" />

			<div class="field-row" style="width: 300px;">
				<label for="name">Nama</label>
				<input type="text" name="attachment[name]" style="width: 100%; max-width: 280px;"/>
			</div>

			<div class="field-row continue" style="width: 100%;">
				<label for="file">Browse File</label>
				<input type="file" name="attachment[file]"/>
			</div>

			<div class="actions" style="text-align: center; padding: 1rem; margin-bottom: 1.5rem;">
				<input type="submit" value="Simpan File" />
			</div>

			</form>

      <% if @invoice.taxinvoiceitems.where("money(total) > money(0) and taxinvoice_id IS NULL and deleted = false").any? %>

      <h3 class="zone" style="font-weight: bold; color: red; margin: 0.25rem 0;">Surat Jalan Tolakan</h3>
      
      <form action="/taxinvoiceitems/rejected" method="post" style="margin-bottom: 2rem;">

      <% @invoice.taxinvoiceitems.order(:id).each_with_index do |taxinvoiceitem,i| %>

        <% if taxinvoiceitem.rejected %>

        <div class="field-row" style="width: 300px;">
        <label for="rejected">Tolakan? &nbsp;</label>
        <input type="checkbox" id="rejected" name="taxinvoiceitems[rejected]" value="1" checked disabled/>
        </div>
         
        <label for="reject_reason" style="padding-right: 20px;line-height: 26px;">Alasan Tolakan</label>
        <br/>
        <textarea id="reject_reason" name="taxinvoiceitems[reject_reason]" style="max-width: 280px;
        min-width: 280px;" readonly><%= taxinvoiceitem.reject_reason %></textarea>
 
        <br/><br/>

        <% else %>

        <div class="field-row" style="width: 300px;">
        <label for="reject_reason" style="padding-right: 20px;line-height: 26px;">Tolakan? &nbsp;</label>
        <input type="checkbox" id="rejected" name="taxinvoiceitems[rejected]" value="1" onchange="javascript: taxinvoiceitemsReject();" />
        </div>
        <br/><br/><br/><br/>

        <div id="rejectbox" style="display: none;">
          <label for="reject_reason" style="padding-right: 20px;line-height: 26px;">Alasan Tolakan</label>
          <textarea id="reject_reason" name="taxinvoiceitems[reject_reason]" style="max-width: 280px;
          min-width: 280px;" require></textarea>

          <input type="hidden" name="id" value="<%= taxinvoiceitem.id %>">

          <div class="actions" style="text-align: center; padding: 1rem; margin-bottom: 1.5rem;">
            <input type="submit" value="Konfirmasi Tolakan" />
          </div>
        </div>

       <% end %> 

      <% end %>

      </form>
      
      <% end %>

		<% end %>
	</div>
<% end %>

<br class="clearfix" />

<% if @invoice.taxinvoiceitems.any? %>

<form id="taxinvoiceitems" name="taxinvoiceitems" action="/taxinvoiceitems/updateitems" method="post">
  <input type="hidden" id="price_per" name="taxinvoiceitems[price_per]" value="<%=@invoice.price_per%>" />
  <input type="hidden" id="price_per_new" name="taxinvoiceitems[price_per_new]" value="<%=@invoice.price_per%>" />
  <input type="hidden" name="taxinvoiceitems[invoice_id]" value="<%=@invoice.id%>" />
  <input type="hidden" id="taxinvoiceitems_is_wholesale" name="taxinvoiceitems[is_wholesale]" value="<%=@is_wholesale%>" />
  <input type="hidden" id="wholesale_price" name="taxinvoiceitems[wholesale_price]" value="<%=@invoice.customer.wholesale_price %>" />

<table class="row-view" id="tabTaxinvoiceitems">
	<thead>
    <tr>
  		<th width="30">No.</th>
      <th width="70">Tanggal</th>
  		<th width="120">Surat Jalan</th>
      <th width="70">Tgl Muat</th>
  		<th width="70" class="right">Muat</th>
      <th width="70">Tgl Bkr</th>
  		<th width="70" class="right">Bongkar</th>
  		<th width="70" class="right">Susut</th>
  		<th class="right">Total</th>
      <th width="30"></th>
  	</tr>
  </thead>
  <tbody>
<% @invoice.taxinvoiceitems.order(:id).each_with_index do |taxinvoiceitem,i| %>
<% date = taxinvoiceitem.date.strftime('%d-%m-%Y') if !taxinvoiceitem.date.blank? %>
<% load_date = taxinvoiceitem.load_date.strftime('%d-%m-%Y') if !taxinvoiceitem.load_date.blank? %>
<% unload_date = taxinvoiceitem.unload_date.strftime('%d-%m-%Y') if !taxinvoiceitem.unload_date.blank? %>

	<tr id="<%=taxinvoiceitem.id%>">
		<td><%=i+1%>.</td>
    <td><input required type="text" name="taxinvoiceitems[date_<%=taxinvoiceitem.id%>]" class="short<% if !taxinvoiceitem.taxinvoice_id.nil? %> none<% else %> date-picker<% end %>" value="<%=date%>"<% if !taxinvoiceitem.taxinvoice_id.nil? %> readonly="readonly"<% end %> /></td>
		<td><input type="text" name="taxinvoiceitems[sku_id_<%=taxinvoiceitem.id%>]" style="width:120px;" class="<% if !taxinvoiceitem.taxinvoice_id.nil? %> none<% end %>" value="<%=taxinvoiceitem.sku_id%>"<% if !taxinvoiceitem.taxinvoice_id.nil? %> readonly="readonly"<% end %> /></td>
    <td>
      <%
        default_load_date = 0
        if taxinvoiceitem.load_date.nil?
          if !@invoice.load_date.nil?
            default_load_date = @invoice.load_date.strftime('%d-%m-%Y')
          end
        else
          default_load_date = load_date
        end
      %>
      <input type="text" name="taxinvoiceitems[load_date_<%=taxinvoiceitem.id%>]" class="short<% if !taxinvoiceitem.taxinvoice_id.nil? %> none<% else %> date-picker<% end %>" value="<%=default_load_date%>"<% if !taxinvoiceitem.taxinvoice_id.nil? %> readonly="readonly"<% end %> />
    </td>
		<td>
      <%
        default_weight_gross = 0
        if taxinvoiceitem.weight_gross == 0
          if @invoice.weight_gross != 0
            default_weight_gross = @invoice.weight_gross
          end
        else
          default_weight_gross = taxinvoiceitem.weight_gross
        end
      %>
      <input type="text" id="weight_gross_<%=taxinvoiceitem.id%>" name="taxinvoiceitems[weight_gross_<%=taxinvoiceitem.id%>]" class="short weight-field<% if !taxinvoiceitem.taxinvoice_id.nil? %> none<% end %>" value="<%=default_weight_gross%>" onchange="javascript:getWeightLost('<%=taxinvoiceitem.id%>')" onkeypress="javascript:return isMoneyKey(this);" <% if !taxinvoiceitem.taxinvoice_id.nil? %> readonly="readonly"<% end %>/>
    </td>
    <td><input type="text" name="taxinvoiceitems[unload_date_<%=taxinvoiceitem.id%>]" class="short<% if !taxinvoiceitem.taxinvoice_id.nil? %> none<% else %> date-picker<% end %>" value="<%=unload_date%>"<% if !taxinvoiceitem.taxinvoice_id.nil? %> readonly="readonly"<% end %> /></td>
		<td><input type="text" id="weight_net_<%=taxinvoiceitem.id%>" name="taxinvoiceitems[weight_net_<%=taxinvoiceitem.id%>]" class="short weight-field<% if !taxinvoiceitem.taxinvoice_id.nil? %> none<% end %>" value="<%=taxinvoiceitem.weight_net%>" onchange="javascript:getWeightLost('<%=taxinvoiceitem.id%>')" onkeypress="javascript:return isMoneyKey(this);" <% if !taxinvoiceitem.taxinvoice_id.nil? %> readonly="readonly"<% end %> /></td>
		<td align="right"><span id="txt_weight_lost_<%=taxinvoiceitem.id%>"><%=taxinvoiceitem.weight_gross - taxinvoiceitem.weight_net%></span></td>
		<td align="right"><span id="txt_total_<%=taxinvoiceitem.id%>"><%=to_currency_bank(taxinvoiceitem.total)%></span><input type="hidden" id="total_<%=taxinvoiceitem.id%>" name="taxinvoiceitems[total_<%=taxinvoiceitem.id%>]" value="<%=taxinvoiceitem.total%>" /></td>
    <td align="right">
      <% if !taxinvoiceitem.taxinvoice_id.nil? %>
        <i class="icon-lock red icon-large" title="Surat Tagihan sudah di Invoice"></i>
      <% else %>
        <% if current_user.owner %>
        <%= link_to '&#xf00d;'.html_safe, taxinvoiceitem, :class => "delete tipsy", :title => 'Hapus', :confirm => 'Apakah anda yakin?', :method => :delete %>
        <% end %>
      <% end %>
    </td>
	</tr>
<% end %>
</tbody>
</table>

<div class="actions">
  <a class="btn right" href="<%=taxinvoiceitems_path({:startdate => $globalStartdate, :enddate => $globalEnddate})%>">Kembali ke Index</a>

  <% if !checkroleonly 'Vendor Supir' %>
    <input type="submit" class="btn right" value="Tambah Data" />
  
    <% if current_user.adminrole || current_user.owner || checkrole = 'Excel' %>
    <a type="submit" href="/taxinvoiceitems/downloadexcel/<%= params[:invoice_id] %>" class="btn right" style="height: 18px;">Cetak Excel</a>
    <% end %>
  <% end %>

  <% if @invoice.images.any? && (@invoice.taxinvoiceitems.first.receipttaxinvitem_id.blank? rescue false) %>
    <a href="<%= create_receiptinvoice_receipttaxinvitems_url(invoice_id: params[:invoice_id]) %>" class="btn right" style="height: 18px;">Buat Tanda Terima SJ</a>
  <% end %>
  
</div>
</form>

<% end %>

<% end %>