<% if @invoices.any? %>
<table class="tablesorter row-view tablesorterFilters">
    <thead>
    <tr>
        <th width="30">#</th>
        <th width="50">TGL</th>
        <th width="50">DO</th>
        <!-- <th class="{sorter: false}" width="50">BKK</th> -->
        <th class="{sorter: false}">Keterangan</th>
        <th width="80">NoPol</th> 
        <th width="150">Pelanggan</th>
        <th width="50">Muat</th> 
        <th width="70" class="{sorter: false, filter: false} sorter-false" data-sorter="false" style="text-align:center;">S.Jalan</th>
        <th width="70" class="{sorter: false, filter: false} sorter-false" data-sorter="false" style="text-align:center;" title="Surat Tagihan sudah di Invoice">SDH INV.
        <!-- <i class="icon-lock red icon-large" title="Surat Tagihan sudah di Invoice"></i> -->
        </th>
        <th width="70" class="{sorter: false, filter: false} sorter-false" data-sorter="false" style="text-align:center;">Upload</th>
        <th width="50">USER</th>
        <th width="50" class="{sorter: false, filter: false} sorter-false"></th>
    </tr>
    </thead>
    <tbody>
    <% i = 0 %>
    <% total_sj, total_sj_done, total_inv_done, run, second_driver, second_nopol = 0, 0, 0, false , nil, nil%>
    <% @invoices.each do |invoice| %>
        <% if invoice.invoicetrain %>
        
            <% if invoice.container_id  %>
        
                <% run = true %>
                <% second_driver = nil %>
        
            <% else %>
        
                <% if invoice.invoices.any? %>
                    <% run = true %>
                    <% second_driver = invoice.invoices.first.driver.name %>
                    <% second_nopol = invoice.invoices.first.vehicle.current_id %>

                <% else %>
                    <% run = false %>
                    <% second_driver = nil %>
                <% end %>
        
            <% end %>

        <% else %>
            <% run = true %>
        <% end %>

        <% qty = invoice.quantity %>
        <% qty -= invoice.receiptreturns.active.sum(:quantity) if invoice.receiptreturns.active.any? %>
        <% if qty > 0 && run == true %>
        <tr>
            <td><%=i+=1%>.</td>
            <td><strong><%=invoice.date.strftime('%d')%></strong>.<%=invoice.date.strftime('%m')%></td>
            <td>
            <%= invoice.event_id %>
            </td>
            <!-- <td><%=zeropad(invoice.id)%></td> -->
            <td>
            #<%=zeropad(invoice.id)%>: <%=qty%> Rit -> <%=invoice.route.name%> (<%=invoice.driver.name%><%= second_driver.nil? ? '' : ', ' +second_driver %>)
            <%= invoice.invoicetrain ? '= Kereta =' : '' %> 
            <%= (invoice.isotank_id.present? && invoice.isotank_id.to_i != 0) ? ("Isotank = " + invoice.isotank.isotanknumber) : '' %>
            <%= (invoice.container_id.present? && invoice.container_id.to_i != 0) ? ("Kontainer = " + invoice.container.containernumber) : '' %>
            <%= invoice.user_id.nil? ? '': ' | '+invoice.user.username%>
            <% if invoice.by_vendor %>
            &nbsp;<span style="background-color: #009688; color: #fff; padding: 2px; font-size: 10px; border-radius: 2px; font-weight: 500;">Vendor</span>
            <% end %>
            </td>
            <td>
            <% if invoice.vehicle_duplicate.present? && invoice.vehicle_duplicate_id != 0%>
                <strong><%=invoice.vehicle_duplicate.current_id rescue nil%></strong>
            <% else %>
                <%=invoice.vehicle.current_id rescue nil%>
            <% end %>
            <%= second_nopol.nil? ? '' : ' ' +second_nopol %>
            </td> 
            <td><%=invoice.customer.name%></td>
            <td class="right">
            <% if invoice.taxinvoiceitems.any? %>
                <%=invoice.taxinvoiceitems[0].weight_gross rescue nil%>
            <% else %>
                <%=invoice.weight_gross rescue nil%>   
            <% end %>
            </td>
            <% if invoice.taxinvoiceitems.any? %>
            <td align="center">
                <%=invoice.taxinvoiceitems.where("money(total) > money(0)").count%> / <%= qty%>
                <% if invoice.taxinvoiceitems[0].rejected %>
                    <a style="text-align: center;
                    font-size: 11px;
                    float: none;" title="<%= invoice.taxinvoiceitems[0].reject_reason %>">
                    <span style="background: red;padding: 2px 5px;border-radius: 5px;font-size: 11px;color: white;opacity: 0.65;line-height: 1.75;">TOLAKAN</span>
                    </a>
                <% end %>
            </td>
            <% else %>
            <td align="center">0 / <%= qty%></i></td>
            <% end %>
            <td align="center"><%=invoice.taxinvoiceitems.where("money(total) > money(0) and taxinvoice_id IS NOT NULL").count%> / <%=invoice.taxinvoiceitems.where("money(total) > money(0)").count%> </td>
            
            <td align="center">
                <% if invoice.images.any? %>
                                1 / 1
                            <% else %>
                    0 / 1
                <% end %>
            </td>
            <td width="50">
            <% if invoice.taxinvoiceitems.any? %>
                <% if !invoice.taxinvoiceitems[0].user_id.nil? %>
                    <%= invoice.taxinvoiceitems[0].user.username%>
                <% end %>
            <% end %>
            </td>
            <td class="center">
                
                <% if !checkroleonly 'Vendor Supir' %>
                <a class="cta" style="margin-top:1rem;" href="/taxinvoiceitems/new/<%=invoice.id%>">Isi SJ</a>&nbsp;
                <% else %>
                <a class="cta" style="margin-top:1rem;" href="/taxinvoiceitems/new/<%=invoice.id%>">Detail</a>&nbsp;
                <% end %>

                <% if current_user.adminrole || current_user.owner || checkrole = 'Excel' %>
                    <a class="cta" href="/taxinvoiceitems/print/<%=invoice.id%>" style="background-color: green; margin-left: 0.2rem; display: none;">Edit</a>
                <% end %>    
            </td>
        </tr>
        <% inv_bongkar = Invoice.where("invoice_id = ?", invoice.id) %>
        <% if inv_bongkar.present? %>
        <tr>
            <td></td>
            <td></td>
            <td><%= inv_bongkar[0].event_id %></td>
            <td>
            #<%=zeropad(inv_bongkar[0].id)%>: <%=inv_bongkar[0].quantity%> Rit -> <%=inv_bongkar[0].route.name%> (<%=inv_bongkar[0].driver.name%><%= second_driver.nil? ? '' : ', ' +second_driver %>)
            <%= inv_bongkar[0].invoicetrain ? '= Kereta =' : '' %> 
            <%= (inv_bongkar[0].isotank_id.present? && inv_bongkar[0].isotank_id.to_i != 0) ? ("Isotank = " + inv_bongkar[0].isotank.isotanknumber) : '' %>
            <%= (inv_bongkar[0].container_id.present? && inv_bongkar[0].container_id.to_i != 0) ? ("Kontainer = " + inv_bongkar[0].container.containernumber) : '' %>
            <%= invoice.user_id.nil? ? '': ' | '+invoice.user.username%>
            <% if invoice.by_vendor %>
                &nbsp;<span style="background-color: #009688; color: #fff; padding: 2px; font-size: 10px; border-radius: 2px; font-weight: 500;">Vendor</span>
            <% end %>
            </td>
            <td>
            <% if inv_bongkar[0].vehicle_duplicate.present? && inv_bongkar[0].vehicle_duplicate_id != 0%>
                <strong><%=inv_bongkar[0].vehicle_duplicate.current_id rescue nil%></strong>
            <% else %>
                <%=inv_bongkar[0].vehicle.current_id rescue nil%>
            <% end %>    
            </td> 
            <td><%=inv_bongkar[0].customer.name%></td>
            <td class="right"><%=invoice.weight_gross rescue nil%></td>
        </tr>
        <% end %>
        
        <% total_sj += qty
            total_sj_done += invoice.taxinvoiceitems.where("money(total) > money(0)").count
            total_inv_done += invoice.taxinvoiceitems.where("money(total) > money(0) and taxinvoice_id IS NOT NULL").count
         %>
        <% end %>   
    <% end %>
        <tr>
            <td colspan="7"><strong>TOTAL</strong></td>
            <td align="center"><%= total_sj_done %> / <%= total_sj %></td>
            <td align="center"><%= total_inv_done %> / <%= total_sj_done %></td>
            <td>&nbsp;</td>
        </tr>   
    </tbody>

</table>
<% end %>
