<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
	
	<div id="content-full">
		<a class="btn-txt cancel" href="<%=events_path%>"><i class="icon-remove"></i> Batal</a>
		<a class="print btn" href="javascript:print();"><i class="icon-print"></i> Print</a>	

		<p style="line-height: 2; margin-left: 1rem;" class="showprint"><strong>PT RAJAWALI DWI PUTRA INDONESIA</strong> 
		<br/>Jl. LetJend Sutoyo No. 110 - 112, Sidoarjo 61256 
		<br/>Telp. 031- 8531668 (Hunting) Fax. 031- 8535114 
		<div style="margin-left: 1rem;">
			<h1 class="hideprint"><a href="<%=events_path%>">Kalendar Event</a> / DO / Memo / Print</h1>
			<br class="clearfix" />
			<div class="field-row continue">
				<label class="left">Tanggal</label>
				<input type="text" class="disabled left" value=":  <%= @eventmemo.date%>" style="font-weight:700;" />
			</div>
			<div class="field-row continue">
				<label class="left">No. DO</label>
				<input type="text" class="disabled left" value=":  <%= @eventmemo.event_id%>" style="font-weight:700;" />
			</div>
			<div class="field-row continue" style="display: flex;">
				<label class="left">Pelanggan</label>
				<div style="font-weight: 700; margin-left: 4px;">:</div>
				<div style="background: none; border: 0; font-size: 13px; color: #000; font-weight: 700; width: 410px; margin-left: 5px;"><%= @eventmemo.customer.name rescue nil%></div>
			</div>
			<% if @eventmemo.route_id.present? && @eventmemo.route_id.to_i != 0 %>
				<div class="field-row continue">
					<label class="left">Jurusan</label>
					<input type="text" class="disabled left" value=":  <%= @eventmemo.route.name rescue nil%>" style="font-weight:700;" />
				</div>
			<% end %>
			<% if @eventmemo.commodity_id.present? && @eventmemo.commodity_id.to_i != 0 %>
				<div class="field-row continue">
					<label class="left">Komoditas</label>
					<input type="text" class="disabled left" value=":  <%= @eventmemo.commodity.name rescue nil%>" style="font-weight:700;" />
				</div>
			<% end %>
			<% if @eventmemo.isotank_id.present? && @eventmemo.isotank_id.to_i != 0 %>
				<div class="field-row continue">
					<label class="left">Isotank</label>
					<input type="text" class="disabled left" value=":  <%= @eventmemo.isotank.isotanknumber rescue nil%>" style="font-weight:700;" />
				</div>
			<% end %>
			<% if @eventmemo.container_id.present? && @eventmemo.container_id.to_i != 0 %>
				<div class="field-row continue">
					<label class="left">No. Kontainer</label>
					<input type="text" class="disabled left" value=":  <%= @eventmemo.container.containernumber rescue nil%>" style="font-weight:700;" />
				</div>
			<% end %>
			<% if @eventmemo.vehicle_id.present? && @eventmemo.vehicle_id.to_i != 0 %>
				<div class="field-row continue">
					<label class="left">Kendaraan</label>
					<input type="text" class="disabled left" value=":  <%= @eventmemo.vehicle.current_id rescue nil%>" style="font-weight:700;" />
				</div>			  
			<% end %>
			<% if @eventmemo.platform_type.present?%>
				<div class="field-row continue">
					<label class="left">Jenis</label>
					<input type="text" class="disabled left" value=":  <%= @eventmemo.platform_type %>" style="font-weight:700;" />
				</div>			  
			<% end %>
			<% if @eventmemo.driver_id.present? && @eventmemo.driver_id.to_i != 0 %>
				<div class="field-row continue">
					<label class="left">Sopir</label>
					<input type="text" class="disabled left" value=": <%= @eventmemo.driver.name rescue nil%>" style="font-weight:700;" />
				</div>
			<% end %>
			<% if @eventmemo.driver_phone.present? %>
				<div class="field-row continue">
					<label class="left">Telp. Sopir</label>
					<input type="text" class="disabled left" value=":  <%= @eventmemo.driver_phone rescue nil%>" style="font-weight:700;" />
				</div>
			<% end %>
			<div class="field-row continue">
				<label class="left">Sebanyak</label>
				<input type="text" class="disabled left" value=":  <%= @quantity_memo rescue nil%>" style="font-weight:700;" />
			</div>
			<div class="field-row continue" style="display: flex;">
				<label class="left">Keterangan</label>
				<div style="font-weight: 700; margin-left: 4px;">:</div>
				<div style="background: none; border: 0; font-size: 13px; color: #000; font-weight: 700; width: 410px; margin-top: -11px; margin-left: 5px;"><%= simple_format @eventmemo.description rescue nil%></div>
			</div>
		</div>


	</div>

		<div class="actions">
		
		<a class="back left" href="<%= events_path %>">Kembali ke Index</a>
		</div>
		
		<br class="clearfix" />
		
	</div>

</div>