<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<style>
.chzn-container {
	top: 0;
}
</style>

<div id="main">
	
	<div id="content-full">

		<a class="btn-txt right" href="<%=new_mechaniclog_path%>?maintenance=true"><i class="icon-plus-sign"></i> &nbsp;Maintenance</a>

		<h1>OPS / <a href="<%=mechaniclogs_path%>">Call Mekanik</a> / Index</h1>

		<br class="clearfix" />

		<div id="filter">
 
			<form id="filterform" name="filterform" action="" method="get">
				<div class="field-row continue">
					<label for="startdate" class="middle">Tgl Awal</label>
					<input type="text" name="startdate" class="thalf date-picker left" value="<%=@startdate%>" />
					<label for="enddate" class="tiny">s/d</label>
					<input type="text" name="enddate" class="thalf date-picker left" value="<%=@enddate%>" />

					<label for="invoice_id" class="tiny">#BKK:</label>
					<input type="text" name="invoice_id" class="short left" value="<%=params[:invoice_id]%>" />

					<label for="vehicle_id" class="tiny" style="width: 60px;">No Pol</label>
					<select name="vehicle_id" class="chzn-select half combo_route" style="top: 5px;">
						<option value="">All</option>
						<% Vehicle.order(:current_id).all.each do |vehicle| %>
						<option value="<%=vehicle.id%>"<% if vehicle.id == params[:vehicle_id] %> selected="selected"<% end %>><%=vehicle.current_id%></option>
						<% end %>
					</select>

					<input class="submit" type="submit" value="Filter" style="vertical-align: bottom;">
				</div>
			</form>
		</div>

		<br class="clearfix" />

			<table class="row-view">
				<tr>
					<th width="50">TGL</th>
					<th width="50">No. BKK</th>
					<th width="50">No. DO</th>
					<th width="200">Keterangan</th>
					<th width="60">NoPol</th>
                    <th width="80">Kontainer/Iso</th>
					<th width="40"></th>
				</tr>

				<% @invoices.each do |invoice| %>
					<tr>
						<td><strong><%=invoice.date.strftime('%d')%></strong>.<%=invoice.date.strftime('%m')%></td>
						<td><%= zeropad(invoice.id) %></td>
						<td><%= invoice.event_id.present? && invoice.event_id != 0 ? zeropad(invoice.event_id) : '' %></td>
						<td><%=invoice.quantity%> Rit: <%=invoice.route.name rescue nil%> (<%=invoice.driver.name rescue nil%>) <% if !invoice.description.blank?%> <br /> <%=invoice.description%>  <% end %> 
						<br/>
						<strong><%=invoice.routeship.name rescue nil %></strong>
						</td>
						<td><%=invoice.vehicle.current_id rescue nil%></td>
						<td><%= (invoice.isotank_id.present? && invoice.isotank_id.to_i != 0) ? ( invoice.isotank.isotanknumber) : '' %>
						<%= (invoice.container_id.present? && invoice.container_id.to_i != 0) ? ( invoice.container.containernumber) : '' %></td>

						<td align="right" class="red"></td>
						<td class="right" width="60">

							<% if (current_user.adminrole || current_user.owner)%>

								<% if invoice.mechaniclogs.active.count > 1 %>

									<a class="cta" style="opacity: 1;" href="mechaniclogs/delete/<%=invoice.id%>">Batal</a>
								
								<% else %>

									<a class="cta" style="background: #e0400d; opacity: 0.8;" href="<%=new_mechaniclog_path%>/<%=invoice.id%>">Call Mekanik</a>
							
								<% end %>

							<% else %>
							
							<% if checkrole 'Admin Operasional' %>

								<% if invoice.mechaniclogs.active.count == 0 %>

									<a class="cta" style="background: #e0400d; opacity: 0.8;" href="<%=new_mechaniclog_path%>/<%=invoice.id%>">Call Mekanik</a>
								
								<% end %>

							<% end %>

							<% end %>

						</td>
					</tr>
				<% end %>	

			</table>

		<br class="clearfix" />

	</div>

</div>