<%= render "shared/header" %>

<div id="nav">
    <%= render "shared/nav" %>
</div>

<div id="main">

    <div id="content-full">
        <a class="print btn" href="javascript:print();"><i class="icon-print"></i> Print</a>

        <h1><%=Setting.find_by_name("Client Name").value%> / Laporan Piutang Bermasalah: <span class="red"><%=@startdate.to_date.strftime('%d %b %Y')%> - <%=@enddate.to_date.strftime('%d %b %Y')%></span></h1>

        <br class="clearfix" />

        <div id="filter">
            <form id="filterform" name="filterform" action="" method="get">
                <div class="field-row continue">
                    <label for="startdate">Tanggal Awal</label>
                    <input type="text" name="startdate" class="half left date-picker" value="<%=@startdate%>" />
                    <label for="enddate" class="middle">Akhir</label>
                    <input type="text" name="enddate" class="half date-picker" value="<%=@enddate%>" />
                    <input class="submit" type="submit" value="Filter" />
                </div>
            </form>
        </div>

        <br class="clearfix" />
        <table class="row-view report-view">
            <thead>
                <tr>
                    <th width="30">No.</th>
                    <th width="80">Tanggal</th>
                    <th>Kantor</th>
                    <th>No.INVOICE</th>
                    <th>Pelanggan</th>
                    <th>Note</th>
                    <th width="120" class="right">Total</th>
                    <th>User</th>
                </tr>
            </thead>

            <tbody>
                <% total = i = 0 %>
                <% @taxinvoices.includes(:customer).each do |taxinvoice| %>
                <% if taxinvoice.total > 0 %>
                <% total += taxinvoice.total %>
                <tr id="<%=taxinvoice.id%>">
                    <td><%=i+=1%>.</td>
                    <td><%=taxinvoice.date.strftime('%d-%m-%Y') rescue nil %></td>
                    <td><%=taxinvoice.office.abbr rescue nil %></td>
                    <td>
                        <% edit_url = taxinvoice.generic ? "/taxinvoices/generic/#{taxinvoice.id}" : edit_taxinvoice_path(taxinvoice) %>
                        <strong><%= link_to taxinvoice.long_id, edit_url, :class => "", :title => 'Edit Data / Masuk Detail' %></strong>
                    </td>
                    <td><strong><%=taxinvoice.customer.name rescue nil%></strong> <% if !taxinvoice.ship_name.blank? %>(<%=taxinvoice.ship_name%>) <% end %> <% if !taxinvoice.waybill.blank? %>(<%= taxinvoice.waybill %>)<% end %> <% if taxinvoice.generic %>&nbsp;<i class="icon-star grey"></i><% end %>
                        <% if taxinvoice.bank_id.to_i > 0 %><br />(<%= taxinvoice.bank.bank_account_number %>)<% end %>
                        <% if taxinvoice.downpayment > 0 %><br />Deposit <%=to_currency_bank(taxinvoice.downpayment_date.strftime('%d-%m'))%><% end %>
                        <% if taxinvoice.is_dp %>&nbsp;<i class="icon-bookmark grey"></i><% end %>
                    </td>
                    <td><%=taxinvoice.doubtful_ar_note %></td>
                    <td align="right">
                        <%=to_currency(taxinvoice.total) rescue '0' %>
                    </td>
                    <td><%=taxinvoice.user.username rescue nil %></td>

                </tr>
                <% end %>
                <% end %>

                <tr class="footer">
                    <td>&nbsp;</td>
                    <td class="total" colspan="5">TOTAL</td>
                    <td class="total" align="right"><%= to_currency(total) %></td>
                </tr>
            </tbody>
        </table>

    </div>

</div>