<% if !@events.first.nil? %>
<div class="field-row">
  <label for="event_id">DO Kal. Event</label>
  <select id="invoice_event_id" name="invoice[event_id]" class="chzn-select double combo_route" onchange="javascript:getdodetail(this.value, <%= @is_train == '1' %>)">
    <option value="0">- Pilih DO -</option>
    <% @events.each do |event| %>
    <% event_qty = event.qty.to_i rescue 0 %>
    <% bkk_qty = Invoice.active.where('event_id = ? AND id NOT IN (select invoice_id from invoicereturns WHERE deleted = false)', event.id).count.to_i rescue 0 %>  
     
    <% if event.invoicetrain == true %>
    <% sisa = event_qty*2-bkk_qty%>
    <% else %>
    <% sisa = event_qty-bkk_qty%>
    <% end %>
    
    <% if sisa < 0 %>
    <% sisa = 0 %>
    <% end %>
      
        <% if sisa > 0%>  
        <option value="<%=event.id%>">
            #<%=event.id%> <%=event.summary%> => <%= event.start_date.strftime('%d-%m-%y')%> 

            <% if event.invoicetrain == true %>
                (K) | Sisa <%=sisa%>
            <% else %>
                (S) | Sisa <%=sisa%>
            <% end %>

          </option>
        <% end %>
    <% end %>
  </select>
  <small>*DO Event yang ditampilkan diatas berdasarkan Pilihan Pelanggan.</small>
 </div>
<% end %>

<script>
		function getdodetail(event_id, train){
			$.ajax({
				type: "GET",
				url: "/events/getdodetail?event_id=" + event_id + "&train=" + train,
				success: function(data) {
					$("#invoice_operator_id").val(data.operator_id).trigger("chosen:updated").prop('disabled',true);
          $("#invoice_operator_id").trigger("liszt:updated");
					$("#invoice_office_id").val(data.office_id).trigger("chosen:updated").prop('disabled',true);
          $("#invoice_office_id").trigger("liszt:updated");
          
          if (data.cargo_type == "padat"){
            $('#invoice_cargo_type_padat').prop('checked', true);
          } else if (data.cargo_type == "cair"){
            $('#invoice_cargo_type_cair').prop('checked', true);
          }

          if (data.is_insurance == true){
            $('#is_insurance').prop('checked', true);
          } else {
            $('#is_insurance').prop('checked', false);
          }

          $.ajax({
            type: "GET",
            url: "/invoices/gettanktype/" + data.cargo_type,
            success: function(data1) {
              $('#div_tanktype').html(data1.html);
              $(".chzn-select").chosen();

              $("#invoice_tanktype").val(data.tanktype).trigger("chosen:updated");
              $("#invoice_tanktype").trigger("liszt:updated");
              $("#invoice_route_id").val(data.route_id).trigger("chosen:updated").prop('disabled',true);
              $("#invoice_route_id").trigger("liszt:updated");

              getRouteTrain(data.operator_id);
              getVehiclesByOffice(data.office_id, train);
              checkTank(data.tanktype);
              getAllowances();
            },
            failure: function() {alert("Error. Mohon refresh browser Anda.");}
          });

          setTimeout(function(){
            $("#invoice_routetrain_id").val(data.routetrain_id).trigger("chosen:updated").prop('disabled',true);
            $("#invoice_routetrain_id").trigger("liszt:updated");
          }, 2000);
          
          // console.log(data['operator_id']);
          // alert(operator_id.operator_id);
				},
				failure: function() {alert("Error. Mohon refresh browser Anda.");}
			});
		}
</script>