<%= form_for(@invoice) do |f| %>
  
  <%= render "info-box", :f => f %>

  <div class="field-row first">
    <%= f.label :office_id, "Kantor" %>
    <% if @iseditable %>
    <%= f.select :office_id, options_for_select(Office.where(:deleted => false).collect {|g| [g.name, g.id]}, @invoice.office_id), {}, :class => 'half chzn-select'%>
    <% else %>
    <input type="text" class="double disabled" value="<%=@invoice.office.name%>" />
    <%= f.hidden_field :office_id, :value => @invoice.office_id %>
    <% end %>
  </div>
  
  <div class="field-row">
    <%= f.label :date, "Tanggal" %>
    <%= f.text_field :date, :class => 'half date-picker', :value => @invoice.date.strftime('%d-%m-%Y') %>
    <span>(tgl/bln/thn)</span>
  </div>

  <div class="field-row">
    <%=f.label :by_vendor, "Pakai Vendor" %>
    <input type="checkbox" onclick="toggleVendorCheckbox()" id="by_vendor" name="invoice[by_vendor]" value="Yes" <% if @invoice.by_vendor == true %> checked="checked" <% end %>" />
  </div>

  <% if active_node == "edit" %>

  <div id="div_vendor" style="display: block;">
    <div class="field-row">
      <%= f.label :truckvendor_id, "Vendor" %>

      <select id="invoice_truckvendor_id" name="invoice[truckvendor_id]" class="double chzn-select">
      <option value="0">- Pilih Vendor -</option>
      <% Vendor.active.truck.order(:name).each do |vendor| %>
      <option value="<%=vendor.id%>"
        <% if vendor.id == @invoice.truckvendor_id %> selected="selected"<% end %>><%=vendor.name%></option>
      <% end %>
      </select>
    </div>
  </div>

  <% else %>

  <div id="div_vendor" style="display: none;">
    <div class="field-row">
      <%= f.label :truckvendor_id, "Vendor" %>

      <select id="invoice_truckvendor_id" name="invoice[truckvendor_id]" class="double chzn-select">
      <option value="0">- Pilih Vendor -</option>
      <% Vendor.active.truck.order(:name).each do |vendor| %>
      <option value="<%=vendor.id%>"
        <% if vendor.id == @invoice.truckvendor_id %> selected="selected"<% end %>><%=vendor.name%></option>
      <% end %>
      </select>
    </div>
  </div>

  <% end %>

  <% if @invoice_ori.nil? %>
    <div class="field-row">
      <%= f.label :invoicetrain, "Tipe BKK" %>
      <% if active_node == "edit" %>
          <%= f.label :invoicetrain, :value => "false", :class => 'checkbox' do %>
            <%= f.radio_button :invoicetrain, false, :disabled => !@invoice.invoicetrain ? false : true %> Standart
          <% end %>
          <%= f.label :invoicetrain, :value => "true", :class => 'checkbox' do %>
            <%= f.radio_button :invoicetrain, true, :checked => !@invoice.invoicetrain ? false : true, :disabled => @invoice.invoicetrain ? false : true, data: {behavior: "toggle-train"}%> Kereta
          <% end %>
      <% else %>
          <%= f.label :invoicetrain, :value => "false", :class => 'checkbox' do %>
            <%= f.radio_button :invoicetrain, false, :checked => true , data: {behavior: "toggle-standart"}  %> Standart
          <% end %>
          <%= f.label :invoicetrain, :value => "true", :class => 'checkbox' do %>
            <%= f.radio_button :invoicetrain, true, data: {behavior: "toggle-train"} %> Kereta
          <% end %>
      <% end %>

    </div>
  <% else %>
    <div class="field-row">
      <%= f.label :invoicetrain, "Tipe BKK" %>
      <%= f.label :invoicetrain, :value => "false", :class => 'checkbox' do %>
        <%= f.radio_button :invoicetrain, false, :disabled => true  %> Standart
      <% end %>
      <%= f.label :invoicetrain, :value => "true", :class => 'checkbox' do %>
        <%= f.radio_button :invoicetrain, true, :checked => true %> Kereta
      <% end %>
    </div>

      <%= f.hidden_field :invoice_id, :value => @invoice_ori.id %>
      <%= f.hidden_field :isotank_id, :value => @invoice_ori.isotank_id %>
      <%= f.hidden_field :container_id, :value => @invoice_ori.container_id %>
  <% end %>

  <div class="field-row">
  <%= f.label :cargo_type, "Tipe Kargo" %>
  <% if active_node == "edit" %>

      <% if @invoice.cargo_type.present? %>

          <%= f.label :cargo_type, :value => "padat", :class => 'checkbox' do %>
            <%= f.radio_button :cargo_type, "padat", :checked => @invoice.cargo_type == "padat" ? true : false, :disabled => @invoice.cargo_type == "cair" ? true : false %> Padat
          <% end %>
          <%= f.label :cargo_type, :value => "cair", :class => 'checkbox' do %>
            <%= f.radio_button :cargo_type, "cair", :checked => @invoice.cargo_type == "cair" ? true : false, :disabled => @invoice.cargo_type == "padat" ? true : false %> Cair
          <% end %>

      <% else %>

          <%= f.label :cargo_type, :value => "padat", :class => 'checkbox' do %>
            <%= f.radio_button :cargo_type, "padat", :checked => @invoice.tanktype == "KONTAINER" || @invoice.tanktype == "STANDART" ? true : false  %> Padat
          <% end %>
          <%= f.label :cargo_type, :value => "cair", :class => 'checkbox' do %>
            <%= f.radio_button :cargo_type, "cair" , :checked => @invoice.tanktype == "ISOTANK" ? true : false %> Cair
          <% end %>

      <% end %>

  <% else %>

      <%= f.label :cargo_type, :value => "padat", :class => 'checkbox' do %>
        <%= f.radio_button :cargo_type, "padat", :checked => @invoice_ori.cargo_type == "padat" ? true : false, :disabled => @invoice_ori.cargo_type == "cair" ? true : false %> Padat
      <% end %>
      <%= f.label :cargo_type, :value => "cair", :class => 'checkbox' do %>
        <%= f.radio_button :cargo_type, "cair", :checked => @invoice_ori.cargo_type == "cair" ? true : false, :disabled => @invoice_ori.cargo_type == "padat" ? true : false %> Cair
      <% end %>

  <% end %>

</div>

<% if active_node == "edit" %>

<div class="field-row">
  <%= f.label :tanktype, "Tipe Tangki"  %>
  <input type="text" class="double disabled" value="<%= !@invoice.tanktype.nil? ? @invoice.tanktype : 'Harap memilih Tipe Kargo terlebih dahulu.' %>" />
</div>

<% else %>

<div class="field-row">
  <%= f.label :tanktype, "Tipe Tangki"  %>
  <input type="text" class="double disabled" value="<%= !@invoice_ori.tanktype.nil? ? @invoice_ori.tanktype : 'Harap memilih Tipe Kargo terlebih dahulu.' %>" />
  <%= f.hidden_field :tanktype, :value => @invoice_ori.tanktype %>
</div>

<% end %>

    <% 

    if params[:kosongan] || params[:kosongan] == true

        @customers = Customer.where(:enabled => true, :deleted => false).where("name LIKE '%RDPI%'").order(:name) 

    else

        @customers = Customer.where(:enabled => true, :deleted => false).where("name LIKE '%RDPI%' OR id in (SELECT DISTINCT customer_id as id from events WHERE customer_id is not null AND end_date BETWEEN current_date - interval '30' day AND current_date + interval '45' day)").order(:name) 

    end
    %>
  
  <% if !@customers.first.nil? %>

  <div class="field-row">
    <%= f.label :customer_id, "Pelanggan" %>

    <% if @iseditable or current_user.owner %>

     <% if active_node == "edit" %>

      <select id="invoice_customer_id" name="invoice[customer_id]" class="double combo_route chzn-select">
        <option value="0">- Pelanggan -</option>
        <% @customers.each do |customer| %>
        <option value="<%=customer.id%>"
          <% if customer.id == @invoice.customer_id %> selected="selected"<% end %>><%=customer.name%> - <%=customer.city.upcase%></option>
        <% end %>
      </select>

    <% else %>

      <select id="invoice_customer_id" name="invoice[customer_id]" class="double combo_route chzn-select">
        <option value="0">- Pelanggan -</option>
        <% @customers.each do |customer| %>
        <option value="<%=customer.id%>"
          <% if customer.id == @invoice_ori.customer_id %> selected="selected"<% end %>><%=customer.name%> - <%=customer.city.upcase%></option>
        <% end %>
      </select>

    <% end %>

    <% else %>
      <input type="text" class="double disabled" value="<%=@invoice.customer.name%>" />
      <%= f.hidden_field :customer_id, :value => @invoice.customer_id %>
    <% end %>
      
      <small>*Pelanggan yang ditampilkan adalah yang memiliki DO (minimal) pada H-15 hari ini.</small>
  </div> 

  <% end %>

  <div id="div_events">
    <div class="field-row">
      <%= f.label :event_id, "DO Kalender Event" %>
      <% if active_node == "edit" %>

      <input type="text" class="double disabled" value="<%= !@invoice.event.nil? ? "#"+@invoice.event.id.to_s+" "+@invoice.event.summary+" ("+@invoice.event.start_date.strftime('%d-%m-%y')+")" : 'Harap memilih pelanggan terlebih dahulu.' %>" />
      <%= f.hidden_field :event_id, :value => @invoice.event_id %>

      <% else %>

      <input type="text" class="double disabled" value="<%= !@invoice_ori.event.nil? ? "#"+@invoice_ori.event.id.to_s+" "+@invoice_ori.event.summary+" ("+@invoice_ori.event.start_date.strftime('%d-%m-%y')+")" : 'Harap memilih pelanggan terlebih dahulu.' %>" />
      <%= f.hidden_field :event_id, :value => @invoice_ori.event_id %>

      <% end %>
    </div>
  </div>
  
  <div id="div_routes">

    <% if active_node == "edit" %>
    <div class="field-row">
      <%= f.label :route_id, "Jurusan" %>
      <input type="text" class="double disabled" value="<%= !@invoice.route.nil? ? @invoice.route.name : 'Harap memilih pelanggan terlebih dahulu.' %>" />
      <%= f.hidden_field :route_id, :value => @invoice.route_id %>
    </div>

    <% else %>

    <div class="field-row">
      <label for="route_id">Jurusan</label>
      <select id="invoice_route_id" name="invoice[route_id]" class="chzn-select double combo_route" onchange="javascript:getAllowances();">
        <option value="0">- Pilih Jurusan -</option>
        <% @routes = Route.active.where('customer_id = ?', @invoice_ori.customer_id).order(:name)%>
        <% @routes.each do |route| %>
        <option value="<%=route.id%>"><%=route.name%> (<%=route.routegroup.name%>)</option>
        <% end %>
      </select>
      <small>*Jurusan yang ditampilkan diatas berdasarkan Pilihan Kantor.</small>
    </div>

    <% end %>

  </div>

  <div class="field-row">
    <%= f.label :vehicle_id, "Kendaraan" %>

    <% if @iseditable or current_user.owner %>
    <select id="invoice_vehicle_id" name="invoice[vehicle_id]" class="chzn-select half left combo_route" onchange="javascript:getAllowances();">
      <option value="0">- No Pol -</option>
      <% Vehicle.active.order(:current_id).each do |vehicle| %>
      <option value="<%=vehicle.id%>"<%= vehicle.id == @invoice.vehicle_id ? ' selected="selected"' : '' %>><%=vehicle.current_id%></option>
      <% end %>
    </select>  
    <% else %>
    <input type="text" class="double disabled" value="<%=@invoice.vehicle.current_id%>" />
    <%= f.hidden_field :vehicle_id, :value => @invoice.vehicle_id %>
    <% end %>         
  </div>
  
  <div class="field-row">
    <%= f.label :driver_id, "Supir" %>
    <% if @iseditable or current_user.owner %>
    <select id="invoice_driver_id" name="invoice[driver_id]" class="chzn-select double combo_route" onchange="javascript:getDriverPhone(this.value);">
      <option value="0">- Supir -</option>
      <% Driver.active.order(:name).each do |driver| %>
      <option value="<%=driver.id%>"<%= driver.id == @invoice.driver_id ? ' selected="selected"' : '' %>><%=driver.name%> (<%=zeropad(driver.id)%>)</option>
      <% end %>
    </select> 
    <%#= f.select :driver_id, options_for_select(Driver.active.order(:name).collect {|g| [g.name, g.id]}, @invoice.driver_id), {:include_blank => '- Supir -'}, :class => 'double chzn-select' %>
    <% else %>
    <input type="text" class="double disabled" value="<%=@invoice.driver.name%>" />
    <%= f.hidden_field :driver_id, :value => @invoice.driver_id %>
    <% end %>
  </div>

  <div id="<%= !@invoice.invoicetrain ? 'isonumber' : 'isoid' %>" class="field-row isotank_id" <%= @invoice.isotank_id.blank? || @invoice.isotank_id.to_i == 0 ? "style=display:none;" : '' %>>
    <%= f.label :isotank_id, "Nomor Isotank" %>
    <select id="invoice_isotank_id" name="invoice[isotank_id]" class="chzn-select double combo_route" onchange="javascript:getDriverPhone(this.value);">
      <option value="0">- No. Isotank -</option>
      <% Isotank.active.order(:isotanknumber).each do |isotank| %>
      <option value="<%=isotank.id%>"<%= isotank.id == @invoice.isotank_id ? ' selected="selected"' : '' %>><%=isotank.isotanknumber%></option>
      <% end %>
    </select>
  </div>

  <div id="<%= !@invoice.invoicetrain ? 'container_field' : 'container' %>" class="field-row container_id" <%= @invoice.container_id.blank? || @invoice.container_id.to_i == 0 ? "style=display:none;" : '' %>>
    <%= f.label :container_id, "No. Kontainer" %>
    <select id="invoice_container_id" name="invoice[container_id]" class="chzn-select double combo_route" onchange="javascript:getDriverPhone(this.value);">
      <option value="0">- No. Kontainer -</option>
      <% Container.active.order(:containernumber).each do |container| %>
      <option value="<%=container.id%>"<%= container.id == @invoice.container_id ? ' selected="selected"' : '' %>><%=container.containernumber%></option>
      <% end %>
    </select>
  </div>
  
  <div class="field-row">
    <%= f.label :driver_phone, "No.Hp Driver" %>
    <%= f.text_field :driver_phone, :class => 'half', :id => 'phone_driver' %>
  </div>

  <div class="field-row">
    <%=f.label :need_helper, "Kernet" %>
    <input type="checkbox" id="need_helper" name="invoice[need_helper]" value="Yes" <% if @invoice.need_helper == true %> checked="checked" <% end %> onchange="javascript:getAllowances();" />
  </div>

  <div class="field-row">
    <%=f.label :premi, "Premi" %>
    <input type="checkbox" id="premi" name="invoice[premi]" value="Yes" <% if @invoice.premi == true %> checked="checked" <% end %> onchange="javascript:getAllowances();" />
  </div>

  <div class="field-row">
    <%= f.label :quantity, "Jumlah" %>
    <select id="invoice_quantity" name="invoice[quantity]" class="half chzn-select" onchange="javascript:getAllowances();">
      <% (1..1).each do |i| %>
      <option value="<%=i%>"<% if i == @invoice.quantity %> selected="selected"<% end %>><%=i%> Rit</option>
      <% end %>
    </select>
  </div>

  <div class="field-row">
    <%= f.label :insurance, "Tanggungan" %>
    <%= f.text_field :insurance, :class => 'half', :style => 'text-align:right;', :onkeypress => 'javascript:return isNumberKey(this);', :value => @invoice.insurance.to_i %>
    <strong>Rupiah</strong>
    <span>(Uang Pertanggungan)</span>
  </div>  

  <div id="div_ship" style="display: block;">
    <div class="field-row">
      <%= f.label :ship_id, "Nama Kapal" %>

      <select id="invoice_ship_id" name="invoice[ship_id]" class="double chzn-select">
      <option value="0">- Pilih Kapal -</option>
      <% Ship.active.order(:name).each do |ship| %>
      <option value="<%=ship.id%>"
        <% if ship.id == @invoice.ship_id %> selected="selected"<% end %>><%=ship.name%></option>
      <% end %>
      </select>
    </div>
  </div>

  <div class="field-row">
    <%= f.label :spk_number, "Nomor SPK" %>
    <%= f.text_field :spk_number %>
  </div> 
  
  <div class="field-row">
    <%= f.label :description, "Keterangan" %>
    <%= f.text_field :description %>
  </div>  

  <div class="actions">
    <% if @invoice.receipts.active.count == 0 %>
    <%= f.submit "Lanjut ke Potongan Solar", :id => 'invoice_submit', :class => 'left' %>
    <% end %>
    <a class="back left" href="<%=invoices_path({:date => @invoice.date.strftime('%d-%m-%Y')})%>">Kembali ke Index</a>
  </div>

<% end %>