<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
	
	<div id="content-full">
		<a class="btn print" href="<%=new_invoice_path%>?kosongan=true"><i class="icon-plus-sign"></i> &nbsp;Tambah BKK Kosongan</a>
 
		<h1>Transaksi / <a href="kosongan">BKK Kosongan</a> / Index</h1>
		
		<br class="clearfix" />
		
		<div id="filter">
			<form id="filterform" name="filterform" action="" method="get">
			<div class="field-row continue">
				<label for="date" >Pilih Tanggal</label>
				<input type="text" name="date" class="half left date-picker" value="<%=@date%>" onchange="javascript:submitFormFilter();" />
                
                <label for="office_id" class="middle">Pilih Kantor</label>
                <select name="office_id" class="half left ">
                    
                    <option value="all">All</option>
                    <% @offices.each do |office| %>
                    <option value="<%=office.id%>" <% if @office_id.to_i == office.id %> name="office_id" selected="selected"<% end %>><%=office.name%></option>
                    <% end %>
                </select> 
                
                <input class="submit" type="submit" value="Filter" style="vertical-align: bottom;">
			</div>
 
			</form>
		</div>

		<br class="clearfix" />

		<table class="row-view">
			<tr>
				<th width="50">No.</th>
				<th>Keterangan</th>
				<th width="40">Ktr</th>
				<th width="80">NoPol</th>
				<th width="150">ISO/KONTAINER</th>
				<th width="50">NO. DO</th>
				<th width="50">User</th>
				<th width="90" class="right">Total</th>
				<th width="100"></th>
			</tr>

			<tr class="subheading">
				<th colspan="7" style="color:#000;">Bukti Kas Keluar Kosongan <span class="red"><%=@date.to_date.strftime('%d-%m-%Y')%> (<%=@invoices.count%>)</span></th>
			</tr>

			<% @invoices.each do |invoice| %>
			<% if invoice.deleted %>
				<% if current_user.adminrole %>
				<tr class="deleted">
					<td><%=zeropad(invoice.id) %></td>
					<td><%=invoice.quantity%> Rit: <%=invoice.route.name rescue nil%> (<%=invoice.driver.name rescue nil%>) <% if !invoice.description.blank?%> <br /> <%=invoice.description%>  <% end %> 
					</td>
                    <% if 
						# invoice.office.abbr == 'SUB' || invoice.office.abbr == 'PRB' || invoice.office.abbr == 'SMT' || invoice.office.abbr == 'CP' 
						invoice.office.abbr == ''
					%>
                    <td class="red"><%=invoice.office.abbr%></td>    
                    <% else %>
                    <td><%=invoice.office.abbr%></td>
                    <% end %>
					
					<td><%=invoice.vehicle.current_id rescue nil%></td>
					<td>
					<% if (invoice.isotank_id.present? && invoice.isotank_id.to_i != 0) %>
						<% if invoice.isotank.category == 'SEWA' %>
							<span style="color: blue;"><%= (invoice.isotank_id.present? && invoice.isotank_id.to_i != 0) ? ( invoice.isotank.isotanknumber) : invoice.isotank_number %> (SW)</span>
						<% elsif invoice.isotank.category == 'FREEUSE' %>
							<span style="color: red;"><%= (invoice.isotank_id.present? && invoice.isotank_id.to_i != 0) ? ( invoice.isotank.isotanknumber) : invoice.isotank_number %> (FR)</span>
						<% else %>
							<%= (invoice.isotank_id.present? && invoice.isotank_id.to_i != 0) ? ( invoice.isotank.isotanknumber) : invoice.isotank_number %> (BL)
						<% end %>
					<% end %>
					<% if (invoice.container_id.present? && invoice.container_id.to_i != 0) %>
						<% if invoice.container.category == 'SEWA' %>
							<span style="color: blue;"><%= (invoice.container_id.present? && invoice.container_id.to_i != 0) ? ( invoice.container.containernumber) : invoice.container_number %> (SW)</span>
						<% elsif invoice.container.category == 'FREEUSE' %>
							<span style="color: red;"><%= (invoice.container_id.present? && invoice.container_id.to_i != 0) ? ( invoice.container.containernumber) : invoice.container_number %> (FR)</span>
						<% else %>
							<%= (invoice.container_id.present? && invoice.container_id.to_i != 0) ? ( invoice.container.containernumber) : invoice.container_number %> (BL)
						<% end %>
					<% end %> 
					</td>
					<td><%=invoice.event_id rescue nil%></td>
                    <td width="50"><%= invoice.user.blank? ? '' : invoice.user.username %></td>
                    <% if 
						# invoice.office.abbr == 'SUB' || invoice.office.abbr == 'PRB' || invoice.office.abbr == 'SMT' || invoice.office.abbr == 'CP'
						invoice.office.abbr == '' 
					%>
                    <td align="right" class="red">
                        <%=to_currency(0)%>
                    </td>    
                    <% else %>
                    <td align="right">        
                        <%=to_currency(invoice.total)%>
                    </td>
                    <% end %>
					
                    <td width="60">DIHAPUS</td>
				</tr>
				<% end %>
			<% else %>
			<tr>
				<td><%= link_to zeropad(invoice.id), edit_invoice_path(invoice) %></td>
				<td><%=invoice.quantity%> Rit: <%=invoice.route.name rescue nil%> (<%=invoice.driver.name rescue nil%>) <% if !invoice.description.blank?%> <br /> <%=invoice.description%><% end %> 
                </td>
				<% if 
				# invoice.office.abbr == 'SUB' || invoice.office.abbr == 'PRB' || invoice.office.abbr == 'SMT' || invoice.office.abbr == 'CP' 
				invoice.office.abbr == ''
				%>
                <td class="red"><%=invoice.office.abbr%></td>    
                <% else %>
                <td><%=invoice.office.abbr%></td>
                <% end %>
				<td><%=invoice.vehicle.current_id rescue nil%></td>
				<td>
				<% if (invoice.isotank_id.present? && invoice.isotank_id.to_i != 0) %>
					<% if invoice.isotank.category == 'SEWA' %>
						<span style="color: blue;"><%= (invoice.isotank_id.present? && invoice.isotank_id.to_i != 0) ? ( invoice.isotank.isotanknumber) : invoice.isotank_number %> (SW)</span>
					<% elsif invoice.isotank.category == 'FREEUSE' %>
						<span style="color: red;"><%= (invoice.isotank_id.present? && invoice.isotank_id.to_i != 0) ? ( invoice.isotank.isotanknumber) : invoice.isotank_number %> (FR)</span>
					<% else %>
						<%= (invoice.isotank_id.present? && invoice.isotank_id.to_i != 0) ? ( invoice.isotank.isotanknumber) : invoice.isotank_number %> (BL)
					<% end %>
				<% end %>
				<% if (invoice.container_id.present? && invoice.container_id.to_i != 0) %>
					<% if invoice.container.category == 'SEWA' %>
						<span style="color: blue;"><%= (invoice.container_id.present? && invoice.container_id.to_i != 0) ? ( invoice.container.containernumber) : invoice.container_number %> (SW)</span>
					<% elsif invoice.container.category == 'FREEUSE' %>
						<span style="color: red;"><%= (invoice.container_id.present? && invoice.container_id.to_i != 0) ? ( invoice.container.containernumber) : invoice.container_number %> (FR)</span>
					<% else %>
						<%= (invoice.container_id.present? && invoice.container_id.to_i != 0) ? ( invoice.container.containernumber) : invoice.container_number %> (BL)
					<% end %>
				<% end %> 
				</td>
				<td><%=invoice.event_id rescue nil%></td>
				<td width="50"><%= invoice.user.blank? ? '' : invoice.user.username %></td>
				<% if 
				# invoice.office.abbr == 'SUB' || invoice.office.abbr == 'PRB' || invoice.office.abbr == 'SMT' || invoice.office.abbr == 'CP' 
				invoice.office.abbr == ''
				%>
                <td align="right" class="red">
                    <%=to_currency(0)%>
                </td>    
                <% else %>
                <td align="right">        
                    <%=to_currency(invoice.total)%>
                </td>
                <% end %>
				
                <td class="right" width="60">
					<% if invoice.receipts.active.count == 0 %>
						<%= link_to '&#xf044;'.html_safe, edit_invoice_path(invoice), :class => "edit tipsy", :title => 'Edit' %> 
					<% end %>
					<a href="/invoices/<%=invoice.id%>/confirmation" class="delete tipsy" title="Print BKK"><i class="icon-print"></i></a>
					<% if invoice.receipts.active.count == 0 %>
						<%= link_to '&#xf00d;'.html_safe, invoice, :class => "delete tipsy", :title => 'Hapus', :confirm => 'Apakah anda yakin?', :method => :delete %>
					<% end %>
				</td>
			</tr>
			<% end %>				
			<% end %>		
		
		</table>

		<div class="actions">
			<a class="btn-txt right" href="<%=new_invoice_path%>?kosongan=true"><i class="icon-plus-sign"></i> &nbsp;Tambah BKK Kosongan</a>
		</div>
	</div>

</div>