<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<style>
	.green {
		background-image: linear-gradient(#4CAF50, #4CAF50) !important;
		border-color: #8BC34A #8BC34A #8BC34A !important;
		pointer-events: none !important;
	}

	.disabled {
		pointer-events: none !important;
	}
</style>

<div id="main">
	<div id="content-full">

		<div style="width: 100%;display: flex;justify-content: space-between;align-items: center;">

		<% if params[:operational] || params[:operational] == true %>
			<a class="btn-txt cancel" href="<%= quotationgroups_url %>"><i class="icon-remove"></i> Kembali Ke Penawaran</a>
			<h1>Marketing / <a href="<%=quotationgroups_path%>">Penawaran</a> / Edit</h1>
		<% else %>

			<h1 style="">
			<!-- <a class="btn-txt cancel" href="<%=quotationgroups_url%>"><i class="icon-remove"></i> Kembali Ke Penawaran</a> -->
			Edit Penawaran
			</h1>

			<span>
			<% if checkrole 'Admin Marketing' %>

				<% if @quotationgroup.confirmed && !@quotationgroup.is_sent %>
					<a class="btn-txt" style="margin-bottom: 12px;" href='approve_sent'>Kirim</a>
				<% end %>

				<% if @quotationgroup.is_sent && ! @quotationgroup.customer_approved %>
					<a class="btn-txt" style="margin-bottom: 12px;" href='approve_customer'>Customer Approve</a>
				<% end %>

			<% end %>

			<% if @quotationgroup.customer_approved%>
				<a class="btn-txt green disabled" href="#" style="margin-bottom: 12px;"><i class="icon-check"></i> Cust Approved</a>
			<% end %>

			</span>
		<% end %>

		</div>

		<% tab = 0 %>
		<ul class="rounded" id="tabbed">
			<li><a id="link_<%=tab+=1%>" href="">Data Penawaran</a></li>
			<% if checkrole 'Admin Jurusan, Admin Marketing, Marketing' %>
			<li><a id="link_<%=tab+=1%>" href="">Data Jurusan</a></li>
			<% end %>
			<li><a id="link_<%=tab+=1%>" href="">Preview</a></li>
			<li><a id="link_<%=tab+=1%>" href="">Status</a></li>
			<li><a id="link_<%=tab+=1%>" href="">Riwayat Penawaran</a></li>
		</ul>

		<br class="clearfix" />
 
		<% tab = 0 %>
		<div id="sliding_window">
		    <div class="sliding_container">

			    <div class="sliding_tab" id="tab_<%=tab+=1%>">
					<%= render "form" %>
					<div style="float: left; width: 300px;">
							<% if @quotationgroup %>

								<h3 class="zone" style="font-weight: bold;">Lampiran</h3>

								<% if @quotationgroup.images.where("file_uid is not null and file_uid <> ''").any? %>
									<% @quotationgroup.images.where("file_uid is not null and file_uid <> ''").each do |img| %>
									<% ext = File.extname(img.file_uid).strip.downcase[1..-1] %>
								
									<% if(ext == 'jpg' || ext == 'jpeg' || ext == 'png' )  %>
									
										<a href="<%= img.file.url if img.file_uid rescue file_url(img) %>" target="_blank">
										<%= image_tag file_url(img), style: "width: 100%;" %>
										</a>

									<% else %>
									
										<a href="<%= img.file.url if img.file_uid rescue file_url(img) %>" target="_blank">
										<%= img.file_uid ? File.basename(img.file_uid).truncate(40) : '' %>
										</a>
									
									<% end %>

									<br /><br />
									
									<div style="display: flex; align-items: center; justify-content: space-between; margin-top: 0.5rem; font-size: 10px;">
										<span style="font-size: 10px; color: #717171;"><%= img.name rescue nil %> Diupload: <%= img.created_at.strftime('%d-%m-%Y') rescue nil %></span>

										<% if img.enabled %>
										<%= link_to '&raquo; Hapus File'.html_safe, '/attachments/removeQuot/' + @quotationgroup.images.first.id.to_s %>
										<% else %>
										<span style="font-size: 10px; color: #717171;">Dihapus</span>
										<% end %>

									</div>

									<br /><br />
								<% end %>

							<% end %>

							<form action="/attachments/uploadQuot" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
							<input type="hidden" name="model_name" value="quotationgroup" />
							<input type="hidden" name="item_id" value="<%=@quotationgroup.id%>" />

							<div class="field-row" style="width: 300px;">
								<label for="name" style="width: 100%;">Tambah Lampiran</label>
								<%= select_tag 'attachment[name]', options_for_select(@attachments_category), style: 'width: 300px;' %>
							</div>

							<div class="field-row continue" style="width: 100%;">
								<label for="file">Browse File</label>
								<input type="file" name="attachment[file]"/>
							</div>

							<div class="actions" style="text-align: center; padding: 1rem; margin-bottom: 1.5rem;">
								<input type="submit" value="Simpan File" />
							</div>

							</form>
						<% end %>	
					</div>
				</div>

			    <div class="sliding_tab" id="tab_<%=tab+=1%>">
					<%= render "quotationitem" %>
			    </div>

				<div class="sliding_tab" id="tab_<%=tab+=1%>">
					<%= render "preview" %>
			    </div>

				<div class="sliding_tab" id="tab_<%=tab+=1%>">
					<%= render "status" %>
			    </div>

				<div class="sliding_tab" id="tab_<%=tab+=1%>">
					<%= render "quotationlog" %>
			    </div>
				
			</div>
		</div>

		<br class="clearfix" />
	</div>
</div>