<style type="text/css">

	#main .row-view th {
		text-transform: uppercase;
		font-size: 12px;
		font-weight: 600;
		padding: 7px 10px 7px 0;
	}

	#main .row-view td {
		font-size: 12px;
	}

	#transfer-div {
		position: absolute;
		width: 50%;
		bottom: 3%;
		left: 1%;
		padding: 5px;
		border: solid 2px #000;
	}

	.headsignature {margin-top:0px;margin-left: 250px;}

	.btnprint_receipttaxinvitem {
    border-radius: 3px;
    border: 0;
    margin-right: 10px;
	padding: 7px 10px;
    text-decoration: none;
    font-size: 13px;
    font-weight: 900;
    cursor: pointer;
    letter-spacing: 0.05em;
    background-color: #24748f !important;
    background-repeat: repeat-x;
    background-image: linear-gradient(#2d95b7, #23748e);
    border-color: #23748e #23748e #216c85;
    color: #fff !important;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.16);
    -webkit-font-smoothing: antialiased;
		float: right;
		margin: 0 5px;
	}

	@media print{
		#main .field-row.continue { padding: 5px; }
		#main .invoice-paper { font-size: 14px; }

		#main .invoice-paper .nopol-col { width: 90px; }

		#main .invoice-paper .field-row input { font-size: 16px; }
		
		#main .invoice-paper .field-row label { width: 85px; }

		#main .invoice-paper .row-view th {
			font-size: 17px;
			padding: 5px;
		}

		#main .invoice-paper .row-view tr { font-size: 16px; }

		.row-view th {
			border: 2px black solid;
		}
		.row-view td {
			border: 2px black solid;
		}
		
		@page { margin-top:120px;margin-bottom:120px; }

		.d-none-print {
			display: none;
		}
	}

	label {
		width: 120px;
	}
</style>
<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>


<div id="main">
	
	<div id="content-full" class="invoice-paper">
		<a class="btn-txt cancel hideprint" href="<%= receipttaxinvitems_path(:startdate => @receipt.created_at.strftime('%d-%m-%y'), :enddate => @receipt.created_at.strftime('%d-%m-%y'))%>"><i class="icon-remove"></i> Batal</a>
		<!-- <a class="print btn" href="javascript:print();"><i class="icon-print"></i> Print</a> -->
		<button class="btnprint_receipttaxinvitem hideprint" onclick="javascript:print_receipttaxinvitem();"><i class="icon-print"></i> Print</button>
 
		<a class="print btn-txt btn-green" style="margin: 0;" href="<%= detail_excel_receipttaxinvitem_path(@receipt.id) %>"><i class="icon-file"></i> Excel</a>

		<input type="hidden" id="receipt_id" value="<%= @receipt.id %>">
		<input type="hidden" id="printdate" value="<%= @receipt.printdate rescue nil %>">
		<h1 class="hideprint"><%=Setting.find_by_name("Client Name").value%> / Tanda Terima Surat Jalan</h1>

 		<br class="clear" />
 		<br class="clear" />
		<% if @receipt.taxinvoiceitems.any? %>
		<h1 style="text-align: center;" id="title_receipt">TANDA TERIMA SURAT JALAN</h1>
 		<br class="clear" />
 		<br class="clear" />

		<table class="row-view no-border" style="width: 97%; margin-left: 0">
		  <tr>
		    <th width="20" style="text-align:center">NO</th>
		    <th width="40" class="nopol-col" style="text-align:center">TGL</th>
		    <th width="50" class="nopol-col" style="text-align:center">DO</th>
		    <th width="150" style="text-align:center">KETERANGAN</th>
		    <th width="90" style="text-align:center">NOPOL</th>
		    <th width="100" style="text-align:center">PELANGGAN</th>
		    <th width="100" style="text-align:center">NO SJ</th>
			<th width="40" class="qty-col" style="text-align:center">TGL MUAT</th>
			<th width="40" class="qty-col" style="text-align:center">TGL BKR</th>
			<th width="40" class="qty-col" style="text-align:center">MUAT</th>
			<th width="40" class="qty-col" style="text-align:center">BKR</th>
		    <th style="text-align: center; width: 80px;">S<span style="opacity:0;">.</span>J</th>
		    <th style="text-align: center; width: 80px;">INV</th>
		    <th width="40" class="qty-col" style="text-align:center">UPlD</th>
		    <th width="50" class="nopol-col" style="text-align:center">USER</th>
		  </tr>

			<% @receipt.taxinvoiceitems.order(:date, :sku_id).includes(:invoice, :user).each_with_index do |taxinvoiceitem, i| %>
				<%
					invoice = taxinvoiceitem.invoice
					second_driver = invoice.invoices.active.first.driver.name rescue nil
				%>
				<tr>
					<td style="padding: 3px 6px;"><%=i+1%>.</td>
					<td style="padding: 3px 6px;"><%= taxinvoiceitem.date.strftime('%d/%m/%y') rescue nil %></td>
					<td style="padding: 3px 6px;" align="center"><strong><%= invoice.event_id rescue nil %></strong></td>
					<td style="padding: 3px 6px;">
					<strong>#<%=zeropad(invoice.id)%></strong>: <%= invoice.quantity %> Rit
					<%=invoice.route.name%> (<%=invoice.driver.name%><%= second_driver.nil? ? '' : ', ' +second_driver %>) 
					<%= invoice.user_id.present? ? ('| ' + (invoice.user.username rescue nil)) : '' %>
					<br/>
					<strong><%= (invoice.isotank_id.present? && invoice.isotank_id.to_i != 0) ? ( invoice.isotank.isotanknumber) : '' %>
					<%= (invoice.container_id.present? && invoice.container_id.to_i != 0) ? ( invoice.container.containernumber) : '' %></strong>
					</td>
					<td style="padding: 3px 6px;">
						<% if invoice.vehicle_duplicate.present? && invoice.vehicle_duplicate_id != 0 %>
							<strong><%= invoice.vehicle_duplicate.current_id rescue nil %></strong>
						<% else %>
							<%= invoice.vehicle.current_id rescue nil %>
						<% end %>
						<span style="display: none;">
							<% if invoice.invoicetrain %>,<% if invoice.invoices.first %> <%= taxinvoiceitem.invoice.invoices.first.vehicle.current_id %> <% end %> <% end %>
						</span>
					</td>
					<td style="padding: 3px 6px;"><%= taxinvoiceitem.customer.name rescue nil %></td>
					<td style="padding: 3px 6px;"><%= taxinvoiceitem.sku_id rescue nil %></td>
					<td style="padding: 3px 6px;"><%= taxinvoiceitem.load_date.strftime('%d/%m/%y') rescue nil %></td>
					<td style="padding: 3px 6px;"><%= taxinvoiceitem.unload_date.strftime('%d/%m/%y') rescue nil %></td>
					<td style="padding: 3px 6px;" align="right"><% if taxinvoiceitem.weight_gross == 0 %> - <% else %> <%=taxinvoiceitem.weight_gross%> <% end %> </td>
					<td style="padding: 3px 6px;" align="right"><%=taxinvoiceitem.weight_net%></td>
					<td style="padding: 3px 6px;" align="center">1 / 1</td>
					<td style="padding: 3px 6px;" align="center"><%= taxinvoiceitem.invoice_id.present? ? '1' : '0' %> / 1</td>
					<td style="padding: 3px 6px;" align="center">1 / 1</td>
					<td style="padding: 3px 6px;"><%= taxinvoiceitem.user.username rescue nil %></td>
				</tr>
			<% end %>
		</table>

		<br>
		<br>
		<table style="width: 100%;">
			<tr><td colspan="2"><strong id="printdate_label">Tanggal : <%= @receipt.printdate.strftime('%d-%m-%y') rescue nil %></strong></td></tr>
			<tr>
				<td>Diserahkan</td>
				<td>Penerima</td>
			</tr>
		</table>
		<% end %>
	</div>

</div>