<%= form_for(@containermemo) do |f| %>

  <div class="field-row first">
    <%= f.label :date, "Tanggal" %> 
    <%= f.text_field :date, :class => 'left half date-picker'%> 
  </div>

	<div class="field-row">
		<%= f.label :vendor_id, "Vendor" %>
		<select id="containermemo_vendor_id" name="containermemo[vendor_id]" class="double chzn-select">
		<option value="0">- Pilih Vendor -</option>
		<% Vendor.active.container.order(:name).each do |vendor| %>
		<option value="<%=vendor.id%>"
			<% if vendor.id == @containermemo.vendor_id %> selected="selected"<% end %>><%=vendor.name%> - <%=vendor.abbr%></option>
		<% end %>
		</select>
	</div>

  <div class="field-row">
    <%= f.label :container_type, "Tipe Kontainer"  %>
    <%= f.select :container_type, options_for_select(@contype.collect {|w| [w, w]}, (params[:container_type].present? ? params[:type] : @containermemo.container_type)), {}, { :class => 'half chzn-select' } %>
  </div>

  <div class="field-row">
    <%= f.label :container_id, "No. Kontainer" %>
    <select id="containermemo_container_id" name="containermemo[container_id]" class="chzn-select double">
      <option value="0">- No. Kontainer -</option>
      <% Container.active.sewa.order(:containernumber).each do |container| %>
      <option value="<%=container.id%>"<%= container.id == @containermemo.container_id ? ' selected="selected"' : '' %>><%=container.containernumber%></option>
      <% end %>
    </select>
  </div>

  <div class="field-row">
    <% @quant = Array(0..30) %>
    <%= f.label :storage_day, "Hari Sewa" %>   
    <%= f.select :storage_day, options_for_select(@quant.collect {|w| [w, w]}, (params[:storage_day].present? ? params[:storage_day] : @containermemo.storage_day)), {}, { :class => 'half', :onchange => 'javascript:count_containermemo();' } %>
    <span style="position: absolute; margin-top: 0.5rem;"><strong>Hari</strong></span>
  </div>

  <div class="field-row">
    <%= f.label :price_per, "Biaya Sewa /Hari" %>    
    <%= f.text_field :price_per, :class => 'half', :onkeyup => 'javascript:count_containermemo();', :onchange => 'javascript:count_containermemo();', :onkeypress => 'javascript:return isNumberKey(this);', :value => @containermemo.price_per.to_i %>    
    <strong>Rupiah</strong>
  </div>
    
  <div class="field-row">
    <%= f.label :container_fee, "Biaya LOLO" %>    
    <%= f.text_field :container_fee, :class => 'half', :onkeyup => 'javascript:count_containermemo();', :onchange => 'javascript:count_containermemo();', :onkeypress => 'javascript:return isNumberKey(this);', :value => @containermemo.container_fee.to_i %>
    <strong>Rupiah</strong>
  </div>

  <div class="field-row">
    <%= f.label :total, "Total" %>    
    <%= f.text_field :total, :class => 'half', :readOnly => 'true', :value => @containermemo.total.to_i %>
    <strong>Rupiah</strong>
  </div>

  <div class="field-row">
    <%= f.label :description, "Keterangan" %>
    <%= f.text_area :description, :rows => 2, :class => 'half' %>
  </div>

</div>

<div class="actions">
  <%= f.submit "Tambah Data", :id => 'containermemo_submit', :class => 'left' if checkrole 'Admin Marketing, Admin Operasional' %>
  <a class="back left" href="/events/<%=@event_id%>/edit">Kembali ke Index</a>
</div>

<% end %>

<%= content_for :js do %>
  <script>
    function formatRupiah(angka, prefix, decimal_place = 0) {
      if (typeof(angka) == 'number') {
        angka = angka.toFixed(decimal_place);
        angka = angka.toString();
      }

      var number_string = angka.replace(/[^,\d]/g, '').toString(),
        split = number_string.split(','),
        sisa = split[0].length % 3,
        rupiah = split[0].substr(0, sisa),
        ribuan = split[0].substr(sisa).match(/\d{3}/gi);

      // tambahkan titik jika yang di input sudah menjadi angka ribuan
      if (ribuan) {
        separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
      }

      rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    }

    function clean_currency(string) {
      return parseInt(string.replaceAll(".","").replaceAll(",","."));
    }

    function count_containermemo() {
      price_per = $("#containermemo_price_per").val();
      storage_day = $("#containermemo_storage_day").val();
      container_fee = $("#containermemo_container_fee").val();
      price_per = price_per == "" ? 0 : clean_currency(price_per);
      container_fee = container_fee == "" ? 0 : clean_currency(container_fee);

      //$("#containermemo_total").val(formatRupiah(price_per * storage_day + container_fee));
      $("#containermemo_total").val(price_per * storage_day + container_fee);
    }

  </script>
<% end %>