<%= form_for(@invoice) do |f| %>
  
  <%= render "info-box", :f => f %>

 <div class="field-row first">
    <%= f.label :office_id, "Kantor" %>
    <% if @iseditable %>
    <%= f.select :office_id, options_for_select(Office.where(:deleted => false).collect {|g| [g.name, g.id]}, @invoice.office_id), {}, :class => 'half chzn-select'%>
    <% else %>
    <input type="text" class="double disabled" value="<%=@invoice.office.name%>" />
    <%= f.hidden_field :office_id, :value => @invoice.office_id %>
    <% end %>
  </div>

  <div class="field-row">
    <%= f.label :date, "Tanggal" %>
    <%= f.text_field :date, :class => 'half date-picker', :value => @invoice.date.strftime('%d-%m-%Y') %>
    <span>(tgl/bln/thn)</span>
  </div>

  <div class="field-row first">
    <%= f.label :customer_id, "Nama Customer" %>
    <%= f.select :customer_id, options_for_select(Customer.where(:enabled => true, :deleted => false).collect {|g| [g.name, g.id]}, @invoice.customer_id), {}, :class => 'double chzn-select', :id => 'cust-opt'%>
  </div>

  <div class="field-row first">
    <%= f.label :route_id, "Jurusan" %>
    <%= f.select :route_id, options_for_select(Route.where(:enabled => true, :deleted => false).order(:name).collect {|g| [g.name, g.id]}, @invoice.route_id), {}, :class => 'double chzn-select'%>
  </div>
  
  

  <div id="div_routes">

    <% @routes = Route.where(:enabled => true, :deleted => false).order(:name) %>
    <% @customers = Customer.where(:enabled => true, :deleted => false).order(:name) %>
    <% if !@routes.first.nil? %>

   <!--  <div class="field-row">
      <label for="customer_id">Pelanggan</label>
      <% if @iseditable or current_user.owner %>
        <select id="invoice_customer_id" name="invoice[customer_id]" class="double chzn-select">
          <option value="0">- Pelanggan -</option>
          <% @customers.each do |customer| %>
          <option value="<%=customer.id%>"<% if customer.id == @invoice.customer_id %> selected="selected"<% end %>><%=customer.name%></option>
          <% end %>
        </select>
        <% else %>
        <input type="text" class="double disabled" value="<%=@invoice.customer.name%>" />
        <%= f.hidden_field :customer_id, :value => @invoice.customer_id %>
      <% end %>         
    </div> 
 
     <div class="field-row">
      <label for="route_id">Jurusan</label>
      <% if @iseditable or current_user.owner %>
      <select id="invoice_route_id" name="invoice[route_id]" class="double combo_route chzn-select" onchange="javascript:getAllowances();">
        <option value="0">- Jurusan -</option>
        <% @routes.each do |route| %>
        <option value="<%=route.id%>"<% if route.id == @invoice.route_id %> selected="selected"<% end %>><%=route.name%> (<%= route.customer.name%>)</option>
        <% end %>
      </select>
      <% else %>
      <input type="text" class="double disabled" value="<%=@invoice.route.name%>" />
      <%= f.hidden_field :route_id, :value => @invoice.route_id %>
      <% end %>         
    </div>  -->

    <div id="div_vehicle">
    <div class="field-row">
      <input type="hidden" id="invoice_vehiclegroup_id" name="invoice[vehiclegroup_id]" value="<%= @invoice.vehiclegroup_id%>" >
      <%= f.label :vehicle_id, "Kendaraan" %>
      <% if @iseditable or current_user.owner %>
       <select id="invoice_vehicle_id" name="invoice[vehicle_id]" class="double chzn-select" onchange="javascript:getAllowances();">
        <option value="0">- No Pol -</option>
        <% Vehicle.active.order(:current_id).each do |vehicle| %>
        <option value="<%=vehicle.id%>"<% if vehicle.id == @invoice.vehicle_id %> selected="selected"<% end %>><%=vehicle.current_id%> (<%=vehicle.vehiclegroup.name%>)</option>
        <% end %>
      </select>
      <% else %>
      <input type="text" class="double disabled" value="<%=@invoice.vehicle.current_id%> (<%=@invoice.vehicle.vehiclegroup.name%>)" />
      <%= f.hidden_field :vehicle_id, :value => @invoice.vehicle_id %>
      <% end %>
    </div>
    </div>

    <% end %>

  </div>

  <div class="field-row">
    <%= f.label :driver_id, "Supir" %>
    <% if @iseditable or current_user.owner %>
    <%= f.select :driver_id, options_for_select(Driver.active.order(:name).collect {|g| [g.name, g.id]}, @invoice.driver_id), {:include_blank => '- Supir -'}, :class => 'double chzn-select' %>
    <% else %>
    <input type="text" class="double disabled" value="<%=@invoice.driver.name%>" />
    <%= f.hidden_field :driver_id, :value => @invoice.driver_id %>
    <% end %>
  </div>

  <div class="field-row">
    <%=f.label :need_helper, "Kernet" %>
    <input type="checkbox" id="need_helper" name="invoice[need_helper]" value="Yes" <% if @invoice.need_helper == true %> checked="checked" <% end %> onchange="javascript:getAllowances();" />
  </div>

  <div class="field-row">
    <%= f.label :quantity, "Jumlah" %>
    <select id="invoice_quantity" name="invoice[quantity]" class="half chzn-select" onchange="javascript:getAllowances();">
      <% (1..15).each do |i| %>
      <option value="<%=i%>"<% if i == @invoice.quantity %> selected="selected"<% end %>><%=i%> Rit</option>
      <% end %>
    </select>
  </div>

  <div class="field-row">
    <%= f.label :insurance, "Tanggungan" %>
    <%= f.text_field :insurance, :class => 'half', :style => 'text-align:right;', :onkeypress => 'javascript:return isNumberKey(this);', :value => @invoice.insurance.to_i %>
    <strong>Rupiah</strong>
    <span>(Uang Pertanggungan)</span>
  </div>  

  <!--
  <div class="field-row">
    <%= f.label :ship_name, "Nama Kapal" %>
    <%= f.text_field :ship_name %>
  </div>  
  -->

  <div class="field-row">
    <%= f.label :description, "Keterangan" %>
    <%= f.text_field :description %>
  </div>  

  <div class="actions">
    <% if @invoice.receipts.active.count == 0 %>
    <%= f.submit "Lanjut ke Potongan Solar", :id => 'invoice_submit', :class => 'left' %>
    <% end %>
    <a class="back left" href="<%=invoices_path%>">Kembali ke Index</a>
  </div>

<% end %>
