<% if @receiptincentive %>

	<%= form_for(@receiptincentive) do |f| %>
		<% if @errors.include?'receiptincentive' %>
	      <div class="field-row red">
	        <%=@errors['receiptincentive']%>
	      </div>
	    <% end %>

  		<div class="info-box" style="margin-bottom:30px;">  
  			<h3>Bukti Kas Keluar #<%=zeropad(@receiptincentive.invoice.id)%></h3>

  			<table class="row-view no-border">
				<tr>
			        <td width="90">Tanggal</td>
			        <td><%=@receiptincentive.invoice.date.strftime('%d-%m-%Y')%>&nbsp;(KTR: <%=@receiptincentive.invoice.office.name%>)</td>
			    </tr>
			    <tr>
			        <td>Pelanggan</td>
			        <td><%=@receiptincentive.invoice.customer.name%></td>
			    </tr>
		        <tr>
			        <td>Jurusan</td>
			        <td><strong><%=@receiptincentive.incentive.quantity%></strong> Rit: <%=@receiptincentive.invoice.route.name%></td>
	     	    </tr>
	     	    <tr>
		          <td>Tipe</td>
		          <td><%=@receiptincentive.invoice.route.routegroup.name%></td>
		        </tr>
			    <tr>
			        <td>Kendaraan</td>
			        <td><%=@receiptincentive.invoice.vehicle.current_id%>&nbsp;(UP: <%= @receiptincentive.invoice.insurance > 0 ? "Ada" : "Tidak Ada" %>)</td>
			    </tr>
			    <tr>
			        <td>Supir</td>
			        <td><%=@receiptincentive.invoice.driver.name%><% if !@receiptincentive.invoice.driver.helpers.first.nil? %> &nbsp;(Kernet: <%=@receiptincentive.invoice.driver.helpers.first.name%>)<% end %></td>
      			</tr>       			   
  			</table>

  			<table class="row-view">
  				<tr>
	  				<th width="90">Keterangan</th>
			        <th>&nbsp;</th>
			        <th width="160" class="right" style="padding-right:5px;">Total</th>
		    	</tr>
		    	<tr>
		    		<td>Insentif</td>
		    		<td>&nbsp;</th>
		    		<td class="half allowance-field"><%= to_currency(@receiptincentive.total)%></td>
		    	</tr>
		    	<tr class="total-row">
			        <td><%= f.label :total, "Total" %></td>
			        <td>&nbsp;</td>
			        <td><%= f.text_field :total, :class => 'half disabled allowance-field', :value => to_currency(@receiptincentive.total), :readOnly => 'true' %></td>
			    </tr>
  			</table>
  		</div>

  		<div class="field-row first" style="margin-bottom:-20px;">
		    <%= f.label :created_at, "Tgl Konfirmasi" %>
		    <%= f.text_field :created_at, :class => 'half date-picker', :value => to_currency(@receiptincentive.created_at.strftime('%d-%m-%Y')) %>
		    <%= f.hidden_field :receiptincentive_id, :value => @receiptincentive.id %>
		</div>
	  
	  	<div class="actions">
	    	<%= f.submit "Tambah Data", :class => 'submit' %> 
	  	</div>
	<% end %>
<% end %>