<table class="row-view">
	<tr>
		<th width="50">BKK</th>
		<th width="80">Tanggal</th>
		<th>Keterangan</th>
		<th width="110" class="right">Total</th>
		<th width="60"></th>
	</tr>
	<% if @receiptincentives %>
	<% @receiptincentives.each do |receiptincentive| %>
	<tr>
		<td><%= zeropad(receiptincentive.invoice_id) %></td>
		<td><%= receiptincentive.date.strftime('%d-%m-%Y') %></td>
		<td><%= receiptincentive.incentive.quantity %> Rit: <%= receiptincentive.invoice.route.name %></td>
		<td class="red" align="right"><%=to_currency(receiptincentive.total)%></td>
		<td class="right">
			<%= link_to '&#xf00d;'.html_safe, receiptincentive, :class => "delete tipsy", :title => 'Hapus', :confirm => 'Apakah anda yakin?', :method => :delete %>
		</td>		
	</tr>
	<% end %>	
	<% end %>

</table>