<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
	
	<div id="content-full">
		<a class="btn-txt right" href="<%=new_user_path%>"><i class="icon-plus-sign"></i> &nbsp;Tambah</a>
		<h1><a href="<%=users_path%>">Users</a> / Index</h1>
		
		<br class="clearfix" />
			<%= render "showtable" %>
		
		<br class="clearfix" />
		<div class="actions">
			<a class="btn-txt right" href="<%=new_user_path%>"><i class="icon-plus-sign"></i> &nbsp;Tambah</a>
		</div>
	</div>

</div>