<div id="header">
	
	<div class="wrapper">

		<h1 id="logo"><%=Setting.find_by_name("Client Name").value%></h1>

		<% if user_signed_in? %>

		<ul id="topnav">
			<li class="<%= @section == 'reports' ? 'on' : '' %>">
				<a class="icon-dashboard" href="/dashboard"></a>
			</li>
			<li class="<%= @section == 'masters' ? 'on' : '' %>">
				<a class="finger" onclick="javascript:toggleSub('masters');">Master</a>

				<ul id="sub-masters" class="submenu">
					<li><%= link_to_if (checkrole 'Admin Keuangan, Marketing, Admin Marketing, Admin Pelanggan, Lihat Pelanggan'), "Pelanggan", "/customers" %></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Master Jurusan, User Jurusan'), "Jurusan", "/routes" %></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Admin HRD, Admin Keuangan, Operasional BKK, Vendor Supir, Admin Supir'), "Supir", "/drivers" %></li>
                    <li><%= link_to_if (checkrole 'Admin HRD'), "Staf", "/staffs" %></li>
					<li><%= link_to_if (checkrole 'Admin HRD, Admin Operasional'), "Mekanik", "/mechanics" %></li>
                    <li class="divider"></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Admin HRD, Admin Keuangan, Admin Kendaraan, Operasional BKK'), "Kendaraan", "/vehicles" %></li>
					<li><%= link_to_if (checkrole 'Admin Kontainer'), "Isotank", "/isotanks" %></li>
					<li><%= link_to_if (checkrole 'Admin Kontainer'), "Kontainer", "/containers" %></li>
                    <li class="divider"></li>
                    <li><%= link_to_if (checkrole 'Admin Gudang, Staf Gudang'), "Supplier", "/suppliers" %></li>
                    <li><%= link_to_if (checkrole 'Admin Gudang, Staf Gudang, Staf Permintaan Gudang, Staf Pembelian Gudang'), "Stok Barang", "/products" %></li>
					<li><%= link_to_if (checkrole 'Admin Gudang, Staf Gudang, Admin Keuangan'), "Barang Bekas", "/productsales" %></li>
                    <li class="divider"></li>
					<li><%= link_to_if (checkrole 'Admin Marketing, Marketing'), "Operator", "/operators" %></li>
					<li><%= link_to_if (checkrole 'Master Jurusan'), "Jurusan Kereta", "/routetrains" %></li>
					<li><%= link_to_if (checkrole 'Master Jurusan'), "Jurusan Pelabuhan", "/routeships" %></li>
					<li class="divider"></li>
					<li><%= link_to_if (checkrole 'Admin Kapal'), "Kapal", "/ships" %></li>
					<li><%= link_to_if (checkrole 'Admin Pelabuhan'), "Pelabuhan", "/ports" %></li>
					<li class="divider"></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Admin Marketing, Admin Keuangan'), "Vendor", "/vendors" %></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Admin Marketing, Admin Keuangan'), "Kendaraan Vendor", "/vendorvehicles" %></li>
                    <li class="divider"></li>
                    <li><%= link_to_if (checkrole 'Admin Keuangan'), "Aktiva", "/assets" %></li>
                    <li><%= link_to_if (checkrole 'Admin Legalitas'), "Legalitas", "/legalities" %></li>
					<li><%= link_to_if (checkrole 'Admin Marketing'), "Komoditas", "/commodities" %></li>
					<!-- <li><%= link_to_if (checkrole 'Master Jurusan, User Jurusan'), "Jurusan", "/routes" %></li> -->
				</ul>
			</li>
			<li class="<%= @section == 'marketing' ? 'on' : '' %>">
				<a class="finger" onclick="javascript:toggleSub('marketing');">Marketing</a>
				<ul id="sub-marketing" class="submenu" style="width:220px;">
					<li class="<%= @where == 'quotation' ? 'on' : '' %>"><%= link_to_if (checkrole 'Admin Marketing, Marketing'), "Penawaran", "/quotationgroups" %></li>
					<li class="<%= @where == 'quotation-confirm' ? 'on' : '' %>"><%= link_to_if (checkrole 'Admin Marketing, Marketing'), "Penawaran Terkonfirmasi", "/quotationgroups/confirmed" %></li>
					<li><%= link_to_if (checkrole 'Admin Marketing, Konfirm Kosongan'), "Approval BKK Kosongan", "/invoices/kosongan_approval" %></li>
				</ul>
			</li>
			<li class="<%= @section == 'events' ? 'on' : '' %>">
				<%= link_to_if (!(checkrole 'Vendor Supir') || current_user.owner || current_user.adminrole), "Kalender", "/events" %>
			</li>

			<li class="<%= @section == 'cashiers' ? 'on' : '' %>">
				<%= link_to_if (checkrole 'Admin Operasional, Admin Keuangan'), "Kasir", "/cashiers" %>
			</li>

			<li class="<%= @section == 'ops' ? 'on' : '' %>">
			<%= link_to_if (checkrole 'Admin Operasional, Operasional BKK'), "OPS", "javascript:void(0);", :class => 'finger', :onclick => "javascript:toggleSub('ops');".html_safe %>
			
				<ul id="sub-ops" class="submenu" style="width:220px;">
					<li><%= link_to_if (checkrole 'Admin Operasional'), "Request Kereta", "/invoices/trainrequest" %></li>
					<li><%= link_to_if (checkrole 'Admin Operasional'), "Berat Muat", "/invoices/add_weight" %></li>
					<li><%= link_to_if (checkrole 'Admin Operasional'), "Call Mekanik", "/mechaniclogs" %></li>
					<li class="divider"></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK'), "Edit Operator Kereta", "/invoices/add_train" %></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK'), "Edit Operator Kapal", "/invoices/add_ship" %></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK'), "DO Vendor", "/events/add_dovendor" %></li>
					<!-- <li><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK'), "Edit Operator Kereta", "/add_train" %></li> -->
					<!-- <li><%= link_to_if (checkrole 'Admin Operasional'), "Asuransi", "#" %></li> -->
					<li class="divider"></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK'), "Aktivitas Supir Vendor", "/vendors/driver_activities" %></li>
				</ul>
			</li>

			<li class="<%= @section == 'transactions' ? 'on' : '' %>">
				<%= link_to_if (checkrole 'Admin Operasional, Admin Keuangan, Admin HRD, Operasional BKK, BKK Standart, BKK Kosongan, BKK Kereta, Vendor Supir, Admin Hutang Operator'), "Kas", "javascript:void(0);", :class => 'finger', :onclick => "javascript:toggleSub('transactions');".html_safe %>

				<ul id="sub-transactions" class="submenu" style="width:200px;">
					<!-- <li><%= link_to_if (checkrole 'Admin Operasional'), "BKK (Uji Coba)", "/invoicetests" %></li> -->					
					<li><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK, BKK Standart, Vendor Supir, Admin Hutang Operator'), "Bukti Kas Keluar", "/invoices" %></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK, BKK Kosongan, Vendor Supir, Admin Hutang Operator'), "BKK Kosongan Non Produktif", "/invoices/kosongan" %></li>		
					<li><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK, BKK Kosongan, Vendor Supir, Admin Hutang Operator'), "BKK Kosongan Produktif", "/invoices/kosongan_prod" %></li>			
					<li><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK, BKK Kereta, Vendor Supir, Admin Hutang Operator'), "BKK Truk via Kereta", "/invoices/indexinvoicetrain" %></li>
					<li class="<%= @where == 'invoicetrains' ? 'on' : '' %>"><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK'), "BKK Kereta", "/invoicetrains" %></li>
                    <li class="divider"></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK'), "Bukti Kas Masuk", "/invoicereturns" %></li>					
					<!--  <li><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK, BKK Standart'), "BKK Tambahan", "/invoices/indexadd" %></li> -->				
					<!--  <li><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK'), "BKM Tambahan", "/invoicereturns/add" %></li> -->
					<li><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK'), "BKM Kereta", "/invoicereturns/train" %></li>					
					<li><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK'), "BKK Isotank", invoice_isotank_url %></li>		
					<li><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK'), "BKK Kapal", invoice_ship_url %></li>			
					
					<li><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK'), "Premi", "/bonusreceipts" %></li>
					<!-- <li><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK'), "Insentif", "/incentives" %></li> -->

					<li class="divider"></li>

					<li><%= link_to_if (checkrole 'Admin HRD'), "BKK Supir", "/payrolls" %></li>
					<li><%= link_to_if (checkrole 'Admin HRD'), "BKM Supir", "/payrollreturns" %></li>
					<li><%= link_to_if (checkrole 'Admin HRD'), "Kas Supir", "/driverexpenses" %></li>

					<li class="divider"></li>

					<li><%= link_to_if (checkrole 'Admin Operasional'), "Petty Kas", "/officeexpenses" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan'), "Bukti Bank", "/bankinvoices" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan'), "Jurnal Umum", "/bankexpenses" %></li>

					<li class="divider"></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Admin Hutang Operator'), "Memo Kontainer", "/containermemos" %></li>
					
					<li class="divider"></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan, Admin Operasional, Admin Asuransi'), "Asuransi", "/insuranceexpenses" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan, Admin Operasional, Admin Hutang Operator'), "Hutang Operator Kereta", "/trainexpenses" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan, Admin Operasional, Admin Hutang Operator'), "Hutang Operator Ro-Ro", "/shipexpenses" %></li>
				</ul>
			</li>

			<li class="<%= @section == 'taxinvoiceitems' ? 'on' : '' %>">
				<%= link_to_if (checkrole 'Admin Keuangan, Admin Surat Jalan, Vendor Supir'), "Surat Jalan", "javascript:void(0);", :class => 'finger', :onclick => "javascript:toggleSub('taxinvoiceitems');".html_safe %>

				<ul id="sub-taxinvoiceitems" class="submenu" style="width:200px;">
					<li><%= link_to_if (checkrole 'Admin Keuangan, Admin Surat Jalan, Vendor Supir'), "Surat Jalan", "/taxinvoiceitems" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan, Admin Surat Jalan, Vendor Supir'), "Tanda Terima SJ", "/receipttaxinvitems" %></li>
				</ul>
			</li>
            
			<!-- <li class="<%= @section == 'taxinvoiceitems' ? 'on' : '' %>">
				<%= link_to_if (checkrole 'Admin Keuangan, Admin Surat Jalan, Vendor Supir'), "Surat Jalan", "/taxinvoiceitems" %>
			</li> -->
            
            <li class="<%= @section == 'taxinvoices' ? 'on' : '' %>">
				<%= link_to_if (checkrole 'Admin Keuangan, Admin Invoice Tagihan, Staff Invoice Tagihan'), "Inv. Tagihan", "/taxinvoices" %>
			</li>

			<li class="<%= @section == 'transactions2' ? 'on' : '' %>">
				<%= link_to_if (checkrole 'Admin Gudang, Staf Gudang, Staf Permintaan Gudang, Staf Pembelian Gudang, Admin Keuangan'), "Transaksi", "javascript:void(0);", :class => 'finger', :onclick => "javascript:toggleSub('transactions2');".html_safe %>

				<ul id="sub-transactions2" class="submenu" style="width:200px;">

					<!-- <li><%= link_to_if (checkrole 'Admin Keuangan, Admin Surat Jalan'), "Pengisian Surat Jalan", "/taxinvoiceitems" %></li> -->
					<!-- <li><%= link_to_if (checkrole 'Admin Keuangan'), "Invoice Tagihan", "/taxinvoices" %></li> -->
					
                    <li><%= link_to_if (checkrole 'Admin Keuangan'), "Pembayaran Bon", "/paymentchecks" %></li>
					<li><%= link_to_if (checkrole 'Admin Gudang, Staf Gudang, Staf Permintaan Gudang, Staf Pembelian Gudang'), "Permintaan Stok Barang", "/productrequests" %></li>
					<li><%= link_to_if (checkrole 'Admin Gudang, Staf Gudang, Staf Pembelian Gudang'), "Pembelian Stok", "/productorders" %></li>
					<li><%= link_to_if (checkrole 'Admin Gudang, Staf Gudang, Staf Pembelian Gudang,'), "Pembelian Non Stok", "/generalexpenses" %></li>
                    <li class="divider"></li>
					<li><%= link_to_if (checkrole 'Admin Gudang, Staf Gudang'), "Penjualan Barang Bekas", "/sales" %></li>
					<li><%= link_to_if (checkrole 'Admin Gudang, Staf Gudang'), "Pembelian Aset", "/assetorders" %></li>
					<li><%= link_to_if (checkrole 'Admin Gudang, Staf Gudang'), "Pembayaran Aset", "/assetpayments" %></li>
				</ul>
			</li>

			<li class="<%= @section == 'reports1' ? 'on' : '' %>">
				<%= link_to_if (checkrole 'Admin Operasional, Admin Keuangan, Admin HRD, Vendor Supir'), "Laporan 1", "javascript:void(0);", :class => 'finger', :onclick => "javascript:toggleSub('reports1');".html_safe %>
			
				<ul id="sub-reports1" class="submenu" style="width:200px;">					
					<!--<li><%= link_to_if (checkrole 'Admin Operasional, Admin Keuangan'), "Kas Harian (Lama)", "/reports/expenses-daily" %></li>-->
					<li><%= link_to_if (checkrole 'Admin Operasional, Admin Keuangan'), "Kas Harian", "/reports/expenses-daily-new" %></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Admin Keuangan'), "Kas Masuk (BKM)", "/reports/invoicereturns" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan'), "Jurnal Keuangan", "/reports/expenses-bank" %></li>
					<!-- <li><%= link_to_if (checkrole 'Admin Keuangan'), "Jurnal Petty Kas", "/reports/expenses-office" %></li> -->
					<!--<li><%= link_to_if (checkrole 'Admin Keuangan'), "Data Surat Jalan", "/reports/taxinvoiceitems" %></li>-->

					<li class="divider"></li>

					<li><%= link_to_if (checkrole 'Admin HRD'), "Kas Harian Supir", "/reports/expensesdriverdaily" %></li>
					<li><%= link_to_if (checkrole 'Admin HRD'), "Gaji Supir", "/reports/payroll" %></li>
					<li><%= link_to_if (checkrole 'Admin HRD'), "Kas Premi", "/reports/bonus-receipts" %></li>

					<li class="divider"></li>

					<li><%= link_to_if (checkrole 'Admin Keuangan'), "Pembayaran Bon", "/reports/paymentchecks" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan'), "Laba Rugi Biaya", "/reports/incomes-statement" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan'), "Laba Rugi Cash in/out", "/reports/incomes-cashinout" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan'), "Laba Rugi non Biaya", "/reports/incomes-statement-nocharge" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan'), "Buku Besar", "/reports/filterledger" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan'), "Neraca", "/reports/balances" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan'), "Penyusutan Aktiva", "/reports/assets" %></li>
					
					<li class="divider"></li>
					<% if current_user.owner %>
						<li><%= link_to "Laporan Invoice", "/reports/taxinvoices_report" %></li>
						<li><%= link_to "Laporan Surat Jalan", "/reports/taxinvoiceitems_report" %></li>
						<!-- <li><%= link_to "Laporan BKK ", "/reports/invoices" %></li> -->
						<li><%= link_to "Laporan BKK Terkonfirmasi", "/reports/confirmed-invoices" %></li>
						<li><%= link_to "Laporan BKK Tertagih", "/reports/collectible-invoices" %></li>
						<li><%= link_to "Laporan Pemakaian Nopol ", "/reports/drivervehicles" %></li> 
					<% else %>
						<% if checkrole 'Admin Keuangan, Admin Operasional, Vendor Supir' %>
							<li><%= link_to "Laporan Surat Jalan", "/reports/taxinvoiceitems_report" %></li>
							<!-- <li><%= link_to "Laporan BKK ", "/reports/invoices" %></li> -->
							<li><%= link_to "Laporan BKK Terkonfirmasi", "/reports/confirmed-invoices" %></li>
							<li><%= link_to "Laporan BKK Tertagih", "/reports/collectible-invoices" %></li>
							<li><%= link_to "Laporan Pemakaian Nopol ", "/reports/drivervehicles" %></li> 
						<% end %>
					<% end %>
					<li><%= link_to_if (checkrole 'Admin Operasional, Admin Keuangan'), "Laporan Isotank", "/reports/isotanks_report" %></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Admin Keuangan'), "Laporan Isotank Utilisasi", "/reports/isotanks-utilization" %></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Admin Keuangan'), "Laporan Kontainer", "/reports/containers_report" %></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Admin Keuangan'), "Laporan Kontainer Utilisasi", "/reports/containers-utilization" %></li> 

				</ul>
			</li>

			<li class="<%= @section == 'reports2' ? 'on' : '' %>">
				<%= link_to_if (checkrole 'Admin Keuangan, Admin Operasional, Admin Gudang, Admin HRD, Laporan Pemasukan, Auditor'), "Laporan 2", "javascript:void(0);", :class => 'finger', :onclick => "javascript:toggleSub('reports2');".html_safe %>
								
				<ul id="sub-reports2" class="submenu" style="width:220px;">
					<li><%= link_to_if (checkrole 'Admin Operasional, Admin HRD, Admin Gudang, Staf Gudang'), "Pengeluaran Kendaraan", "/reports/expenses-vehicle" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan, Admin Operasional, Admin HRD, Operasional BKK'), "Pemasukan Kendaraan", "/reports/incomes-vehicle" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan, Admin Operasional, Admin HRD, Operasional BKK'), "Laba Rugi Kendaraan", "/reports/indexannualreport_vehicle" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan, Admin Operasional, Admin HRD, Operasional BKK'), "L/R Estimasi Kendaraan", "/reports/incomeexpenseestimation_vehicle" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan, Admin Operasional, Admin HRD, Operasional BKK'), "Grafik Kendaraan", "/dashboards/incomes-vehicle" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan, Admin Operasional, Admin HRD, Operasional BKK'), "Susut", "/reports/shrinkreport" %></li>

					<li class="divider"></li>

					<li><%= link_to_if (checkrole 'Admin Keuangan, Auditor'), "Omset Penjualan", "/reports/customers" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan, Auditor'), "Piutang Pelanggan", "/reports/customercredits" %></li>
                    <li><%= link_to_if (checkrole 'Admin Keuangan, Auditor' || current_user.owner), "Report Piutang Pelanggan", unpaid_invoice_url %></li>
                    <li><%= link_to_if (checkrole 'Admin Keuangan, Auditor' || current_user.owner), "Report Piutang Lunas", paid_invoice_url %></li>
					<li><%= link_to_if (current_user.owner || (checkrole 'Owner Report')), "Hutang Supplier", "/reports/suppliercredits" %></li>
					<!-- <li><%= link_to_if (current_user.owner || (checkrole 'Owner Report')), "Target Ban Tahunan", "/reports/tiretargets" %></li> -->
					<li class="divider"></li>

					<li><%= link_to_if (checkrole 'Admin Gudang, Staf Gudang, Staf Permintaan Gudang, Staf Pembelian Gudang, Admin HRD'), "Permintaan / Pembelian Stok", "/reports/product-orders" %></li>					
					<li><%= link_to_if (checkrole 'Admin Gudang, Staf Gudang, Staf Pembelian Gudang, Admin HRD'), "Stok Barang", "/reports/productstocks" %></li>
					<li><%= link_to_if (checkrole 'Admin Gudang, Staf Gudang, Admin HRD'), "Pembelian Supplier", "/reports/suppliers" %></li>
					<li><%= link_to_if (checkrole 'Admin Gudang, Staf Gudang, Admin HRD'), "Penjualan Barang", "/reports/sales" %></li>

					<li class="divider"></li>

					<li><%= link_to_if (checkrole 'Admin Operasional, Admin HRD, Operasional BKK'), "Sangu Supir", "/reports/expenses-drivers" %></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Admin HRD, Operasional BKK'), "Solar Kontan", "/reports/expenses-gas" %></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Admin HRD, Operasional BKK'), "Solar Bon", "/reports/gas-vouchers" %></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Admin HRD, Operasional BKK'), "Solar Gantungan", "/reports/gas-leftovers" %></li>
					<li class="divider"></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan, Admin HRD, Admin Operasional' || current_user.owner), "Laporan Rit Sopir", "/reports/driver-rit" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan, Admin HRD, Admin Operasional' || current_user.owner), "Revenue Breakdown", "/reports/revenue-breakdown" %></li>
					
				</ul>
			</li>
			
			<li class="<%= @section == 'estimationreport' ? 'on' : '' %>">
			<%= link_to_if (checkrole 'Admin Keuangan, Estimasi'), "Estimasi", "javascript:void(0);", :class => 'finger', :onclick => "javascript:toggleSub('estimationreport');".html_safe %>
			
				<ul id="sub-estimationreport" class="submenu" style="width:220px;">
					<li><%= link_to_if (checkrole 'Admin Keuangan, Estimasi'), "Dashboard Estimasi", "/reports/estimationdashboard" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan, Estimasi'), "Estimasi Pendapatan BKK", "/reports/estimation" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan, Estimasi'), "Perbandingan BKK & Estimasi", "/reports/estimation-income-expense" %></li>
					<li><%= link_to_if (checkrole 'Admin Keuangan, Estimasi'), "Perbandingan BKK & DO", "/reports/estimation-event-expense" %></li>
				</ul>
			</li>

			<li class="icon-only"><a href="/logout"><i class="icon-signout"></i></a></li>

			<li class="icon-only<%= @section == 'settings' ? ' on' : '' %>">
				<%= link_to "<i class='icon-cog'></i>".html_safe, "javascript:void(0);", :class => 'finger', :onclick => "javascript:toggleSub('settings');".html_safe %>
				
				<ul id="sub-settings" class="submenu">
					<li><%= link_to "Ganti Password", edit_user_url(current_user) %></li>
					<li><%= link_to_if current_user.owner, "Data System", "/settings" %></li>
					<li><%= link_to_if current_user.owner, "Data User", "/users" %></li>
					<li><%= link_to "Pusat Bantuan", helpdesks_url %></li>
				</ul>
			</li>
            
            <li class="icon-only<%= @section == 'logs' ? ' on' : '' %>">
				<%= link_to_if (checkrole 'Admin HRD, Mekanik, Marketing, Auditor, Operasional BKK, Admin Marketing'), "<i class='icon-check'></i>".html_safe, "javascript:void(0);", :class => 'finger', :onclick => "javascript:toggleSub('logs');".html_safe %>
				
				<ul id="sub-logs" class="submenu">
					<li><%= link_to_if (checkrole 'Admin HRD, Mekanik'), "Check Kendaraan", "/vehiclelogs" %></li>
					<li><%= link_to_if (checkrole 'Admin HRD, Mekanik'), "Check Supir", "/driverlogs" %></li>
					<li><%= link_to_if (checkrole 'Admin HRD, Mekanik'), "Tanggal Penting", "/vehicledates" %></li>
					<li><%= link_to_if (checkrole 'Admin HRD, Marketing, Auditor, Admin Marketing'), "Report DO", "/report-events" %></li> 
					<li><%= link_to_if (checkrole 'Admin HRD, Marketing, Auditor, Admin Marketing, Admin Keuangan'), "Report DP DO", "/report-dp-events" %></li> 
					<li><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK'), "Kalender Event BKK", "/invoices/form_event" %></li>
					<li><%= link_to_if (checkrole 'Admin Operasional, Operasional BKK, Marketing, Admin Keuangan'), "Report Memo Clean", "/reports/memocleanings" %></li>
				</ul>
			</li>
			
		</ul>
		<% end %>
	</div>
</div>