<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
	<div id="content-full">
		<a class="btn-txt cancel" href="<%=payrollreturns_path%>"><i class="icon-remove"></i> Batal</a>

		<h1>Master / <a href="<%=payrollreturns_path%>">BKM Supir</a> / Tambah</h1>

		<br class="clearfix" />
		<%= render "sublink" %>
		<%= render "form" %>
		<br class="clearfix" />

	</div>

</div>
