<%= form_for(@container) do |f| %>
	<div class="field-row first">
		<%= f.label :containernumber, "No. Kontainer" %>
		<%= f.text_field :containernumber %>
	</div>

	<div class="field-row">
		<%= f.label :category, "Tipe Kontainer"  %>
		<%= f.select :category, options_for_select(@categories.collect {|w| [w, w]}, (params[:category].present? ? params[:category] : @container.category)), {}, { :class => 'half chzn-select' } %>
	</div>

	<div class="field-row">
		<%= f.label :vendor_id, "Vendor" %>

		<select id="container_vendor_id" name="container[vendor_id]" class="double chzn-select">
		<option value="0">- Pilih Vendor -</option>
		<% Vendor.active.container.order(:name).each do |vendor| %>
		<option value="<%=vendor.id%>"
			<% if vendor.id == @container.vendor_id %> selected="selected"<% end %>><%=vendor.name%> - <%=vendor.abbr%></option>
		<% end %>
		</select>
	</div>

	<div class="actions">
		<%= f.submit "Tambah Data", :class => 'left' if checkrole 'Admin Kendaraan' %>
		<a class="back left" href="<%=containers_path%>">Kembali ke Index</a>
	</div>
	
<% end %>
