<%= form_for(@container) do |f| %>
	<div class="field-row first">
    <%= f.label :containernumber, "No. Kontainer" %>
    <%= f.text_field :containernumber %>
	</div>


  <div class="actions">
    <%= f.submit "Tambah Data", :class => 'left' if checkrole 'Admin Kendaraan' %>
    <a class="back left" href="<%=containers_path%>">Kembali ke Index</a>
  </div>
<% end %>
