<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">

	<div id="content-full">
		<a class="btn-txt cancel" href="<%=containers_path%>"><i class="icon-remove"></i> Batal</a>

		<h1>Master / <a href="<%=containers_path%>">Kontainer</a> / Edit <strong title="<%=@container.containernumber%>"><%= @container.containernumber %></strong></h1>
		
		<%= render "form" %>

		<br class="clearfix" />

	</div>

</div>
