<div id="filter">
	<form id="filterform" name="filterform" action="" method="get">
	<div class="field-row continue">
		<label for="invoice_id">BKK</label>
		<input type="text" name="invoice_id" class="half" value="<%=@invoice_id%>" onkeypress="javascript: return isNumberKey(this);"/>
		<input class="submit" type="submit" value="Filter" />
	</div>
	</form>
</div>
<br class="clearfix" />
<% if @invoice %>

	<%= form_for(@invoice) do |f| %>

		<div class="info-box" style="margin-bottom:30px;">  

			<h3>Bukti Kas Keluar #<%=zeropad(@invoice.id)%></h3>

			<table class="row-view no-border">
				<tr>
					<td width="90">Tanggal</td>
					<td><%=@invoice.date.strftime('%d-%m-%Y')%>&nbsp;(KTR: <%=@invoice.office.name%>)</td>
				</tr>
				<tr>
					<td>Pelanggan</td>
					<td><%=@invoice.customer.name%></td>
				</tr>
				<tr>
					<td>Jurusan</td>
					<td><strong><%=@invoice.quantity%></strong> Rit: <%=@invoice.route.name%></td>
				</tr>
				<tr>
					<td>Tipe</td>
					<td><%=@invoice.route.routegroup.name%></td>
				</tr>
				<tr>
					<td>Kendaraan</td>
					<td><%=@invoice.vehicle.current_id%>&nbsp;(UP: <%= @invoice.insurance > 0 ? "Ada" : "Tidak Ada" %>)</td>
				</tr>
				<tr>
					<td>Supir</td>
					<td><%=@invoice.driver.name%><% if !@invoice.driver.helpers.first.nil? %> &nbsp;(Kernet: <%=@invoice.driver.helpers.first.name%>)<% end %></td>
				</tr>
			</table>

			<table class="row-view">
			  <tr>
				<th width="90">Keterangan</th>
				<th>&nbsp;</th>
				<th width="100" class="right" style="padding-right:5px;">Total</th>
			  </tr>

			  <tr>
				<td><label for="invoice_driver_allowance">UM Supir</label></td>
				<td>&nbsp;</td>
				<td><input type="text" id="invoice_driver_allowance" name="invoice_driver_allowance" class="half disabled allowance-field" value="<%=to_currency(@invoice.driver_allowance)%>" readonly="true" /></td>
			  </tr>

			  <tr>
				<td><label for="invoice_helper_allowance">UM Kernet</label></td>
				<td>&nbsp;</td>
				<td><input type="text" id="invoice_helper_allowance" name="invoice_helper_allowance" class="half disabled allowance-field" value="<%=to_currency(@invoice.helper_allowance)%>" readonly="true" /></td>
			  </tr>

			  <tr>
				<td><label for="invoice_misc_allowance">Lain - lain</label></td>
				<td>&nbsp;</td>
				<td><input type="text" id="invoice_misc_allowance" name="invoice_misc_allowance" class="half disabled allowance-field" value="<%=to_currency(@invoice.misc_allowance)%>" readonly="true" /></td>
			  </tr>

			  <tr>
				<td><%= f.label :gas_allowance, "Solar *" %></td>
				<td>&nbsp;</td>
				<td><%= f.text_field :gas_allowance, :class => 'half disabled allowance-field', :value => to_currency(@invoice.gas_allowance), :readOnly => 'true' %></td>
			  </tr>

			  <tr>
				<td><%= f.label :ferry_fee, "Penyebrangan" %></td>
				<td>&nbsp;</td>
				<td><%= f.text_field :ferry_fee, :class => 'half disabled allowance-field', :value => to_currency(@invoice.ferry_fee), :readOnly => 'true' %></td>
			  </tr>

			  <tr>
				<td><%= f.label :tol_fee, "Tol" %></td>
				<td>&nbsp;</td>
				<td><%= f.text_field :tol_fee, :class => 'half disabled allowance-field', :value => to_currency(@invoice.tol_fee), :readOnly => 'true' %></td>
			  </tr>

			  <tr class="total-row">
				<td><%= f.label :total, "Total" %></td>
				<td>&nbsp;</td>
				<td><%= f.text_field :total, :class => 'half disabled allowance-field', :value => to_currency(@invoice.total), :readOnly => 'true' %></td>
			  </tr>

			  <tr>
				<td colspan="3"><span id="invoice_gas_detail">* Ket Solar: (<%=@invoice.gas_litre+@invoice.gas_voucher+@invoice.gas_leftover%> - <%=@invoice.gas_voucher%> (B) - <%=@invoice.gas_leftover%> (G) = <%=@invoice.gas_litre%> liter @ <%=@invoice.gas_cost%>)</span></td>
			  </tr>
			</table>

		</div>
		<% if @invoice.invoicereturns.active.any? %>
			<h3 style="font-weight:700;">Data BKM Masuk</h3>
			
			<table id="tableInvoicereturns" class="row-view" style="width:500px;">
				<thead>
					<tr>
						<th width="100">Tgl</th>
						<th>BKM</th>
						<th width="80" class="right">Premi</th>
					</tr>
				</thead>
				<tbody>
					<%@invoice.invoicereturns.active.each do |item| %>
					<tr id="<%=item.id%>">
			        	<td id="date_<%=item.id%>"><%= item.date.strftime('%d-%m-%Y')%></td>
			        	<td><%= zeropad(item.id)%></td>
			        	<td align="right"><%= item.quantity%> Rit</td>
			      	</tr>
					<% end %>
				</tbody>
			</table>
		<% end %>
	<% end %>

	<% if @invoice.quantity <= @invoice.invoicereturns.active.sum(:quantity) %>
		<div class="field-row first" style="margin-bottom:-20px;">
			<h3 style="font-weight:700;" class="red">Tidak bisa menambahkan data BKM.</h3>
		</div>
	<% else %>
		<%= form_for @invoicereturn do |f| %>
			<%= f.hidden_field :process, :value => 'create' %>
		  	<%= f.hidden_field :invoice_id, :value => @invoice_id %>

			<div class="field-row first" style="margin-bottom:-20px;">
			    <label for="invoicereturn_quantity">Jumlah</label>
			    <select id="invoicereturn_quantity" name="invoicereturn[quantity]" class="half" onchange="javascript:changeDriverAllowance(this.value);">
			      <% (1..(@invoice.quantity.to_i - @invoice.invoicereturns.active.sum(:quantity))).each do |i| %>
			      <option value="<%=i%>"><%=i%> Rit</option>
			      <% end %>
			    </select>  
			    <span> / &nbsp;<%=@invoice.quantity.to_i - @invoice.invoicereturns.active.sum(:quantity)%></span>
			    <div class="field-row continue">
			      <%= f.label :date, "Tanggal" %>
			      <%= f.text_field :date, :class => 'half date-picker', :value => @date %>
			    </div>
			    <div class="field-row continue">
			      <%= f.label :driver_allowance, "UM Supir" %>
			      <%= f.text_field :driver_allowance, :class => 'half', :onkeypress => 'javascript:return isNumberKey(this);', :value => (@invoice.driver_allowance / @invoice.quantity).to_i %>
			      <span>/ &nbsp;<%=to_currency(@invoice.driver_allowance, 'Rp. ')%></span>
			      <input type="hidden" id="invoicereturn_price_per" name="invoicereturn_price_per" value="<%=@invoice.driver_allowance / @invoice.quantity%>" />
			      <input type="hidden" id="invoicereturn_max_allowance" name="invoicereturn_max_allowance" value="<%=@invoice.driver_allowance%>" />
			    </div>
			    <div class="field-row continue">
			      <%= f.label :helper_allowance, "UM Kernet" %>
			      <%= f.text_field :helper_allowance, :class => 'half', :onkeypress => 'javascript:return isNumberKey(this);', :value => (@invoice.helper_allowance / @invoice.quantity).to_i %>
			      <span>/ &nbsp;<%=to_currency(@invoice.helper_allowance, 'Rp. ')%></span>
			      <input type="hidden" id="invoicereturn_helper_trip" name="invoicereturn_helper_trip" value="<%=@invoice.helper_allowance / @invoice.quantity%>" />
			    </div>
			    <div class="field-row continue">
			      <%= f.label :misc_allowance, "Lain-lain" %>
			      <%= f.text_field :misc_allowance, :class => 'half', :onkeypress => 'javascript:return isNumberKey(this);', :value => (@invoice.misc_allowance / @invoice.quantity).to_i %>
			      <span>/ &nbsp;<%=to_currency(@invoice.misc_allowance, 'Rp. ')%></span>
			       <input type="hidden" id="invoicereturn_misc_per" name="invoicereturn_price_per" value="<%=@invoice.misc_allowance / @invoice.quantity%>" />
			    </div>
			    <div class="field-row continue">
			      <%= f.label :ferry_fee, "Penyebrangan" %>
			      <%= f.text_field :ferry_fee, :class => 'half', :onkeypress => 'javascript:return isNumberKey(this);', :value => (@invoice.ferry_fee / @invoice.quantity).to_i %>
			      <span>/ &nbsp;<%=to_currency(@invoice.ferry_fee, 'Rp. ')%></span>
			      <input type="hidden" id="invoicereturn_ferry_per" name="invoicereturn_ferry_per" value="<%=@invoice.ferry_fee / @invoice.quantity%>" />
			    </div>
			    <div class="field-row continue">
			      <%= f.label :tol_fee, "Tol" %>
			      <%= f.text_field :tol_fee, :class => 'half', :onkeypress => 'javascript:return isNumberKey(this);', :value => (@invoice.tol_fee / @invoice.quantity).to_i %>
			      <span>/ &nbsp;<%=to_currency(@invoice.tol_fee, 'Rp. ')%></span>
			      <input type="hidden" id="invoicereturn_tol_per" name="invoicereturn_tol_per" value="<%=@invoice.tol_fee / @invoice.quantity%>" />
			    </div>
			    <div class="field-row continue">
			      <%= f.label :gas_leftover, "Gantungan" %>
			      <%= f.text_field :gas_leftover, :class => 'half', :onkeypress => 'javascript:return isNumberKey(this);', :value => (@invoice.gas_litre+@invoice.gas_voucher+@invoice.gas_leftover) / @invoice.quantity %>
			      <strong>Liter</strong><p style="margin-left:120px;">(Data Gantungan No Pol - <%=@invoice.vehicle.current_id%> - akan disesuaikan)</p>
			      <input type="hidden" id="invoicereturn_gas_per" name="invoicereturn_gas_per" value="<%=(@invoice.gas_litre+@invoice.gas_voucher+@invoice.gas_leftover) / @invoice.quantity%>" />
			    </div>
			</div>

			<div class="actions">
			    <%= f.submit "Tambah Data", :id => 'invoicereturnadd_submit', :class => 'submit' %>
			    <a class="back" href="<%=invoicereturns_path%>">Kembali ke Index</a>
			</div>
		<% end %>
	<% end %>
<% end %>