<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
	
	<div id="content-full">
		<a class="btn-txt cancel" href="<%=invoicereturns_path%>"><i class="icon-remove"></i> Batal</a>

		<h1>Transaksi / <a href="<%=invoicereturns_path%>">Bukti Kas Masuk</a> / Tambah</h1>

		<br class="clearfix" />
			<%= render "formadd" %>
		<br class="clearfix" />

	</div>

</div>
