<%= form_for(@vendor) do |f| %>
	<div class="field-row first">
    <%= f.label :name, "Nama" %>
    <%= f.text_field :name %>
	</div>

  <div class="field-row">
    <%= f.label :abbr, "Singkatan" %>
    <%= f.text_field :abbr %>
  </div>

  <div class="field-row">
    <%= f.label :group, "Group"  %>
    <%= f.select :group, options_for_select(@groups.collect {|w| [w, w]}, (params[:group].present? ? params[:group] : @vendor.group)), {}, { :class => 'half chzn-select' } %>
  </div>

  <div class="field-row">
    <%= f.label :category, "Kategori"  %>
    <%= f.select :category, options_for_select(@categories.collect {|w| [w, w]}, (params[:category].present? ? params[:category] : @vendor.category)), {}, { :class => 'half chzn-select' } %>
  </div>

  <div class="field-row">
    <%= f.label :email, "Email" %>
    <%= f.text_field :email %>
  </div>

  <div class="field-row">
    <%= f.label :phone, "No. Telp" %>
    <%= f.text_field :phone, :class => 'half left' %>
    <%= f.label :mobile, "No. HP", :class => 'middle' %>
    <%= f.text_field :mobile, :class => 'half left' %>
  </div>

  <div class="field-row">
    <%= f.label :description, "Keterangan" %>
    <%= f.text_area :description %>
  </div>

  <div class="field-row">
    <%= f.label :user_id, "User Vendor" %>
    <select id="vendor_user_id" name="vendor[user_id]" class="half left chzn-select">
    <option value="0">- Pilih User Vendor -</option>
    <% @users.each do |user| %>
    <option value="<%=user.id%>"
      <% if user.id == @vendor.user_id %> selected="selected"<% end %>><%=user.username%></option>
    <% end %>
    </select>
  </div>

  <div class="actions">
    <%= f.submit "Tambah Data", :class => 'left' if checkrole 'Admin HRD, Admin Operasional, Admin Marketing' %>
    <a class="back left" href="<%=vendors_path%>">Kembali ke Index</a>
  </div>
<% end %>