 <%= form_for(@bankexpense) do |f| %>

 <div class="field-row first">
    <%= f.label :office_id, "Kantor" %>
    <%= f.select :office_id, options_for_select(Office.where(:deleted => false).collect {|g| [g.name, g.id]}, @bankexpense.office_id), {},:class => 'half chzn-select' %>
  </div>

  <% if  !@bankledger.nil? || (active_node == 'edit' && @bankexpense.bankledger) %>
    <div class="field-row">
      <%= f.label :money_in, "Tipe Transaksi" %>
      <%= f.label :money_in, :value => "true", :class => 'checkbox' do %>
        <%= f.radio_button :money_in, true, :checked => true %> Setoran
      <% end %>
      <%= f.label :money_in, :value => "false", :class => 'checkbox' do %>
        <%= f.radio_button :money_in, false %> Tarikan
      <% end %>
    </div>
    <%= f.hidden_field :bankledger, :value => true %>
  <% end %>

<!-- debit -->
  <div class="field-row">
    <% if !@bankledger.nil? %>
      <%= f.label :debitgroup_id, "Dari Bank", :class => 'left' %>
      <select id="bankexpensegroupparentdebit" name="bankexpenseparent[parentbankexpensegroup_id]" class="half left" onchange="javascript: getBankexpensegroupdebit();">
      <option value="">- Group Jurnal -</option>
      <% @bankgroups.each do |group| %>
        <option value="<%=group.id%>" <% if @parentdebitgroup_id == group.id %>selected="selected" <% end %>><%=group.name %></option>
      <% end %>
    </select>
    <% else %>
      <%= f.label :debitgroup_id, "Debit", :class => 'left' %>
      <select id="bankexpensegroupparentdebit" name="bankexpenseparent[parentbankexpensegroup_id]" class="half left" onchange="javascript: getBankexpensegroupdebit();">
      <option value="">- Group Jurnal -</option>
      <% @parentgroups.each do |group| %>
        <option value="<%=group.id%>" <% if @parentdebitgroup_id == group.id %>selected="selected" <% end %>><%=group.name %></option>
      <% end %>
    </select>
    <% end %>
    

    <select id="bankexpensegroupchilddebit" name="bankexpense[debitgroup_id]" class="half left" style="margin-left:10px;">
      <option value="">- Pilih Group -</option>
      <% if @childgroupsdebit and @childgroupsdebit.any? %>
        <% @childgroupsdebit.active.order(:name).each do |group| %>
          <option value="<%=group.id%>" <% if @childdebitgroup_id == group.id %>selected="selected" <% end %>><%=group.name %></option>
        <% end %>
      <% end %>
    </select>
  </div>

<!-- credit -->
 <div class="field-row">
  <% if !@bankledger.nil? %>
      <%= f.label :debitgroup_id, "Posisi Jurnal", :class => 'left' %>
    <% else %>
      <%= f.label :creditgroup_id, "Credit", :class => 'left' %>
    <% end %>
    <select id="bankexpensegroupparentcredit" name="bankexpenseparent[parentbankexpensegroup_id]" class="half left" onchange="javascript: getBankexpensegroupcredit();">
      <option value="">- Group Jurnal -</option>
      <% @parentgroups.each do |group| %>
        <option value="<%=group.id%>" <% if @parentcreditgroup_id == group.id %>selected="selected" <% end %>><%=group.name %></option>
      <% end %>
    </select>

    <select id="bankexpensegroupchildcredit" name="bankexpense[creditgroup_id]" class="half left" style="margin-left:10px;">
      <option value="">- Pilih Group -</option>
      <% if @childgroupscredit and @childgroupscredit.any? %>
        <% @childgroupscredit.active.order(:name).each do |group| %>
          <option value="<%=group.id%>" <% if @childcreditgroup_id == group.id %>selected="selected" <% end %>><%=group.name %></option>
        <% end %>
      <% end %>
    </select>
  </div>

  <div class="field-row">
    <%= f.label :date, "Tanggal" %>
    <%= f.text_field :date, :class => 'half date-picker' %>
  </div>

  <div class="field-row">
    <%= f.label :total, "Jumlah" %>
    <%= f.text_field :total, :class => 'half', :onkeypress => 'javascript:return isMoneyKey(this);', :value => to_currency_bank(@bankexpense.total) %>
    <strong>Rupiah</strong>
  </div>

  <div class="field-row">
    <%= f.label :description, "Keterangan" %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit "Tambah Data", :class => 'left' %>
    <a class="back left" href="<%=  @bankledger.nil? ? bankexpenses_path({:date => @bankexpense.date.strftime('%d-%m-%Y')}) : bankinvoices_path({:date => @bankexpense.date.strftime('%d-%m-%Y')}) %>">Kembali ke Index</a>
  </div>

<% end %>

