<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">

	<div id="content-full">
		<h2 class="highlight-box">Saldo Kas : <span id="strCash" class="yellow">Rp. <%= to_currency(Setting.find_by_name("Saldo Kas Kantor").value.to_i) || 0 %>,00</span></h2>
		<h1>Transaksi Kasir: <span class="red"><%=@date.to_date.strftime('%d %b %Y')%></span></h1>

		<br class="clearfix" />

		<div id="filter">
			<form id="filterform" name="filterform" action="" method="get">
			<div class="field-row continue">
				<label class="left" for="date">Pilih Tanggal</label>
				<input type="text" name="date" class="half date-picker left" value="<%=@date%>" onchange="javascript: submitFormFilter();" />
			</div>			
			</form>
			<!-- <a id="cashier-ref" class="btn print">Refresh Data Permintaan</a> -->
		</div>

		<br class="clearfix" />

		<input id="datehidden" name="datehidden" type="hidden" value="<%=@date%>" />


		<ul class="rounded" id="tabbed">
			<li><a id="link_1" class="finger">Permintaan Kas</a></li>
			<li><a id="link_2" class="finger">Data Masuk</a></li>
		</ul>

		<div id="sliding_window">
			<div class="sliding_container">
				<div class="sliding_tab" id="tab_1">
					<div id="cashier-requests">
					<table class="row-view tablesorter" >
						<thead>
							<tr>
								<th width="50">ID</th>
								<th>Keterangan</th>
								<th width="40">Ktr</th>
								<th width="75" data-placeholder="Pilih Kendaraan">No Pol</th>
								<th width="70" class="right">Total</th>
								<th width="90"></th>
							</tr>
						</thead>
					</table>	
					</div>
				</div>

				<div class="sliding_tab" id="tab_2">
					<table class="row-view">
						<thead>
							<tr class="subheading">
								<th colspan="7" class="{sorter:false}" style="color:#000;">Data Masuk <span class="red"><%=@date.to_date.strftime('%d-%m-%Y')%></span></th>
							</tr>
							<tr>
								<th class="{sorter:false, filter: false}" width="50">ID</th>
								<th class="{sorter:false}">Keterangan</th>
								<th class="{sorter:true, filter: true}" width="40">Ktr</th>
								<th class="{sorter:false}" width="75">No Pol</th>
								<th class="{sorter:false} right" width="70">Total</th>
								<th class="{sorter:false, filter: false}" width="60">User</th>
								<th class="{sorter:false, filter: false}" width="60"></th>
							</tr>
						</thead>
						<%= render "verified" %>
					</table>
				</div>
			</div>
		
		</div>
	</div>
</div>