<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<style>
th, td {
	font-size: 11px !important;
}

.flex {
	display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cta {
	font-size: 8px !important;
}

.flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

</style>

<div id="main">

	<div id="content-full">
		<a class="btn-txt right" href="<%=new_claimmemo_path%>"><i class="icon-plus-sign"></i> &nbsp;Tambah</a>

		<h1><a href="<%=claimmemos_path%>">Klaim Penagihan</a> / Index</h1>
		
		<br class="clearfix" />
		
		<div id="filter">
			<form id="filterform" name="filterform" action="" method="get">
				<div class="field-row continue flex">
					<label for="startdate" class="middle">Tgl Awal</label>
					<input type="text" name="startdate" class="thalf date-picker left" value="<%=@startdate%>" />
					<label for="enddate" class="tiny">s/d</label>
					<input type="text" name="enddate" class="thalf date-picker left" value="<%=@enddate%>" />

					<label for="customer_id"  class="middle">Pelanggan</label>
					<select name="customer_id" class="third left">
						<option value="">Semua Pelanggan</option>
						<% Customer.active.reorder(:name).each do |customer| %>
						<option value="<%=customer.id%>"<% if customer.id == @customer_id.to_i %> selected='selected'<% end %>><%=customer.name%></option>
						<% end %>
					</select>

					<label for="office_id" class="middle" style="width: 50px;">Kantor</label>
					<select name="office_id" class="short left ">
						<option value="">All</option>
						<% Office.active.each do |office| %>
						<option value="<%=office.id%>" <% if @office_id.to_i == office.id %> name="office_id" selected="selected"<% end %>><%=office.abbr%></option>
						<% end %>
					</select> 

					<label for="invoice_id" class="tiny">#BKK:</label>
					<input type="text" name="invoice_id" class="short left" value="<%=params[:invoice_id]%>" />

					<input class="submit" type="submit" value="Filter" style="vertical-align: bottom;">
				</div>
			</form>
		</div>

		<br class="clearfix" />

		<table class="tablesorter row-view tablesorterFilters">

		<thead>

			<tr>
				<th class="{sorter:true, filter: false}">Tgl Klaim</th>
				<th class="{sorter:true, filter: false}">Tgl<br/>BKK</th>
				<th class="{sorter:true, filter: true}">BKK / DO</th>
				<th class="{sorter:true, filter: true}" width="150">Keterangan</th>
				<th class="{sorter:true, filter: true}" width="150">Rute</th>
				<th class="{sorter:true, filter: true}">KTR</th>
				<th class="{sorter:true, filter: true}">Nopol</th>
				<th class="{sorter:true, filter: true}">Supir</th>
				<th class="{sorter:true, filter: true}">Inv Tagihan</th>
				<!-- <th class="{sorter:true, filter: true}">Komo ditas</th>
				<th class="{sorter:true, filter: false}">Muat</th>
				<th class="{sorter:true, filter: false}">Bong kar</th>
				<th class="{sorter:true, filter: false}">Susut</th>
				<th class="{sorter:true, filter: false}">Tole ransi</th>
				<th class="{sorter:true, filter: false}">Beban Susut</th>
				<th>Harga</th> -->
				<th class="{sorter:true, filter: true}">User</th>
				<th class="{sorter:true, filter: false}">Klaim/<br/>Beban Supir</th>
				<th class="{sorter:true, filter: true}"  width="60">Status</th>
				<th class="{sorter:true, filter: true}"  width="60">Jurnal</th>
				<th class="{sorter:false, filter: false}" width="60"></th>
			</tr>

		</thead>

		<tbody>

		<%
		total = 0 
		driver_charge_total = 0
		@claimmemos.includes(invoice: [:vehicle, :customer, :route, :driver, :event, :ship]).includes(:taxinvoiceitem, :user, :bankexpenses).each do |memo| 
		%>
			<% total += memo.total %>
			<% driver_charge_total += memo.driver_charge %>
			<% status = claimmemo_status(memo) %>
			<tr>
				<td><strong><%=memo.date.strftime('%d')%></strong>/<%=memo.date.strftime('%m')%>/<%=memo.date.strftime('%y')%></td>
				<td><strong><%=memo.invoice.date.strftime('%d')%></strong>/<%=memo.invoice.date.strftime('%m')%>/<%=memo.invoice.date.strftime('%y')%></td>
				<td><strong><%= memo.invoice_id rescue nil%></strong><br><span style="font-weight: 500; color: #5a5a5a;">(<%= memo.invoice.event_id rescue nil %>)<span></td>
				<td>
				<strong><%= memo.invoice.customer.name rescue nil %></strong><br/>
				<%= memo.invoice.invoicetrain ? '= Kereta =' : '' %> 
				<%= (memo.invoice.isotank_id.present? && memo.invoice.isotank_id.to_i != 0) ? ("Isotank = " + memo.invoice.isotank.isotanknumber) : '' %>
				<%= (memo.invoice.container_id.present? && memo.invoice.container_id.to_i != 0) ? ("Kontainer = " + memo.invoice.container.containernumber) : '' %>
				<%= memo.invoice.ship_id.nil? ? '': ' | '+memo.invoice.ship.name rescue nil%>
				<%= memo.invoice.user_id.nil? ? '': ' | '+memo.invoice.user.username%>

				<br/>

				<% if memo.images.any? %>
					<br/>
					<span style="font-weight: 600; color: #5a5a5a;">Lampiran:</span>
					<ul style="padding: 0 0 0 1rem;">
					<% i = 0%>
					<% memo.images.each do |img|%>
						<li>
            				<a href="<%= img.file.url() rescue nil %>" target="_blank" style="text-decoration: underline;">
								Lampiran [<%= i+= 1 %>]
							</a><br/>    
						</li>
					<% end %>
					</ul>
				<% end %>
				</td>
				<td>1 Rit <%= memo.invoice.route.name rescue nil %></td>
				<td><%= memo.invoice.office.abbr rescue nil %></td>
				<td><%= memo.invoice.vehicle.current_id rescue nil %></td>
				<td><%= memo.invoice.driver.name rescue nil %></td>
				<td>
				<% taxinvoiceitems = Taxinvoiceitem.where("invoice_id = #{memo.invoice_id} AND deleted = FALSE") rescue nil; %>
				<% if !taxinvoiceitems.nil? %>
					<br/>

					<% taxinvoiceitems.each_with_index do |taxinvoiceitem,i| %>
					<% taxinvoice = Taxinvoice.find(taxinvoiceitem.taxinvoice_id) rescue nil  %>
						<% if !taxinvoice.nil? %>
						<%= taxinvoice.long_id %>
						<% end %>
					<% end %>
				<% end %>
				</td>
				<!--<td><%= memo.invoice.event.commodity.name rescue nil %></td>
				<td class="right"><%= memo.weight_gross rescue 0 %></td>
				<td class="right"><%= memo.weight_net rescue 0 %></td>
				<td class="right red"><%= memo.shrink rescue 0 %></td>
				<td class="right green"><%= memo.tolerance_total rescue 0 %></td>
				<td class="right red"><%= memo.shrinkage_load rescue 0 %></td>
				<td class="right"><%= memo.price_per rescue 0 %></td> -->
				<td><%= memo.user.username rescue nil %></td>
				<td class="right"><%= to_currency(memo.total) rescue 0 %><br/><%= to_currency(memo.driver_charge) rescue 0 %></td>
				<td style="width:60px;">
					<a class="cta" style="background: <%= status[:color] %>; color: <%= status[:text_color] %>; opacity: 1;">
						<%= status[:text] %>
					</a>
				</td>
				<td class="right" width="60">
					<div>
					<% memo.bankexpenses.active.each do |be| %>
						<%= link_to "#{be.date.strftime('%d/%m/%y')}",
									edit_bankexpense_path(be),
									style: "color:green; font-size:10px; margin-left: 6px;",
									target: "_blank" %><br>
					<% end %>
					</div>
				</td>
				<td class="right" width="60">
				<div class="flex">
					<div>
						<%= link_to '&#xf044;'.html_safe, edit_claimmemo_path(memo), :class => "edit tipsy", :title => 'Edit' %>
						<%= link_to '&#xf00d;'.html_safe, memo, :class => "delete tipsy", :title => 'Hapus', :confirm => 'Apakah anda yakin?', :method => :delete %> 
					</div>
				<div>
				</td>
			</tr>
			<% end %>
		<tbody>

		<tfoot>
			<tr class="footer">
				<td class="right" colspan="9">Total</td>
				<td class="right"></td>
				<td class="right"><strong><%= to_currency(total) %></strong><br/><strong><%= to_currency(driver_charge_total) %></strong></td>
				<td class="right" colspan="3"></td>
			</tr>
		</tfoot>

 
		</table>

	</div>

</div>