<%= render "shared/header" %>

<div id="main" class="login">
	<div id="content-full">
		
		<h2>Login</h2>

		<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
			<div class="field-row invalid">
				<label for="username">Akun</label>
		  		<%= f.text_field :username %>
				
			</div>
			<div class="field-row">
				<%= f.label :password %>
		  		<%= f.password_field :password %>
			</div>
			<div class="actions">
		  		<%= f.submit "Sign in" %>
			</div>
		<% end %>

	</div>
</div>
