<%= form_for(@vehiclegroup) do |f| %>
	<div class="field-row">
    <%= f.label :name, "Nama" %>
    <%= f.text_field :name %>
	</div>

  <div class="field-row">
    <%= f.label :description, "Keterangan" %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit "Simpan Data", :class => 'left' %>
    <a class="back left" href="<%=vehiclegroups_path%>">Kembali ke Index</a>
  </div>
<% end %>
