<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
	
	<div id="content-full">
		<a class="btn-txt cancel" href="<%=legalities_path%>"><i class="icon-remove"></i> Batal</a>

		<h1><a href="<%=legalities_path%>">Legalities</a> / Tambah</h1>

		<br class="clearfix" />
		
		<%= render "form" %>
		
		<br class="clearfix" />
	</div>

</div>