<% if @process != 'edit'%>
<div id="filter" style="margin-bottom:20px;">
    <form id="filterform" name="filterform" action="" method="get">
        <div class="field-row continue">
            <label for="customer_id">Pelanggan</label>&nbsp;&nbsp;
            <select name="customer_id" class="third left chzn-select" onchange="javascript: submitFormFilter();" style="width:400px;">
                <option value="0">- Harap Pilih -</option>
                <% Customer.active.order(:name).each do |customer| %>
                <option value="<%=customer.id%>" <% if @customer and customer.id == @customer.id %> selected='selected' <% end %>><%=customer.name%></option>
                <% end %>
            </select>
        </div>
    </form>
</div>
<% end %>

<div class="update-box">
    <strong class="red">Perhatian:</strong> Anda sedang melakukan pembuatan Invoice Generic
    <% if @process == 'edit' %>
    <h2><strong>Import item invoice</strong></h2>
    <%= form_tag import_excel_taxinvoices_path(), multipart: true do %>
    <input type="hidden" id="invoice_id" name="taxinvoice[taxinvoice_id]" value="<%=@taxinvoice.id%>" />
    <%= file_field_tag :file, :style => 'float: left; width: 70%;' %>
    <%= submit_tag "Import", :class => 'print btn-txt btn-green' %>
    <% end %>
    <% end %>
</div>

<% if @customer %>

<%= form_tag "/taxinvoices/generic/updateitems" do %>
<input type="hidden" name="taxinvoice_id" value="<%=params[:id]%>" />
<input type="hidden" name="process" value="<%=@process%>" />
<input type="hidden" name="customer_id" value="<%=@taxinvoice.customer_id%>" />

<% if @process =='edit'%>
<div class="field-row" style="padding-bottom:0px; display: flex; padding-right: 1rem; align-items: center;">
    <label>Pelanggan</label>
    <input type="text" class="disabled" value="<%=@customer.name%>" />
    <% if checkrole 'Admin Invoice Tagihan, Admin Penagihan' %>
    <a href="<%=params[:id]%>/updatecustomer" style="margin-left: -1.5rem; color: grey; font-size: 0.7rem;">Edit</a>
    <% end %>
</div>
<% end %>

<div class="field-row continue" style="padding-bottom:0px;">
    <label for="long_id" class="left">No. Invoice</label>
    <input type="text" class="left" name="long_id" value="<%=@taxinvoice.long_id%>" style="font-weight:700;" />
</div>

<div class="field-row continue" style="padding-bottom:0px;">
    <label for="date" class="left">Tgl Penagihan</label>
    <input type="text" class="half left date-picker" name="date" value="<%=@taxinvoice.date.strftime('%d-%m-%Y') if !@taxinvoice.date.nil?%>" />
</div>


<div class="field-row continue" style="padding-bottom:0px;">
    <label for="date" class="left">Tgl Kirim Invoice</label>
    <input type="text" class="half left date-picker" name="sentdate" value="<%=@taxinvoice.sentdate.strftime('%d-%m-%Y') if !@taxinvoice.sentdate.nil?%>" />
</div>

<div class="field-row continue" style="padding-bottom:0px;">
    <% if @process == 'edit' %>
    <label for="period_start" class="left">Periode</label>
    <input type="text" class="none left" name="customer_address" value="<%=@strPeriod%>" readonly="readonly" />
    <input type="hidden" name="period_start" value="<%=@taxinvoice.period_start.strftime('%d-%m-%Y') if !@taxinvoice.period_start.nil?%>" />
    <input type="hidden" name="period_end" value="<%=@taxinvoice.period_end.strftime('%d-%m-%Y') if !@taxinvoice.period_end.nil?%>" />
    <% end %>
</div>

<div class="field-row continue" style="padding-bottom:0px;">
    <label for="customer_address">Alamat</label>
    <textarea cols="40" rows="20" class="none left" name="customer_address" readonly="readonly"><%=@customer.address%></textarea>
    <input type="hidden" name="customer_id" value="<%=@customer.id%>" />
</div>

<% if !@customer.city.blank? %>
<div class="field-row continue" style="padding-bottom:0px;display:none">
    <label>&nbsp;</label>
    <input type="text" class="none left" name="customer_city" value="<%=@customer.city%>" readonly="readonly" />
</div>
<% end %>

<div class="field-row continue" style="padding-bottom:0px;">
    <label for="customer_npwp">N.P.W.P</label>
    <input type="text" class="left" name="customer_npwp" value="<%=@customer.npwp%>" />
</div>

<div class="field-row continue" style="padding-bottom:0px;">
    <label for="ship_name" class="half left">Nama Kapal</label>
    <input type="text" class="left" id="taxinvoice_ship_name" name="ship_name" value="<%=@taxinvoice.ship_name%>" />
</div>

<div class="field-row continue" style="padding-bottom:0px;">
    <label for="product_name" class="left" style>Barang</label>
    <input type="text" class="half left" name="product_name" value="<%=@taxinvoice.product_name%>" />
    <label for="spk_no" class="middle half">SPK</label>
    <input type="text" class="middle half" name="spk_no" value="<%=@taxinvoice.spk_no%>" />
</div>

<div class="field-row continue" style="margin-top: 1rem; padding-bottom:0px;">
    <label for="Kantor" class="half left">Kantor</label>
    <select id="office_id" name="office_id" class="half chzn-select">
        <option value="0">- Kantor -</option>
        <% Office.active.each do |office| %>
        <option value="<%=office.id%>" <% if office.id == @taxinvoice.office_id %> selected="selected" <% end %>><%=office.name%></option>
        <% end %>
    </select>
    <small>*diterbitkan untuk perhitungan kantor cabang</small>
</div>

<div class="field-row continue" style="padding-bottom:0px;">
    <label for="spo_no" class="half left">SPO</label>
    <input type="text" class="half left" name="spo_no" value="<%=@taxinvoice.spo_no%>" />

    <label for="po_no" class="middle half">PO</label>
    <input type="text" class="middle half" name="po_no" value="<%=@taxinvoice.po_no%>" />
</div>

<div class="field-row continue" style="padding-bottom:0px;">

    <label for="so_no" class="half left">SO</label>
    <input type="text" class="half left" name="so_no" value="<%=@taxinvoice.so_no%>" />

    <label for="sto_no" class="middle half">STO</label>
    <input type="text" class="middle half" name="sto_no" value="<%=@taxinvoice.sto_no%>" />

</div>

<div class="field-row continue" style="padding-bottom:0px;">
    <label for="do_no" class="half left">DO</label>
    <input type="text" class="half left" name="do_no" value="<%=@taxinvoice.do_no%>" />
</div>

<div class="field-row continue" style="padding-bottom:0px;">
    <label for="waybill" class="half left">No. Resi Pengiriman</label>
    <input type="text" class="half left" name="waybill" value="<%=@taxinvoice.waybill%>" />
</div>

<div class="field-row" style="padding: 15px 0 0;">
    <label for="bank_id" class="half left">BANK</label>
    <select id="" name="bank_id" class="double chzn-select">
        <option value="0">- Pilih Bank -</option>
        <% Bank.active.order(:id).each do |bank| %>
        <option value="<%=bank.id%>" <% if bank.id == @taxinvoice.bank_id %> selected="selected" <% end %>><%=bank.name%> (<%=bank.bank_account_number%>)</option>
        <% end %>
    </select>
</div>

<div class="field-row continue" style="padding-bottom:0px;">
    <label for="extra_cost_info" class="half left">Memo</label>
    <input type="text" class="double left" id="taxinvoice_extra_cost_info" name="extra_cost_info" value="<%=@taxinvoice.extra_cost_info%>" />
</div>

<div class="field-row continue" style="padding-bottom:0px;">
    <label for="dp_cost" class="half left">Down Payment</label>
    <input type="text" class="half left" id="taxinvoice_dp_cost" name="dp_cost" value="<%=@taxinvoice.dp_cost.to_i%>" onkeypress="javascript:return isMoneyKey(this);" onchange="javascript: changeTaxesGeneric();" />
    <input type="hidden" name="is_dp" value="<%=@taxinvoice.is_dp ? 'true' : '' %>">
</div>

<div class="field-row continue" style="padding-bottom:0px;">
    <label for="discount_amount" class="half left">Diskon</label>
    <input type="text" class="half left" id="taxinvoice_discount_amount" name="discount_amount" value="<%=@taxinvoice.discount_amount.to_i%>" onkeypress="javascript:return isMoneyKey(this);" onchange="javascript: changeTaxesGeneric();" />
</div>

<div class="field-row continue" style="padding-bottom:0px;">
    <label for="extra_cost" class="half left">Biaya Tambahan</label>
    <input type="text" class="half left" id="taxinvoice_extra_cost" name="extra_cost" value="<%=@taxinvoice.extra_cost.to_i%>" onkeypress="javascript:return isMoneyKey(this);" onchange="javascript: changeTaxesGeneric();" />
</div>

<div class="field-row continue" style="padding-bottom:0px;">
    <label for="insurance_cost" class="half left">Biaya Asuransi</label>
    <input type="text" class="half left" id="taxinvoice_insurance_cost" name="insurance_cost" value="<%=@taxinvoice.insurance_cost.to_i%>" onkeypress="javascript:return isMoneyKey(this);" onchange="javascript: changeTaxesGeneric();" />
</div>

<div class="field-row continue" style="padding-bottom:0px;">
    <label for="claim_cost" class="half left">Potongan Klaim Selisih</label>
    <input type="text" class="half left" id="taxinvoice_claim_cost" name="claim_cost" value="<%=@taxinvoice.claim_cost.to_i%>" onkeypress="javascript:return isMoneyKey(this);" onchange="javascript: changeTaxesGeneric();" />
</div>

<div class="field-row continue" style="padding-bottom:20px;">
    <label for="extra_cost" class="half left">Harga Borongan</label>
    <input type="text" id="wholesale_price" name="wholesale_price" class="short none" readonly="readonly" value="<%=to_currency(@customer.wholesale_price) %>" />
</div>

<%
        ppn = Setting.where(name: 'ppn')
        ppn = ppn.blank? ? 12 : ppn[0].value
    %>
<div class="field-row" style="padding-bottom:0px;">
    <label style="color:#000; font-weight:700;">PPN </label>
    <input type="hidden" id="ppn" value="<%= ppn %>" />
    <input type="radio" id="chk_gst_tax" name="gst_tax" class="gst_tax" value="<%= ppn %>" onchange="javascript:changeTaxesGeneric();" <% if (@taxinvoice.gst_tax > 0 && @taxinvoice.gst_percentage.to_f == 0) || (@taxinvoice.gst_percentage.to_f == ppn.to_f) %> checked="checked" <% end %> /> &nbsp; PPN <%= ppn %>% &nbsp; &nbsp; &nbsp;
    <input type="radio" id="chk_gst_tax2" class="gst_tax" name="gst_tax" value="11" onchange="javascript:changeTaxesGeneric();" <% if @taxinvoice.gst_percentage.to_f  == 11 %> checked="checked" <% end %> /> &nbsp; PPN 11% &nbsp; &nbsp; &nbsp;
    <input type="radio" id="chk_gst_tax2" class="gst_tax" name="gst_tax" value="1.1" onchange="javascript:changeTaxesGeneric();" <% if @taxinvoice.gst_percentage.to_f  == 1.1 %> checked="checked" <% end %> /> &nbsp; PPN 1,1% &nbsp; &nbsp; &nbsp;
    <input type="radio" id="chk_gst_tax2" class="gst_tax" name="gst_tax" value="0" onchange="javascript:changeTaxesGeneric();" <% if @taxinvoice.gst_percentage.to_f == 0 && @taxinvoice.gst_tax.to_i == 0 %> checked="checked" <% end %> /> &nbsp; No PPN &nbsp; &nbsp; &nbsp;
</div>

<div class="field-row continue" style="padding-bottom:0px;">
    <label style="color:#000; font-weight:700;">PPH</label>
    <input type="checkbox" id="chk_price_tax" name="price_tax" value="Yes" onchange="javascript:changeTaxesGeneric();" <% if @taxinvoice.price_tax > 0 %> checked="checked" <% end %> /> &nbsp; PPh PASAL 23 2%
</div>

<div class="field-row continue" style="padding-bottom:0px;">
    <label style="color:#000; font-weight:700;">Harga Hitung </label>
    <input type="radio" id="price_by" name="price_by" value="is_net" onchange="javascript:changeCountRatesInvoiceGeneric();" <% if @taxinvoice.price_by == 'is_net' %>checked="checked" <% end%> /> &nbsp; Bongkar &nbsp;
    <input type="radio" id="price_by" name="price_by" value="is_gross" onchange="javascript:changeCountRatesInvoiceGeneric();" <% if @taxinvoice.price_by == 'is_gross' %>checked="checked" <% end%> /> &nbsp; Muat &nbsp;
    <!-- 
  <input type="radio" id="price_by" name="price_by" value="is_wholesale" onchange="javascript:changeWholesalePriceInvoice();" <% if @taxinvoice.price_by == 'is_wholesale' %>checked="checked"<% end%>/> &nbsp; Borongan
   -->
</div>

<div class="field-row continue" style="padding-bottom:10px;">
    <label style="color:#000; font-weight:700;">+/-</label>
    <input type="checkbox" id="is_weightlost" name="is_weightlost" value="Yes" <% if @taxinvoice.is_weightlost %> checked="checked" <% end %> /> &nbsp; Tampilkan data susut saat print invoice &nbsp;
</div>

<div class="field-row continue" style="padding-bottom:10px;">
    <label style="color:#000; font-weight:700;">Qty Muat</label>
    <input type="checkbox" id="is_showqty_loaded" name="is_showqty_loaded" value="Yes" <% if @taxinvoice.is_showqty_loaded %> checked="checked" <% end %> /> &nbsp; Tampilkan quantity muat saat print invoice &nbsp;
</div>

<div class="field-row continue" style="padding-bottom:10px;">
    <label style="color:#000; font-weight:700;">Qty Bongkar</label>
    <input type="checkbox" id="is_showqty_unloaded" name="is_showqty_unloaded" value="Yes" <% if @taxinvoice.is_showqty_unloaded %> checked="checked" <% end %> /> &nbsp; Tampilkan quantity bongkar saat print invoice &nbsp;
</div>

<div class="field-row continue" style="padding-bottom:10px;">
    <label style="color:#000; font-weight:700;">Pembulatan Nominal</label>
    <input type="checkbox" id="is_rounded" name="pembulatan" onclick="bulatkan_generic()" /> &nbsp; Bulatkan angka - angka yang bernilai Decimal &nbsp;
</div>
<!-- 
<div class="field-row" style="padding-bottom:0px;">
  <label for="total_in_words" class="half  left">Terbilang</label>
  <input type="text" class="double left" id="taxinvoice_total_in_words" name="total_in_words" value="<%=@taxinvoice.total_in_words%>" /> 
</div>
 -->
<div class="field-row continue" style="margin-bottom:30pxip;">
    <label for="description" class="half left">Keterangan</label>
    <textarea cols="40" id="taxinvoice_description" name="description" rows="20"><%=@taxinvoice.description%></textarea>
</div>

<br class="clear" />

<table class="row-view" id="tbItem">
    <thead>
        <tr id="0">
            <th width="30">No</th>
            <th width="85">Tanggal</th>
            <th width="70">NoPol</th>
            <th width="110">Surat Jalan</th>
            <th>Jurusan</th>
            <th width="30" class="right">Berat <%="(" + @unitname +")" if !@unitname.blank? %></th>
            <th width="90" class="right">Total</th>
        </tr>
    </thead>

    <tbody id="generic-form">

        <% x = 0 %>
        <% @taxgenericitems.each_with_index do |item, i| %>
        <% vehicle = Vehicle.find(item.vehicle_id) %>
        <tr id="item_<%=item.id%>" valign="top">
            <td valign="top"><%=i+1%>.</td>
            <td valign="top"><input type="text" name="_date_<%=item.id%>" class="short date-picker" value="<%=item.date.strftime('%d-%m-%Y')%>" /></td>
            <td valign="top"><input type="text" name="_vehicle_<%=item.id%>" class="short vehicle_autocomplete" value="<%=vehicle.current_id%>" /></td>
            <td valign="top"><input type="text" name="_sku_<%=item.id%>" class="half" value="<%=item.sku_id%>" /></td>
            <td><textarea name="_route_<%=item.id%>" style="width:300px; min-width:0; height:50px;"><%=raw nl2br(item.description)%></textarea></td>
            <td>
                <input type="text" id="_gross_<%=i.to_s%>" name="_gross_<%=item.id%>" class="shorter right half" value="<%=item.weight_gross%>" onkeypress="javascript:return isNumberKey(this);" onchange="javascript: countTotalInvoiceGeneric(<%=i.to_s%>);" placeholder="Muatt" maxlength="6" /><br />
                <input type="text" id="_net_<%=i.to_s%>" name="_net_<%=item.id%>" class="shorter right half" value="<%=item.weight_net%>" onkeypress="javascript:return isNumberKey(this);" onchange="javascript: countTotalInvoiceGeneric(<%=i.to_s%>);" placeholder="Bongkar" maxlength="6" />
                <input type="text" id="_price_<%=i.to_s%>" name="_price_<%=item.id%>" class="shorter right half" value="<%=item.price_per.to_i%>" onkeypress="javascript:return isMoneyKey(this);" onchange="javascript: countTotalInvoiceGeneric(<%=i.to_s%>);" placeholder="Harga" maxlength="9" />
            </td>
            <td align="right"><label id="_total_<%=i.to_s%>"><%=to_currency_bank(item.total)%></label></td>
            <!-- <td align="right"><input type="text" id="_total_<%=item.id%>" name="_total_<%=item.id%>" class="shorter right half" value="<%=to_currency_bank(item.total)%>" placeholder="0,00" readonly="readonly" /></td> -->
        </tr>
        <% end if !@taxgenericitems.nil? %>

        <% (@taxgenericitems.count rescue 0).upto(19).each do |i| %>
        <tr id="item_<%=i+1%>" valign="top">
            <td valign="top"><%=i+1%>.</td>
            <td valign="top"><input type="text" name="_date[]" class="short date-picker" value="" /></td>
            <td valign="top"><input type="text" name="_vehicle[]" class="short vehicle_autocomplete" value="" /></td>
            <td valign="top"><input type="text" name="_sku[]" class="half" value="" /></td>
            <td><textarea name="_route[]" style="width:300px; min-width:0; height:50px;"></textarea></td>
            <td>
                <input type="text" id="_gross_<%=i.to_s%>" name="_gross[]" class="shorter right half" value="" onkeypress="javascript:return isNumberKey(this);" placeholder="Muat" maxlength="6" onchange="javascript:countTotalInvoiceGeneric(<%=i.to_s%>);" /><br />
                <input type="text" id="_net_<%=i.to_s%>" name="_net[]" class="shorter right half" value="" onkeypress="javascript:return isNumberKey(this);" placeholder="Bongkar" maxlength="6" onchange="javascript:countTotalInvoiceGeneric(<%=i.to_s%>);" />
                <input type="text" id="_price_<%=i.to_s%>" name="_price[]" class="shorter right half" value="" onkeypress="javascript:return isMoneyKey(this);" placeholder="Harga" maxlength="9" onchange="javascript:countTotalInvoiceGeneric(<%=i.to_s%>);" />
            </td>
            <!-- <td align="right"><input type="text" id="total_<%=i.to_s%>" name="_total[]" class="shorter right" value="100" placeholder="0,00"  /></td> -->
            <td align="right"><label id="_total_<%=i.to_s%>">0,00</label></td>
            </td>
        </tr>
        <% end %>
    </tbody>

    <tfoot>
        <tr id="-1">
            <td colspan="3"></td>
            <td></td>
            <td></td>
            <td align="right">SUBTOTAL</td>
            <td align="right"><span id="lbl_subtotal"><%=to_currency_bank(@taxgenericitems.sum(:total)) rescue 0%></span></td>
            <input type="hidden" id="taxinvoice_subtotal" name="subtotal" value="<%=@taxgenericitems.sum(:total) rescue 0%>" />

            <!-- <td></td>
     <td></td>
     <td align="right"><label id="linetotal" >0,00</label></td> -->
        </tr>

        <tr id="-2">
            <td colspan="3"></td>
            <td align="right">&nbsp;</td>
            <td align="right">&nbsp;</td>
            <td align="right">Biaya Tambahan</td>
            <td align="right"><span id="txt_extra_cost"><%=to_currency_bank(@taxinvoice.extra_cost)%></span></td>
        </tr>

        <tr id="-2">
            <td colspan="3"></td>
            <td align="right">&nbsp;</td>
            <td align="right">&nbsp;</td>
            <td align="right">Down Payment</td>
            <td align="right"><span id="txt_dp_cost" class="red"><%= to_currency_bank(0 - @taxinvoice.dp_cost)%></span></td>
        </tr>

        <tr id="-2">
            <td colspan="3"></td>
            <td align="right">&nbsp;</td>
            <td align="right">&nbsp;</td>
            <td align="right">Discount</td>
            <td align="right"><span id="txt_discount_amount" class="red"><%= to_currency_bank(0 - @taxinvoice.discount_amount)%></span></td>
        </tr>

        <tr id="-3">
            <td colspan="3"></td>
            <td align="right">&nbsp;</td>
            <td align="right">&nbsp;</td>
            <td align="right">Biaya Asuransi</td>
            <td align="right"><span id="txt_insurance_cost" <% if @taxinvoice.insurance_cost > 0 %> class="red" <% end %>><%=to_currency_bank(0 - @taxinvoice.insurance_cost)%></span></td>
        </tr>

        <tr id="-3">
            <td colspan="3"></td>
            <td align="right">&nbsp;</td>
            <td align="right">&nbsp;</td>
            <td align="right">Potongan Klaim Selisih</td>
            <td align="right"><span id="txt_claim_cost" <% if @taxinvoice.claim_cost > 0 %> class="red" <% end %>><%=to_currency_bank(0 - @taxinvoice.claim_cost)%></span></td>
        </tr>

        <tr id="-3">
            <td colspan="3"></td>
            <td align="right">&nbsp;</td>
            <td align="right">&nbsp;</td>
            <td align="right">PPN <span id="ppn_amount"><%= @taxinvoice.get_ppn(ppn) %></span>%</td>
            <td align="right"><span id="txt_gst_tax"><%=to_currency_bank(@taxinvoice.gst_tax)%></span></td>
        </tr>

        <tr id="-4">
            <td colspan="3"></td>
            <td align="right">&nbsp;</td>
            <td align="right">&nbsp;</td>
            <td align="right">PPH 2%</td>
            <td align="right"><span id="txt_price_tax" <% if @taxinvoice.price_tax > 0 %> class="red" <% end %>><%=to_currency_bank(0 - @taxinvoice.price_tax)%></span></td>
        </tr>

        <tr id="-5" class="footer">
            <td colspan="3"></td>
            <td align="right">&nbsp;</td>
            <td align="right">&nbsp;</td>
            <td align="right" class="total">TOTAL</td>
            <td align="right" class="total"><span id="txt_total"><%=to_currency_bank(@taxinvoice.total)%></span></td>
        </tr>
    </tfoot>
</table>

<div class="actions">
    <a class="btn right" href="<%=taxinvoices_path({:customer_id => $globalCustomer_id, :month => $globalMonth, :year => $globalYear})%>">Kembali ke Index</a>
    <input type="submit" value="Simpan Invoice Generic" class="right" />
</div>

<% end %>

<% end %>