<% if @invoice %>

<%= form_for(@insuranceexpense) do |f| %>

  <%= f.hidden_field :invoice_id, :value => @invoice.id %>

  <div class="info-box" style="margin-bottom:30px; width:560px; float:left; clear:left;">  

    <h3>Biaya <%= @invoice.invoicetrain ? "Kereta" : ""%> BKK #<%=zeropad(@invoice.id)%></h3>

    <table class="row-view no-border">
        <tr>
          <td width="120">Tanggal</td>
          <td><%=@invoice.date.strftime('%d %B %Y')%> &nbsp;(KTR: <%=@invoice.office.name%>)</td>
        </tr>
        <tr>
          <td>Pelanggan</td>
          <td><%=@invoice.customer.name%></td>
        </tr>
        <tr>
          <td>Jurusan</td>
          <td><strong><%=@invoice.quantity%></strong> Rit: <%=@invoice.route.name%></td>
        </tr>
        <tr>
          <td>No. DO</td>
          <td><%=@invoice.event_id rescue nil%> (<%=@invoice.event.summary rescue nil%>)</td>
        </tr>

        <tr>
          <td>Komoditas</td>
          <td><%=@invoice.event.commodity.name rescue nil%></td>
        </tr>

        <tr>
          <td>Tonage</td>
          <td>
            <% est_volume = @invoice.event.volume rescue 0 %>
					  <% qty = @invoice.event.qty rescue 0 %>
            <% est_volume = est_volume / qty %>
            <%= to_currency(est_volume) %>
          </td>
        </tr>

        <tr>
          <td>Kendaraan</td>
          <td><%=@invoice.vehicle.current_id%> &nbsp;(UP: <%= @invoice.insurance > 0 ? "Ada" : "Tidak Ada" %>)</td>
        </tr>
        <% if @invoice.isotank_id != 0 %>
        <tr>
          <td>No. Isotank</td>
          <td id="strIsotank"><%=@invoice.isotank.isotanknumber rescue nil%></td>
        </tr>
      <% else %>
        <% if !@invoice.isotank_number.nil? %>
          <tr>
            <td>No. Isotank</td>
            <td id="strIsotank"><%=@invoice.isotank_number%></td>
          </tr>
        <% end %>
      <% end %>
          
      <% if @invoice.container_id != 0 %>
        <tr>
          <td>No. Kontainer</td>
          <td id="strIsotank"><%=@invoice.container.containernumber rescue nil%></td>
        </tr>
      <% else %>
        <% if !@invoice.container_number.nil? %>
          <tr>
            <td>No. Kontainer</td>
            <td id="strIsotank"><%=@invoice.container_number%></td>
          </tr>
        <% end %>
      <% end %>
        <tr>
          <td>Supir</td>
          <td><%=@invoice.driver.name%> (<%=zeropad(@invoice.driver.id)%>)<% if !@invoice.driver.helpers.first.nil? %> &nbsp;(Kernet: <%=@invoice.driver.helpers.first.name%>)<% end %></td>
        </tr>
        <% if !@invoice.description.blank? %>
        <tr>
          <td>Keterangan</td>
          <td><%= @invoice.description %></td>
        </tr>   
        <% end %>
        <tr>
            <td></td>
            <td></td>
        </tr>

        <tr>
          <td>Memo</td>
          <td><%= f.text_area :description, :class => '', style: "border: 2px solid #d7d7d7; height: 50px;".html_safe, rows: 10 %></td>
        </tr>
    </table>

    <table class="row-view">
      <tr>
        <th>Keterangan</th>
        <th width="160" class="right" style="padding-right:5px;">Total</th>
      </tr>

      <tr>
        <td><%= f.label :invoicevendor_id, "Broker" %></td>
        <td>
          <select id="insuranceexpense_insurancevendor_id" name="insuranceexpense[insurancevendor_id]" class="half combo_route">
              <option value="0">- Vendor -</option>
              <% Insurancevendor.active.order(:name).each do |vendor| %>
              <option value="<%=vendor.id%>"<%= vendor.id == @insuranceexpense.insurancevendor_id ? ' selected="selected"' : '' %>><%=vendor.name%></option>
            <% end %>
          </select>
        </td>
      </tr>

      <tr>
        <td><%= f.label :insurance_name, "Asuransi" %></td>
        <td><%= f.text_field :insurance_name, :class => 'half'%></td>
      </tr>

      <tr>
        <td><%= f.label :policy_number, "No. Polis" %></td>
        <td><%= f.text_field :policy_number, :class => 'half'%></td>
      </tr>

      <tr>
        <td><%= f.label :due_date, "Tgl Jatuh Tempo" %></td>
        <td><%= f.text_field :due_date, :class => 'half date-picker'%></td>
      </tr>
 
      <tr>
        <td><%= f.label :insurance_rate, "Rate" %></td>
        <td><%= f.text_field :insurance_rate, :class => 'half disabled allowance-field', :value => rate = 0.0008, :readOnly => 'true' %></td>
      </tr>

      <tr>
        <td><%= f.label :tsi_total, "Nilai Pertanggungan" %></td>
        <td><%= f.text_field :tsi_total, :class => 'half allowance-field', onkeyup: "count_insuranceexpense()", onchange: "count_insuranceexpense()", :value => to_currency(tsitotal = @invoice.event.tsi_total rescue 500000000) %></td>
      </tr>
 
      <tr class="total-row">
        <td><%= f.label :total, "Total Premi" %></td>
        <td><%= f.text_field :total, :class => 'half disabled allowance-field', :value => to_currency(tsitotal * rate), :readOnly => 'true' %></td>
      </tr>
    </table>

    <div class="field-row continue">

      <%= f.hidden_field :user_id, :value => current_user.id %>

      <%= f.submit "Tambah Data", :class => 'submit right' %>    
    </div>

  </div>

<% end %>

<% end %>


<%= content_for :js do %>
  <script>
    function formatRupiah(angka, prefix, decimal_place = 0) {
      if (typeof(angka) == 'number') {
        angka = angka.toFixed(decimal_place);
        angka = angka.toString();
      }

      var number_string = angka.replace(/[^,\d]/g, '').toString(),
        split = number_string.split(','),
        sisa = split[0].length % 3,
        rupiah = split[0].substr(0, sisa),
        ribuan = split[0].substr(sisa).match(/\d{3}/gi);

      // tambahkan titik jika yang di input sudah menjadi angka ribuan
      if (ribuan) {
        separator = sisa ? '.' : '';
        rupiah += separator + ribuan.join('.');
      }

      rupiah = split[1] != undefined ? rupiah + ',' + split[1] : rupiah;
      return prefix == undefined ? rupiah : (rupiah ? 'Rp. ' + rupiah : '');
    }

    function clean_currency(string) {
      return parseInt(string.replaceAll(".","").replaceAll(",","."));
    }

     function count_insuranceexpense() {
      rate = $("#insuranceexpense_insurance_rate").val();
      tsi = $("#insuranceexpense_tsi_total").val();

      $("#insuranceexpense_tsi_total").val(formatRupiah(tsi));

      rate = rate == "" ? 0 : rate;
      tsi = tsi == "" ? 0 : clean_currency(tsi);
      
      console.log(rate);
      console.log(tsi);

      calc = rate * tsi;
      // ppn = 0;
      // if ($("#routetrain_has_ppn").is(":checked")) {
      //   ppn = parseInt(price_per * 11 / 100);
      // }

      // $("#insuranceexpense_gst_tax").val(formatRupiah(ppn));
      console.log(calc)
      $("#insuranceexpense_total").val(formatRupiah(calc));
      
    }

    $(document).ready(function() {
      
    })
    .on("click","#routetrain_has_ppn",function(){
      count_insuranceexpense();

    });

    // $(document).ready(function() {
      
    // })
    // .on("click","#routetrain_has_ppn",function(){
    //   price_per = $("#insuranceexpense_price_per").val();
    //   price_per = price_per == "" ? 0 : clean_currency(price_per);
    //   ppn = 0;
    //   if ($(this).is(":checked")) {
    //     ppn = parseInt(price_per * 11 / 100);
    //   }

    //   $("#insuranceexpense_gst_tax").val(formatRupiah(ppn));
    //   $("#insuranceexpense_total").val(formatRupiah(price_per + ppn));

    // });
  </script>
<% end %>
