<%= form_for(@driverlog) do |f| %>
	<%= f.hidden_field :driver_id %>
  	<%= f.hidden_field :ready %>

	<div class="field-row first">
    	<label for="date">Tanggal</label>
    	<input type="text" class="disabled half left" readonly="true" value="<%=Date.today.strftime('%d-%m-%Y')%>" />
  	</div>	 
  	<div class="field-row">
    	<label for="status" class="left">Status</label>
    	<input type="text" class="disabled half left" readonly="true" value="<%=@status%>" />
   	</div>
   	<% if !@driverlog.ready %>
  	<div class="field-row">
    	<%= f.label :absent, "Absen" %>
    	<%= f.check_box :absent %>
  	</div>
  	<% end %>

	<div class="field-row">
    	<%= f.label :description, "Keterangan" %>
    	<%= f.text_area :description %>
  	</div>  

  	<div class="actions">
    	<input class="left" id="driverlog_submit" name="commit" type="submit" value="Tambah Data">
    	<a class="back left" href="<%=driverlogs_path%>">Kembali ke Index</a>
  	</div>
<% end %>