<%= render "shared/header" %>

<div id="main">
	
	<div id="nav">
		<%= render "shared/nav" %>
	</div>

	<div id="mid">
		<a class="btn-txt cancel" href="<%=suppllierpayments_path%>"><i class="icon-remove"></i> Batal</a>

		<h1><a href="<%=suppllierpayments_path%>">Bayar Supplier</a> / Tambah</h1>

		<div id="content">
			<%= render "form" %>
		</div>
	</div>

</div>