<%= render "shared/header" %>

<%= content_for :css do %>	 
	<style>
		#main #filter {
			height: 44px;
		}

        .flex {
            gap: 1rem;
            margin-bottom: 1.5rem;
        }

		.mb-0 {
			margin-bottom: 0;
		}

        .widget-cardo {
            width: 200px; 
            padding: 0.8rem;
            background: #f0f0f0;
            text-align: center;
        }

		.widget-carda {
            width: 320px; 
            padding: 0.8rem;
            background: #f0f0f0;
            text-align: center;
			position: relative;
        }

        .widget-cardo p, .widget-carda p {
            margin-top: 0;
            padding-bottom: 0;
        }

        .widget-cardo strong, .widget-carda strong {
            font-size: 1.25rem;
            color: #1e1e1e;
        }

		.widget-carda span {
            font-size: 12px;
            color: #4a4a4a;
        }

		#chart-omzet {
			width: 60%;
            padding: 0.8rem;
            background: #f0f0f0;
		}

		#side-chart {
			width: 40%;
            padding: 0.8rem;
            background: #f0f0f0;
		}

		#pie-chart {
			width: 50%;
            padding: 0.8rem;
            background: #f0f0f0;
		}

		.space {
			justify-content: space-between;
		}

		 .text-dark {
			color: #010101;
		 }

		 .check {
			position: absolute;
			right: 0;
			top: 0;
			margin-right: 8px;
			margin-top: 8px;
			padding: 5px;
			border: 1px dotted grey;
			border-radius: 50%;
		 }

	</style>
<% end %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">

	<div id="content-full">
	<a href="<%= new_quotationgroup_url %>" class="btn print">Buat Penawaran</a>
	
	<h1>Marketing Dashboard:</h1>

	<br class="clearfix" />

 
	<br class="clearfix" />

	<div class="flex mb-0">
		<h2 style="font-weight: 700;">Stats Penawaran <span><%= @default_month.strftime("%b %Y") %></span></h2>
	</div>

	<div class="flex">
		<div class="widget-cardo">
			<p class="text-dark">Pelanggan Baru</p>
			<strong><%= @new_customers.count %></strong>
		</div>
		<div class="widget-cardo">
			<a href="quotationgroups/reports?customer=all&status=Draft">
				<p class="text-dark">Draft Penawaran</p>
				<strong><%= @quotationgroups_draft.count %></strong>
			</a>
		</div>
		<div class="widget-cardo">
			<a href="quotationgroups/reports?customer=all&status=Sudah Review">
				<p class="text-dark">Direview</p>
				<strong><%= @quotationgroups_reviewed.count %></strong>
			</a>
		</div>
		<div class="widget-cardo">
			<a href="quotationgroups/reports?customer=all&status=Terkonfirmasi">
				<p class="text-dark">Konfirmasi</p>
				<strong><%= @quotationgroups_confirmed.count %></strong>
			</a>
		</div>
		<div class="widget-cardo">
			<a href="quotationgroups/reports?customer=all&status=Dikirim">
				<p class="text-dark">Dikirim</p>
				<strong><%= @quotationgroups_sent.count %></strong>
			</a>
		</div>
		<div class="widget-cardo">
			<a href="quotationgroups/reports?customer=all&status=Disetujui">
				<p class="text-dark">Disetujui</p>
				<strong><%= @quotationgroups_approved.count %></strong>
			</a>
		</div>
	</div>

	<div class="flex space mb-0">
		<h2 style="font-weight: 700;">Stats Marketing 
		<% if @startdate.nil? && @enddate.nil? %>
		<span>
			<%= @default_month.strftime("%b %Y") %>
		</span>
		<% else %>

		<span class="red">
			<%= @startdate.to_date.strftime("%d %b %Y") %> - <%= @enddate.to_date.strftime("%d %b %Y") %>
		</span>

		<% end %>
		</h2>

		<div class="field-row continue" style="width: 395px;">
			<form id="filterform" name="filterform" action="/marketings/filtered" method="get">
				<label for="startdate" style="width: 50px;"/>Tgl Awal</label>
				<input type="text" name="startdate" class="left half date-picker" value="<%=@startdate%>" style="width: 80px;"/>
				<label for="enddate" class="middle" style="width: 40px;"/>Akhir</label>
				<input type="text" name="enddate" class="left half date-picker" value="<%=@enddate%>" style="width: 80px;"/>
				<input class="submit" type="submit" value="Filter" style="margin-left: 16px; margin-right: 0;"/>
			</form>
		</div>
	</div>

	<div class="flex">
		<div class="widget-carda">
			<a class="check" target="_blank" href="/reports/estimation-event-expense?user_id=14&marketingname=Indra&startdate=<%=@startdate%>&enddate=<%=@enddate%>">
				<i class="icon-search" style="color: #6d6d6d;"></i>
			</a>
			<p>Indra<br>
			<span>General<span>
			</p>
			<strong><%= @stat_indra.count %></strong>
			<br/>
			<small>DO</small>
			<br/><br/>
			<strong><%= to_currency(@events_by_user['omzet_14']) %></strong>
			<br/>
			<small>Est. Omzet</small>
		</div>
		<div class="widget-carda">
			<a class="check" target="_blank" href="/reports/estimation-event-expense?user_id=69&marketingname=Lilis&startdate=<%=@startdate%>&enddate=<%=@enddate%>">
				<i class="icon-search" style="color: #6d6d6d;"></i>
			</a>
			<p>Lilis<br>
			<span>Barat<span>
			</p>
			<strong><%= @stat_lilis.count %></strong>
			<br/>
			<small>DO</small>
			<br/><br/>
			<strong><%= to_currency(@events_by_user['omzet_69']) %></strong>
			<br/>
			<small>Est. Omzet</small>
		</div>
		<div class="widget-carda">
			<a class="check" target="_blank" href="/reports/estimation-event-expense?user_id=93&marketingname=Finca&startdate=<%=@startdate%>&enddate=<%=@enddate%>">
				<i class="icon-search" style="color: #6d6d6d;"></i>
			</a>
			<p>Finca<br>
			<span>Tengah<span>
			</p>
			<strong><%= @stat_finca.count %></strong>
			<br/>
			<small>DO</small>
			<br/><br/>
			<strong><%= to_currency(@events_by_user['omzet_93']) %></strong>
			<br/>
			<small>Est. Omzet</small>
		</div>
		<div class="widget-carda">
			<a class="check" target="_blank" href="/reports/estimation-event-expense?user_id=112&marketingname=Anindya&startdate=<%=@startdate%>&enddate=<%=@enddate%>">
				<i class="icon-search" style="color: #6d6d6d;"></i>
			</a>
			<p>Anindya<br>
			<span>Timur<span>
			</p>
			<strong><%= @stat_anin.count %></strong>
			<br/>
			<small>DO</small>
			<br/><br/>
			<strong><%= to_currency(@events_by_user['omzet_112']) %></strong>
			<br/>
			<small>Est. Omzet</small>
		</div>
	</div>

	<div class="flex">
		<div id="chart-omzet-14" class="widget-carda">
		<div class="loader marketing-u d-block" style="margin:3rem auto 3rem auto;"></div>
		<small>Total omzet 3 bulan terakhir Indra dalam juta</small>
		</div>
		<div id="chart-omzet-69" class="widget-carda">
		<div class="loader marketing-u d-block" style="margin:3rem auto 3rem auto;"></div>
		<small>Total omzet 3 bulan terakhir Lilis dalam juta</small>
		</div>
		<div id="chart-omzet-93" class="widget-carda">
		<div class="loader marketing-u d-block" style="margin:3rem auto 3rem auto;"></div>
		<small>Total omzet 3 bulan terakhir Finca dalam juta</small>
		</div>
		<div id="chart-omzet-112" class="widget-carda">
		<div class="loader marketing-u d-block" style="margin:3rem auto 3rem auto;"></div>
		<small>Total omzet 3 bulan terakhir Anindya dalam juta</small>
		</div>
	</div>

	<div class="flex">
		<div id="pie-chart">
			<div class="loader marketing d-block" style="margin:3rem auto 3rem auto;"></div>
			<strong>Omzet per Marketing</strong>
		</div>
		<div id="pie-chart" style="background:transparent;">
		</div>
	</div>

	<div class="flex mb-0">
		<h2 style="font-weight: 700;">Summary Estimasi Omzet vs Jumlah DO</h2>
	</div>

	<div class="flex">
		<div id="chart-omzet">
		<div class="loader marketing d-block" style="margin:3rem auto 3rem auto;"></div>
		<strong>Summary Estimasi Omzet</strong>
		</div>
		<div id="side-chart">
		<div class="loader marketing d-block" style="margin:3rem auto 3rem auto;"></div>
		<strong>Summary Jumlah DO</strong>
		</div>
	</div>

</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>