<% 
	page = params[:page].blank? ? 1 : params[:page].to_i 
	if @total_page > 6
		start_page = page - 3
		start_page = 2 if start_page <= 1
		end_page = page + 4
		end_page = @total_page if end_page >= @total_page
		max_page = @total_page	
		first_page = 1

	else
		start_page = 1
		end_page = @total_page + 1
	end
	
%>


<table class="row-view report-view tablesorter tablesorterFilters">
    <thead>
        <tr>
            <th class="{sorter:true, filter: true}" >Nama Jurusan</th>
            <th class="{sorter:true, filter: true}" >Nama Pelanggan</th>
            <th class="{sorter:true, filter: true}" width="80">Muatan</th>
            <th class="{sorter:true, filter: true}" width="100">Kantor</th>
            <th class="{sorter: false, filter: false}">Rute</th>
            <th class="{sorter: false, filter: false}">Aktif</th>
            <th width="60" class="{sorter: false, filter: false}"></th>
        </tr>
    </thead>

    <tbody class="tablesorter-sort">
    <% @routes.each do |route| %>
    <tr>
        <td><% if checkrole 'Master Jurusan, Admin Marketing' %><%= link_to route.name, edit_route_path(route) %> <% else %> <%= route.name %> <% end %></td>
        <td><%= route.customer.name if !route.customer.nil? %></td>
        <td><%= route.commodity.name if !route.commodity.nil? %></td>
        <td><%= route.office.name if !route.office.nil? %></td>
        <td><%= route.routegroup.name if !route.routegroup.nil? %></td>
        <% if route.enabled %>
            <td><% if checkrole 'Master Jurusan, Admin Marketing'%> <%= link_to '&#xf058;'.html_safe, disable_route_path(route), :class => 'enabled tipsy', :title => 'Non Aktifkan' %><% else %><%= link_to '&#xf058;'.html_safe, '', :class => 'enabled tipsy' %><% end %></td>
        <% else %>
            <td><% if checkrole 'Master Jurusan, Admin Marketing'%> <%= link_to '&#xf057;'.html_safe, enable_route_path(route), :class => 'disabled tipsy', :title => 'Aktifkan' %><% else %><%= link_to '&#xf057;'.html_safe, '', :class => 'disabled tipsy' %><% end %></td>
        <% end %>
        <td class="right">
            <% if checkrole 'Master Jurusan, Admin Marketing' %>
                <%= link_to '&#xf044;'.html_safe, edit_route_path(route, :operational => true), :class => "edit tipsy", :title => 'Edit' %>
            <% end %> 
            <%= link_to '&#xf00d;'.html_safe, route, :class => "delete tipsy", :title => 'Hapus', :confirm => 'Apakah anda yakin?', :method => :delete if current_user.owner %>
        </td>
    </tr>
    <% end %>
    </tbody>	

</table>

<% 
page = params[:page].blank? ? 1 : params[:page].to_i 
if @total_page > 6
    start_page = page - 3
    start_page = 2 if start_page <= 1
    end_page = page + 4
    end_page = @total_page if end_page >= @total_page
    max_page = @total_page	
    first_page = 1

else
    start_page = 1
    end_page = @total_page + 1
end

%>
<div class="pagination">

<% if page > 1 %>
    <a data-page="<%= page - 1 %>" href="<%= routes_url(office_id: params[:office_id], page: page - 1) %>" class="pagination-link">&laquo;</a>
<% end %>

<% if first_page.present? %>
    <a data-page="<%= first_page %>" href="<%= routes_url(office_id: params[:office_id], page: first_page) %>" class="pagination-link <%= page == first_page ? "active" : "" %>"><%= first_page %></a>
<% end %>

<% if page > 5 %>
    <a href="#" class="pagination-link">...</a>
<% end %>

<% until start_page == end_page  do %>
    <a data-page="<%= start_page %>" href="<%= routes_url(office_id: params[:office_id], page: start_page) %>" class="pagination-link <%= page == start_page ? "active" : "" %>"><%= start_page %></a>
    <% start_page += 1 %>
<% end %>

<% if max_page.present? %>
    <% if page < max_page - 4 %>
        <a onclick="" href="#" class="">...</a>
    <% end %>
<a data-page="<%= max_page %>" href="<%= routes_url(office_id: params[:office_id], page: max_page) %>" class="pagination-link <%= page == max_page ? "active" : "" %>"><%= max_page %></a>
<% end %>

<% if page < @total_page %>
    <a data-page="<%= page + 1 %>" href="<%= routes_url(office_id: params[:office_id], page: page + 1) %>" class="pagination-link">&raquo;</a>
<% end %>
</div>