<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
	<div id="content-full">
		<a class="btn-txt cancel" href="<%=routes_path%>"><i class="icon-remove"></i> Batal</a>

		<h1>Master / <a href="<%=routes_path%>">Jurusan</a> / Tambah</h1>

		<%= render "form" %>
		<br class="clearfix" />
	</div>
</div>
