<style>
	.pagination {
	width: 100%;
    display: flex;
    justify-content: center;
	}

	.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
	}

	.pagination a.active {
	background-color: #4CAF50;
	color: white;
	}

	.pagination a:hover:not(.active) {background-color: #ddd;}
</style>

<%= render "shared/header" %>

<div id="nav">
		<%= render "shared/nav" %>
	</div>

<div id="main">

	<div id="content-full">
		<a href="<%= new_route_url %>" class="btn print">Tambah Jurusan</a>
		<h1>Master / <a href="<%=routes_path%>">Jurusan</a> / Index</h1>

		<br class="clearfix" />

		<div id="filter">
			<form id="filterform" name="filterform" action="" method="get">
			<div class="field-row continue">

				<label for="office_id" class="middle">Pilih Kantor</label>
				<select name="office_id" class="half left office_id">
					<option value="all">All</option>
					<% @offices.each do |office| %>
					<option value="<%=office.id%>" <% if @office_id.to_i == office.id %> name="office_id" selected="selected"<% end %>><%=office.name%></option>
					<% end %>
				</select> 
				<label for="customer" class="middle">Customer</label>
				<select name="customer" class="half left chzn-select customer_id">
					<option value="all">All</option>
					<% Customer.active.select("id,name").each do |customer| %>
					<option value="<%=customer.id%>" <%= params[:custoemr_id].to_i == customer.id ? "selected" : "" %>><%=customer.name%></option>
					<% end %>
				</select>
				<label for="query-name" class="middle">Jurusan</label>
				<input type="text" name="search" id="query-name" class="half left" placeholder="" style="margin-left: 10px;">
				<input class="submit" type="submit" value="Filter" />
			</div>
			</form>
		</div>
		<div id="content-table">

		</div>
		<br class="clearfix" />
		
		<br class="clearfix"/>

	</div>

</div>


<%= content_for :js do %>
	<script>
		global_page = 1;
		old_office_id = "";
		old_customer_id = "";
		old_query = "";
		
		function show_data() {
			query  = $("#query-name").val();
			office_id  = $(".office_id").val();
			customer_id  = $(".customer_id").val();
			if (old_customer_id != customer_id || old_office_id != office_id || old_query != query) {
				global_page = 1;
			}
			old_office_id = office_id;
			old_customer_id = customer_id;
			old_query = query;

			$.ajax({
				url: "<%= index_api_routes_url %>",
				method: "get",
				data:{
					query,office_id,customer_id,page: global_page
				},
				dataType: "html",
				success:function(data){
					$("#content-table").html(data);
				}
			});
		}

		$(document).ready(function(){
			element = $("[name=customer]").next();
			$(element).addClass("left");
			show_data();
		})
		.on("submit","#filterform",function(e){
			e.preventDefault();
			show_data();
		})
		.on("click",".pagination-link",function(e){
			e.preventDefault();
			global_page = $(this).data("page");
			show_data();
		});
	</script>
<% end %>