<%= render "shared/header" %>

<div id="nav">
		<%= render "shared/nav" %>
	</div>

<div id="main">

	<div id="content-full">
		<a href="<%= new_route_url %>" class="btn print">Tambah Jurusan</a>
		<h1>Master / <a href="<%=routes_path%>">Jurusan</a> / Index</h1>

		<br class="clearfix" />

		<div id="filter">
			<form id="filterform" name="filterform" action="" method="get">
			<div class="field-row continue">

				<label for="office_id" class="middle">Pilih Kantor</label>
				<select name="office_id" class="half left ">
					
					<option value="all">All</option>
					<% @offices.each do |office| %>
					<option value="<%=office.id%>" <% if @office_id.to_i == office.id %> name="office_id" selected="selected"<% end %>><%=office.name%></option>
					<% end %>
				</select> 

				<input class="submit left" type="submit" value="Filter" />
			</div>
			</form>
		</div>

		<br class="clearfix" />

			<table class="row-view report-view tablesorter tablesorterFilters">
				<thead>
				<tr>
					<th class="{sorter:true, filter: true}" >Nama Jurusan</th>
					<th class="{sorter:true, filter: true}" >Nama Pelanggan</th>
					<th class="{sorter:true, filter: true}" width="80">Muatan</th>
					<th class="{sorter:true, filter: true}" width="100">Kantor</th>
					<th class="{sorter: false, filter: false}">Rute</th>
					<th class="{sorter: false, filter: false}">Aktif</th>
					<th width="60" class="{sorter: false, filter: false}"></th>
				</tr>
				</thead>

				<tbody class="tablesorter-sort">
				<% @routes.each do |route| %>
				<tr>
					<td><% if checkrole 'Master Jurusan, Admin Marketing' %><%= link_to route.name, edit_route_path(route) %> <% else %> <%= route.name %> <% end %></td>
					<td><%= route.customer.name if !route.customer.nil? %></td>
					<td><%= route.commodity.name if !route.commodity.nil? %></td>
					<td><%= route.office.name if !route.office.nil? %></td>
					<td><%= route.routegroup.name if !route.routegroup.nil? %></td>
					<% if route.enabled %>
						<td><% if checkrole 'Master Jurusan, Admin Marketing'%> <%= link_to '&#xf058;'.html_safe, disable_route_path(route), :class => 'enabled tipsy', :title => 'Non Aktifkan' %><% else %><%= link_to '&#xf058;'.html_safe, '', :class => 'enabled tipsy' %><% end %></td>
					<% else %>
						<td><% if checkrole 'Master Jurusan, Admin Marketing'%> <%= link_to '&#xf057;'.html_safe, enable_route_path(route), :class => 'disabled tipsy', :title => 'Aktifkan' %><% else %><%= link_to '&#xf057;'.html_safe, '', :class => 'disabled tipsy' %><% end %></td>
					<% end %>
					<td class="right">
						<% if checkrole 'Master Jurusan, Admin Marketing' %>
							<%= link_to '&#xf044;'.html_safe, edit_route_path(route, :operational => true), :class => "edit tipsy", :title => 'Edit' %>
						<% end %> 
						<%= link_to '&#xf00d;'.html_safe, route, :class => "delete tipsy", :title => 'Hapus', :confirm => 'Apakah anda yakin?', :method => :delete if current_user.owner %>
					</td>
				</tr>
				<% end %>
				</tbody>	

			</table>

		<br class="clearfix"/>

	</div>

</div>