<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
	<div id="content-full">

	<% if params[:operational] || params[:operational] == true %>
		<a class="btn-txt cancel" href="../../routes"><i class="icon-remove"></i> Kembali Ke Jurusan</a>
		<h1>Master / <a href="<%=routes_path%>">Jurusan</a> / Index</h1>
	<% else %>
		<a class="btn-txt cancel" href="<%=edit_customer_path(@customer)%>/#2"><i class="icon-remove"></i> Kembali Ke Pelanggan</a>
		<h1>Pelanggan / Edit Jurusan</h1>
	<% end %>

		<%= render "form" %>
		<br class="clearfix" />
	</div>
</div>
