<% tab = 0 %>

  <ul class="rounded" id="tabbed">
    <li><a id="link_<%=tab+=1%>" href="">Data Supir</a></li>
    <% if @helper %><li><a id="link_<%=tab+=1%>" href="">Data Kernet</a></li><% end %>
  </ul>

  <br class="clearfix" />

<% tab = 0 %>
  <div id="sliding_window">
    <div class="sliding_container">

    <div class="sliding_tab" id="tab_<%=tab+=1%>">
      <div style="float: left; width: 600px;">
          <%= form_for(@driver) do |f| %>
            <% if params[:id].present? %>
                <%= f.hidden_field :old_name, value: @driver.name %>
            <% end %>
            <div class="field-row first">
              <%= f.label :name, "Nama" %>
              <%= f.text_field :name, :required => true %>
            </div>

            <div class="field-row">
              <%= f.label :address, "Alamat" %>
              <%= f.text_field :address %>
            </div>

            <div class="field-row">
              <%= f.label :city, "Kota" %>
              <%= f.text_field :city, :required => true %>
            </div>

            <div class="field-row">
              <%= f.label :phone, "No. Telp" %>
              <%= f.text_field :phone, :class => 'half left' %>
              <%= f.label :mobile, "No. HP", :class => 'middle' %>
              <%= f.text_field :mobile, :class => 'half left' %>
            </div>

            <div class="field-row">
              <%= f.label :emergency_number, "No. Telp Darurat" %>
              <%= f.text_field :emergency_number, :class => 'half left' %>
            </div>

            <div class="field-row">
              <%= f.label :driver_licence, "SIM" %>
              <%= f.text_field :driver_licence, :class => 'half left' %>
              <%= f.label :driver_licence_expiry, "Expired", :class => 'middle' %>
              <%= f.text_field :driver_licence_expiry, :class => 'half left date-picker' %>
            </div>

            <div class="field-row">
              <%= f.label :id_card, "KTP" %>
              <%= f.text_field :id_card, :class => 'half left', :required => true %>
              <%= f.label :id_card_expiry, "Expired", :class => 'middle' %>
              <%= f.text_field :id_card_expiry, :class => 'half left date-picker' %>
            </div>

            <div class="field-row">
              <%= f.label :salary, "Gaji Pokok" %>
              <%= f.text_field :salary, :class => 'half left' %>
              <%= f.label :min_wages, "Jamsostek", :class => 'middle' %>
              <%= f.text_field :min_wages, :class => 'half left' %>
            </div>

            <div class="field-row">
              <%= f.label :start_working, "Mulai Kerja" %>
              <%= f.text_field :start_working, :class => 'half left date-picker' %>
              <%= f.label :status, :class => 'middle' %>
              <%= f.select :status, options_for_select(@statuses.collect {|w| [w, w]}, @driver.status), {}, { :class => 'half left chzn-select' } %>
            </div>

            <div class="field-row">
              <%= f.label :vehicle_id, "No Pol"%>
              <%= f.select :vehicle_id, options_for_select(Vehicle.order(:current_id).collect { |w| [w.current_id, w.id] }, @driver.vehicle_id), { include_blank: '- No Pol -' }, class: 'half left chzn-select' %>
            </div>

            <div class="field-row">
              <%= f.label :accident, "Klm Kecelakaan" %>
              <%= f.text_field :accident, :class => 'half left', :onkeypress => 'javascript:return isNumberKey(this);'%>
              <%= f.label :weight_loss, "Klm Susut", :class => 'middle' %>
              <%= f.text_field :weight_loss, :class => 'half left', :onkeypress => 'javascript:return isNumberKey(this);' %>
            </div>

            <div class="field-row">
              <%= f.label :sparepart, "Klm Onderdil" %>
              <%= f.text_field :sparepart, :class => 'half left', :onkeypress => 'javascript:return isNumberKey(this);'%>
              <%= f.label :bon, "Pinjaman", :class => 'middle' %>
              <%= f.text_field :bon, :class => 'half left', :onkeypress => 'javascript:return isNumberKey(this);' %>
            </div>

            <div class="field-row">
              <%= f.label :saving, "Tabungan" %>
              <%= f.text_field :saving, :class => 'half left', :onkeypress => 'javascript:return isNumberKey(this);'%>
            </div>

            <div class="field-row" style="display:none">
              <%= f.label :terms_of_payment_in_days, "Batas Hutang" %>
              <%= f.text_field :terms_of_payment_in_days, :class => 'half' %>
              <span>Hari</span>
            </div>
            <div class="field-row">
              <%= f.label :bank_name, "Nama Bank" %>
              <%= f.select :bank_name, options_for_select([["Pilih Bank",nil],"BNI","BCA","Mandiri","BRI","Danamon"], @driver.bank_name), {}, { :class => 'half left' } %>

              <%= f.label :bank_account, "Rekening", :class => 'middle' %>
              <%= f.text_field :bank_account, :class => 'half left', :required => true %>
            </div>
            <div class="field-row">
              <%= f.label :bankexpensegroup_id, "Jurnal" %>
              <%= f.select :bankexpensegroup_id, options_for_select(Bankexpensegroup.active.collect { |bankexpense| [bankexpense.name, bankexpense.id] }, @driver.bankexpensegroup_id), {}, { :class => 'half left chzn-select' } %>
            </div>

            <div class="field-row">
              <%= f.label :origin, "Status Kepagawaian" %>
              <select name="driver[origin]" class="half left ">
                  <option value="">-- Status --</option>
                  <option value="Outsource" <% if @driver.origin == "Outsource"%> selected="selected" <% end %>>Outsource</option>
                  <option value="Mitra" <% if @driver.origin == "Mitra"%> selected="selected" <% end %>>Mitra</option>
                  <option value="Resign" <% if @driver.origin == "Resign"%> selected="selected" <% end %>>Resign (Ex)</option>
              </select>

              <%= f.label :vendor_id, "Vendor", :class => 'middle' %>

              <select id="driver_vendor_id" name="driver[vendor_id]" class="half left chzn-select">
              <option value="0">- Pilih Vendor -</option>
              <% Vendor.active.driver.order(:name).each do |vendor| %>
              <option value="<%=vendor.id%>"
                <% if vendor.id == @driver.vendor_id %> selected="selected"<% end %>><%=vendor.name%></option>
              <% end %>
              </select>
            </div>

            <div class="field-row">
              <%= f.label :datein, "Tgl Bergabung" %> 
              <%= f.text_field :datein, :class => 'left half date-picker' %>
              <%= f.label :dateout, "s/d", :class => 'middle' %> 
              <%= f.text_field :dateout, :class => 'left half date-picker' %>
            </div>

            <div class="field-row" >
              <%= f.label :is_resign, "Resign", :class => 'half left "' %>
              <input type="checkbox" value="1" name="driver[is_resign]" <% if @driver.is_resign %> checked="checked" <% end %> />
            </div>

            <div class="field-row" >
              <%= f.label :description, "Keterangan" %>
              <%= f.text_area :description %>
            </div>

            <div class="actions">
              <%= f.submit "Tambah Data", :class => 'left' if checkrole 'Admin HRD, Vendor Supir, Admin Supir' %>
              <a class="back left" href="<%=drivers_path%>">Kembali ke Index</a>
            </div>
            <br/>
            <a class="back left" href="/drivers/<%=@driver.id%>/blacklisted">Blacklist</a>

          <% end %>

          </div>

          <% if @process == 'edit' %>

          <div class="update-box" style="padding-top: 0; border-top: none;">
          <h3 class="zone" style="font-weight: bold; margin-bottom: 1rem;">Attachment</h3>

          <% if @driver.images.any? %>

            <ul style="margin-left: 0; padding-left: 0;">

              <% @driver.images.each do |img| %>

                <% if img.file_uid.present? %>

                <li style="margin-bottom: 2.5rem; list-style: none;">

                  <% ext = File.extname(img.file_uid).strip.downcase[1..-1] %>

                    <% if(ext == 'jpg' || ext == 'jpeg' || ext == 'png' )  %>

                      <a href="<%= img.file.url() %>" target="_blank">
                          <%= image_tag img.file.url(:suffix => "/#{img.name}") , style: "width: 100%;" if img.file_uid %>
                      </a>

                      <div style="display: flex; align-items: center; justify-content: space-between; margin-top: 0.5rem; font-size: 10px;">
                        <span style="font-size: 10px; color: #717171;"><%= img.name rescue nil %> Diupload: <%= img.created_at.strftime('%d-%m-%Y') rescue nil %></span>

                        <% if img.enabled %>
                        <%= link_to '&raquo; Hapus File'.html_safe, '/attachments/remove/' + img.id.to_s %>
                        <% else %>
                        <span style="font-size: 10px; color: #717171;">Dihapus</span>
                        <% end %>

                      </div>

                    <% else %>

                      <a href="<%= img.file.url() %>" target="_blank"><%= File.basename(img.file_uid).truncate(40) %></a>
                      <div style="display: flex; align-items: center; justify-content: space-between; margin-top: 0.5rem; font-size: 10px; ">
                        <span style="font-size: 10px; color: #717171;"><%= img.name rescue nil %> Diupload: <%= img.created_at.strftime('%d-%m-%Y') rescue nil %></span>

                        <% if img.enabled %>
                        <%= link_to '&raquo; Hapus File'.html_safe, '/attachments/remove/' + img.id.to_s %>
                        <% else %>
                        <span style="font-size: 10px; color: #717171;">Dihapus</span>
                        <% end %>

                      </div>

                    <% end %>

                </li>
                        
                <% end %>

              <% end %>
            
            </ul>

          <% end %>

          <br />

          <form action="/attachments/upload" method="post" accept-charset="UTF-8" enctype="multipart/form-data">
            <input type="hidden" name="model_name" value="Driver" />
            <input type="hidden" name="item_id" value="<%=@driver.id%>" />

          <div class="field-row" style="width: 300px;">
            <label for="name" style="width: 100%;">Tambah Lampiran</label>
            <%= select_tag 'attachment[name]', options_for_select(@attachments_category), style: 'width: 300px;' %>
          </div>

          <div class="field-row continue" style="width: 300px;">
            <label for="file">Browse File</label>
            <input type="file" name="attachment[file]"/>
          </div>

          <div class="actions">
            <input type="submit" value="Simpan File" />
          </div>

          </form>

          </div>

          <% end %>

          <div>


      </div>
    </div>

    <% if @helper %>

    <div class="sliding_tab" id="tab_<%=tab+=1%>">
     
    <%= form_for(@helper) do |f| %>
      <input type="hidden" name="helper[driver_id]" value="<%=@driver.id%>" />

      <div class="field-row first">
        <%= f.label :name, "Nama" %>
        <%= f.text_field :name %>
      </div>

      <div class="field-row">
        <%= f.label :address, "Alamat" %>
        <%= f.text_field :address %>
      </div>

      <div class="field-row">
        <%= f.label :city, "Kota" %>
        <%= f.text_field :city %>
      </div>

      <div class="field-row">
        <%= f.label :phone, "No. Telp" %>
        <%= f.text_field :phone, :class => 'half left' %>
        <%= f.label :mobile, "No. HP", :class => 'middle' %>
        <%= f.text_field :mobile, :class => 'half left' %>
      </div>

      <div class="field-row">
        <%= f.label :emergency_number, "No. Telp Darurat" %>
        <%= f.text_field :emergency_number, :class => 'half left' %>
      </div>

      <div class="field-row">
        <%= f.label :driver_licence, "SIM" %>
        <%= f.text_field :driver_licence, :class => 'half left' %>
        <%= f.label :driver_licence_expiry, "Expired", :class => 'middle' %>
        <%= f.text_field :driver_licence_expiry, :class => 'half left date-picker' %>
      </div>

      <div class="field-row">
        <%= f.label :id_card, "KTP" %>
        <%= f.text_field :id_card, :class => 'half left' %>
        <%= f.label :id_card_expiry, "Expired", :class => 'middle' %>
        <%= f.text_field :id_card_expiry, :class => 'half left date-picker' %>
      </div>

      <div class="field-row">
        <%= f.label :salary, "Gaji Pokok" %>
        <%= f.text_field :salary, :class => 'half left' %>
        <%= f.label :saving, "Tabungan", :class => 'middle' %>
        <%= f.text_field :saving, :class => 'half left', :onkeypress => 'javascript:return isNumberKey(this);'%>
      </div>

      <div class="field-row">
        <%= f.label :accident, "Klm Kecelakaan" %>
        <%= f.text_field :accident, :class => 'half left', :onkeypress => 'javascript:return isNumberKey(this);'%>
        <%= f.label :weight_loss, "Klm Susut", :class => 'middle' %>
        <%= f.text_field :weight_loss, :class => 'half left', :onkeypress => 'javascript:return isNumberKey(this);' %>
      </div>

      <div class="field-row">
        <%= f.label :sparepart, "Klm Onderdil" %>
        <%= f.text_field :sparepart, :class => 'half left', :onkeypress => 'javascript:return isNumberKey(this);'%>
        <%= f.label :bon, "Pinjaman", :class => 'middle' %>
        <%= f.text_field :bon, :class => 'half left', :onkeypress => 'javascript:return isNumberKey(this);' %>
      </div>
      
      <div class="field-row">
        <%= f.label :description, "Keterangan" %>
        <%= f.text_area :description %>
      </div>

      <div class="actions">
        <%= f.submit "Tambah Data", :class => 'left' if checkrole 'Admin HRD, Vendor Supir, Admin Supir' %>
        <a class="back left" href="<%=drivers_path%>">Kembali ke Index</a>
      </div>
    <% end %>

    </div>

    <% end %>

  </div>
</div>