<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
	
	<div id="content-full">
		<h1>Master / <a href="<%=drivers_path%>">Supir</a> / Clone</h1>


		<br class="clearfix" />
		<br class="clearfix" />

		<table class="row-view tablesorter">
			<thead>
				<tr>
					<th>Nama</th>
					<th>Klm Kecelakaan</th>
					<th>Susut</th>
					<th>Onderdil</th>
					<th>Pinjaman</th>
					<th>Tabungan</th>
				</tr>
			</thead>

			<tbody>
				<% @drivers.each do |driver| %>
					<% current_driver = Driver.where("name like '#{driver["name"]}%'").first %>
					<% if current_driver.present? %>
						<tr>
							<td>Dari: <%= driver["name"] %></td>
							<td><%= driver["accident"] %></td>
							<td><%= driver["weight_loss"] %></td>
							<td><%= driver["sparepart"] %></td>
							<td><%= driver["bon"] %></td>
							<td><%= driver["saving"] %></td>
						</tr>
						<tr>
							<td colspan="6">Dimasukkan ke dalam driver: <%= current_driver.name %> </td>
						</tr>
						<tr>
							<td colspan="6"></td>
						</tr>
					<% end %>
				<% end %>
		
			</tbody>
		
		</table>

		<div class="actions">
			<a class="btn-txt right" href="<%= save_clone_drivers_url %>"><i class="icon-plus-sign"></i> &nbsp;Update Data Sopir</a>
		</div>
		<br class="clearfix" />
	</div>

</div>