<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">

	<div id="content-full">
		<a class="btn-txt cancel" href="<%=drivers_path%>"><i class="icon-remove"></i> Batal</a>

		<h1>Master / <a href="<%=drivers_path%>">Supir</a> / Edit <strong title="<%=@driver.name%>"><%= @driver.name %> <%= zeropad(@driver.id)%></strong></h1>

		<%= render "form" %>

		<br class="clearfix" />

	</div>

</div>
