<%= render "shared/header" %>

<div id="nav">
  <%= render "shared/nav" %>
</div>

<div id="main">
  <div id="content-full">
    <%= link_to new_officeexpense_path, class: 'btn print' do %>
      <i class="icon-plus-sign"></i> &nbsp;Tambah
    <% end %>
    <h1>Transaksi / <%= link_to "Petty Kas", officeexpenses_path %> / Index</h1>

    <br class="clearfix" />

    <div id="filter">
      <%= form_tag '', method: :get, id: 'filterform', name: 'filterform' do %>
        <div class="field-row continue" style="display: none;">
          <%= label_tag :date, "Pilih Tanggal" %>
          <%= text_field_tag :date, @date, class: 'half date-picker', onchange: 'javascript: submitFormFilter();' %>
        </div>

        <div class="field-row continue">
          <%= label_tag nil, "Tanggal Awal", style: 'float:none' %> &nbsp; &nbsp;
          <%= text_field_tag :startdate, @startdate, class: 'half date-picker' %> &nbsp; &nbsp;
          <%= label_tag :vehicle_id, "Akhir", class: 'middle short', style: 'width:50px;float:none;' %> &nbsp; &nbsp;
          <%= text_field_tag :enddate, @enddate, class: 'half date-picker' %> &nbsp; &nbsp;
          <%= submit_tag "Filter", class: 'submit' %>
        </div>
      <% end %>
    </div>

    <br class="clearfix" />

    <table class="row-view">
      <thead>
        <tr>
          <th width="50">TGL</th>
          <th width="50">No.</th>
          <th>Keterangan</th>
          <th width="45">KTR</th>
          <th width="80">No DO</th>
          <th width="80">NoPol</th>
          <th width="80">Kontainer/Iso</th>
          <th width="90" class="right">Total</th>
          <th width="60"></th>
        </tr>
      </thead>
      <tbody>
        <% @grandTotal = 0 %>
        <% @officeexpenses.each do |officeexpense| %>
          <% if officeexpense.deleted %>
            <% @grandTotal += 0 %>
            <% if current_user.adminrole %>
              <tr class="deleted">
                <td><strong><%= officeexpense.date.strftime('%d') %></strong>.<%= officeexpense.date.strftime('%m') %></td>
                <td><%= zeropad(officeexpense.id) %></td>
                <td><%= nl2br(officeexpense.description).html_safe %></td>
                <td><%= officeexpense.office.abbr unless officeexpense.office_id.nil? %></td>
                <td><%= officeexpense.event_id rescue nil %></td>
                <td><%= officeexpense.vehicle.current_id unless officeexpense.vehicle.nil? %></td>
                <td>
                  <%= officeexpense.isotank.isotanknumber if officeexpense.isotank_id.present? && officeexpense.isotank_id.to_i != 0 %>
                  <%= officeexpense.container.containernumber if officeexpense.container_id.present? && officeexpense.container_id.to_i != 0 %>
                </td>
                <td align="right" class="<%= officeexpense.expensetype == 'Kredit' ? 'red' : 'green' %>"><%= to_currency(officeexpense.total) %></td>
                <td class="right" width="60">&nbsp;</td>
              </tr>
            <% end %>
          <% else %>
            <% if officeexpense.expensetype == 'Kredit' %>
              <% @grandTotal += officeexpense.total %>
            <% else %>
              <% @grandTotal -= officeexpense.total %>
            <% end %>

            <% if (current_user.adminrole || current_user.owner) && officeexpense.officeexpensegroup_id == 60 %>
              <tr>
                <td><strong><%= officeexpense.date.strftime('%d') %></strong>.<%= officeexpense.date.strftime('%m') %></td>
                <td><%= link_to zeropad(officeexpense.id), edit_officeexpense_path(officeexpense) %></td>
                <td><%= nl2br(officeexpense.description).html_safe %></td>
                <td><%= officeexpense.office.abbr unless officeexpense.office_id.nil? %></td>
                <td><%= officeexpense.event_id rescue nil %></td>
                <td><%= officeexpense.vehicle.current_id unless officeexpense.vehicle.nil? %></td>
                <td>
                  <%= officeexpense.isotank.isotanknumber if officeexpense.isotank_id.present? && officeexpense.isotank_id.to_i != 0 %>
                  <%= officeexpense.container.containernumber if officeexpense.container_id.present? && officeexpense.container_id.to_i != 0 %>
                </td>
                <td align="right" class="<%= officeexpense.expensetype == 'Kredit' ? 'red' : 'green' %>"><%= to_currency(officeexpense.total) %></td>
                <td class="right" width="60">
                  <% if officeexpense.receiptexpenses.active.count == 0 %>
                    <%= link_to '&#xf044;'.html_safe, edit_officeexpense_path(officeexpense), class: "edit tipsy", title: 'Edit' %>
                  <% end %>
                  <%= link_to '&#xf00d;'.html_safe, officeexpense, class: "delete tipsy", title: 'Hapus', data: { confirm: 'Apakah anda yakin?' }, method: :delete %>
                </td>
              </tr>
            <% end %>
            <% if officeexpense.officeexpensegroup_id != 60 %>
              <tr>
                <td><strong><%= officeexpense.date.strftime('%d') %></strong>.<%= officeexpense.date.strftime('%m') %></td>
                <td><%= link_to zeropad(officeexpense.id), edit_officeexpense_path(officeexpense) %></td>
                <td><%= nl2br(officeexpense.description).html_safe %></td>
                <td><%= officeexpense.office.abbr unless officeexpense.office_id.nil? %></td>
                <td><%= officeexpense.event_id rescue nil %></td>
                <td><%= officeexpense.vehicle.current_id unless officeexpense.vehicle.nil? %></td>
                <td>
                  <%= officeexpense.isotank.isotanknumber if officeexpense.isotank_id.present? && officeexpense.isotank_id.to_i != 0 %>
                  <%= officeexpense.container.containernumber if officeexpense.container_id.present? && officeexpense.container_id.to_i != 0 %>
                </td>
                <td align="right" class="<%= officeexpense.expensetype == 'Kredit' ? 'red' : 'green' %>"><%= to_currency(officeexpense.total) %></td>
                <td class="right" width="60">
                  <% if officeexpense.receiptexpenses.active.count == 0 %>
                    <%= link_to '&#xf044;'.html_safe, edit_officeexpense_path(officeexpense), class: "edit tipsy", title: 'Edit' %>
                  <% end %>
                  <%= link_to '&#xf00d;'.html_safe, officeexpense, class: "delete tipsy", title: 'Hapus', data: { confirm: 'Apakah anda yakin?' }, method: :delete %>
                </td>
              </tr>
            <% end %>
          <% end %>
        <% end %>
      </tbody>
      <tfoot>
        <tr class="footer">
          <td class="total" align="right" colspan="7">TOTAL</td>
          <td class="total" align="right"><%= to_currency(@grandTotal) %></td>
        </tr>
      </tfoot>
    </table>

    <br class="clearfix" />

    <div class="actions">
      <%= link_to new_officeexpense_path, class: 'btn-txt right' do %>
        <i class="icon-plus-sign"></i> &nbsp;Tambah
      <% end %>
    </div>
  </div>
</div>