<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
	
	<div id="content-full">

		<h1>Transaksi / <a href="<%=trainexpenses_path%>">Hutang Operator Kereta</a> / Index</h1>

		<br class="clearfix" />

		<div id="filter">
			<form id="filterform" name="filterform" action="" method="get">
			<div class="field-row continue" style="display: none;">
				<label for="date">Pilih Tanggal</label>
				<input type="text" name="date" class="half date-picker" value="<%=@date%>" onchange="javascript: submitFormFilter();" />
			</div>

			<div class="field-row continue">
				<label for="startdate" class="" style="float:none">Tanggal Awal</label> &nbsp; &nbsp;
				<input type="text" name="startdate" class="half date-picker" value="<%=@startdate%>" />&nbsp; &nbsp;
				<label for="enddate" class="middle short" style='width:50px;float:none;'>Akhir</label> &nbsp; &nbsp;
				<input type="text" name="enddate" class="half date-picker" value="<%=@enddate%>" />&nbsp; &nbsp;
				<label for="operator_id" class="middle short" style='width:50px;float:none;'>Operator</label> &nbsp; &nbsp;
				<select name="operator_id" class="middle short">
					<option value="">Semua</option>
					<% Operator.active.order(:name).each do |ope| %>
					<option value="<%=ope.id%>"<% if ope.id == @ope %> selected='selected'<% end %>><%=ope.abbr%></option>
					<% end %>
				</select>
				<label for="type" class="middle short" style='width:50px;float:none;'>Jenis Cont.</label> &nbsp; &nbsp;
				<select name="containertype" class="middle short">
					<option value="">Semua</option>
					<% @contype.each do |contype| %>
					<option value="<%=contype%>" <% if contype == @containertype %> selected='selected'<% end %>><%=contype%></option>
					<% end %>
				</select>

				<input class="submit" type="submit" value="Filter" />
			</div>
			</form>
		</div>

		<br class="clearfix" />

			<table class="row-view">
				<tr>
					<th width="50">TGL</th>
					<th width="50">No. BKK</th>
					<th width="200">Keterangan</th>
					<th width="60">NoPol</th>
                    <th width="80">Kontainer/Iso</th>
					<th width="50">No. DO</th>
					<th width="80">Type</th>
					<th width="40">Operator</th>
					<th width="90" class="right">Total</th>
					<th width="40"></th>
				</tr>

				<% @grandTotal = 0%>
				<% @trainexpenses.each do |invoice| %>
					<%
						routetrain_price = invoice.routetrain.price_per.to_i
						containerex_ids = Container.active.where("containernumber ILIKE 'A%'").pluck(:id)
						containerex_ids.push(0)
						if invoice.routetrain.operator_id == 2 && invoice.container_id.present? && containerex_ids.exclude?(invoice.container_id)
						routetrain_price = Setting.find_by_name("Harga Jurusan BKE").value.to_i
						end
					%>
					<% if invoice.deleted %>
						<% @grandTotal += 0 %>
						<% if current_user.adminrole %>
						<tr class="deleted">
							<td><strong><%=invoice.date.strftime('%d')%></strong>.<%=invoice.date.strftime('%m')%></td>
							<td><%= zeropad(invoice.id) %></td>
							<td>
								<%=invoice.quantity%> Rit: <%=invoice.route.name rescue nil%> (<%=invoice.driver.name rescue nil%>) <% if !invoice.description.blank?%> <br /> <%=invoice.description%>  <% end %> 
								<br/>
								<%=invoice.routetrain.name rescue nil %>
 							</td>
							<td><%=invoice.vehicle.current_id rescue nil%></td>
							<td><%= (invoice.isotank_id.present? && invoice.isotank_id.to_i != 0) ? ( invoice.isotank.isotanknumber) : '' %>
							<%= (invoice.container_id.present? && invoice.container_id.to_i != 0) ? ( invoice.container.containernumber) : '' %></td>
							<td><%= zeropad(invoice.event_id) rescue nil %></td>
							<td><%= invoice.routetrain.container_type rescue nil %></td>
							<td><%= invoice.routetrain.operator.abbr rescue nil %></td>
							<td align="right" class="red"><%=to_currency(routetrain_price)%></td>
							<td class="right" width="60">&nbsp;</td>
						</tr>
						<% end %>

					<% else %>

						<% @grandTotal += routetrain_price %>

						<tr>
							<td><strong><%=invoice.date.strftime('%d')%></strong>.<%=invoice.date.strftime('%m')%></td>
							<td><%= zeropad(invoice.id) %></td>
							<td><%=invoice.quantity%> Rit: <%=invoice.route.name rescue nil%> (<%=invoice.driver.name rescue nil%>) <% if !invoice.description.blank?%> <br /> <%=invoice.description%>  <% end %> 
							<br/>
+							<strong><%=invoice.routetrain.name rescue nil %></strong>
							</td>
							<td><%=invoice.vehicle.current_id rescue nil%></td>
							<td><%= (invoice.isotank_id.present? && invoice.isotank_id.to_i != 0) ? ( invoice.isotank.isotanknumber) : '' %>
							<%= (invoice.container_id.present? && invoice.container_id.to_i != 0) ? ( invoice.container.containernumber) : '' %></td>
							<td><%= zeropad(invoice.event_id) rescue nil %></td>
							<td><%= invoice.routetrain.container_type rescue nil %></td>
							<td><%= invoice.routetrain.operator.abbr rescue nil %></td>
							<td align="right" class="red"><%=to_currency(routetrain_price)%></td>
							<td class="right" width="60">

								<% if (current_user.adminrole || current_user.owner)%>

									<% if invoice.trainexpenses.active.count > 1 %>

										<a class="cta" style="opacity: 1;" href="trainexpenses/delete/<%=invoice.id%>">Batal</a>
									
									<% else %>

										<a class="cta" style="background: #2196f3;" href="<%=new_trainexpense_path%>/<%=invoice.id%>">Bayar</a>
								
									<% end %>

								<% else %>
								
								<% if checkrole 'Admin Operasional' %>

									<% if invoice.trainexpenses.active.count == 0 %>

										<a class="cta" style="background: #2196f3;" href="<%=new_trainexpense_path%>/<%=invoice.id%>">Bayar</a>
									
									<% end %>
 
								<% end %>

								<% end %>

							</td>
						</tr>
					<% end %>
				<% end %>	
			
				<tr class="footer">
					<td class="total" align="right" colspan="8">TOTAL</td>
					<td class="total" align="right"><%= to_currency(@grandTotal)%></td>
				</tr>
			</table>

		<br class="clearfix" />

	</div>

</div>