<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
	<div id="content-full">
		<a class="btn-txt cancel" href="<%= routetrains_path %>"><i class="icon-remove"></i> Kembali</a>

		<h1>Master / <a href="<%=routetrains_path%>">Jurusan Kereta</a> / Tambah</h1>

		<%= render "form" %>
		<br class="clearfix" />
	</div>
</div>