<%= form_for(@product) do |f| %>
  <% if @productorder %>
    <div class="field-row first">
      Pembelian terakhir  : <%= @productorder.created_at.to_date.strftime('%d-%m-%Y')%>
    </div>
  <% end %>

	<div class="field-row first">
    <%= f.label :name, "Nama" %>
    <%= f.text_field :name %>
	</div>

  <div class="field-row">
    <%= f.label :sku, "Kode Barang" %>
    <%= f.text_field :sku %>
  </div>

  <div class="field-row">
    <%= f.label :barcode, "Barcode" %>
    <%= f.text_field :barcode %>
  </div>

  <div class="field-row">
    <%= f.label :unit_name, "Satuan" %>
    <%= f.text_field :unit_name, :class => 'half' %>
  </div>


	<% if @process != 'edit'%>
  
	<div class="field-row">
		<%= f.label :stock, "Stock" %>
		<%= f.text_field :stock, :class => 'half', :onkeypress => 'javascript: return isDecimalKey(this)', :value => to_currency_bank(@product.stock) %>
	</div>
  
	<% else %>

		<% if current_user.adminrole || current_user.owner %>
			<div class="field-row">
				<%= f.label :stock, "Stock" %>
				<%= f.text_field :stock, :class => 'half', :onkeypress => 'javascript: return isDecimalKey(this)', :value => to_currency_bank(@product.stock) %>
			</div>

		<% else %>
 
			<div class="field-row">
				<label for="product_stock">Stock</label>
				<span style="padding: 0.3rem;"><%= to_currency_bank(@product.stock) %></span>
				<input type="hidden" name="product[stock]" value="<%= to_currency_bank(@product.stock) %>">
			</div>

		<% end %>
	<% end %>
  
  <% if @process != 'edit'%>

  <div class="field-row">
    <%= f.label :unit_price, "Harga Satuan" %>
    <%= f.text_field :unit_price, :class => 'half', :onkeypress => 'javascript:return isNumberKey(this);' %>
  </div>
  
  <% else %>
  
	<% if current_user.adminrole || current_user.owner %>
	
		<div class="field-row">
			<%= f.label :unit_price, "Harga Satuan" %>
			<%= f.text_field :unit_price, :class => 'half', :onkeypress => 'javascript:return isNumberKey(this);' %>
		</div>

		<% else %>
 
			<div class="field-row">
				<label for="product_stock">Harga Satuan</label>
				<span style="padding: 0.3rem;"><%= to_currency_bank(@product.unit_price) %></span>
			</div>

		<% end %>
	<% end %>
  
  
	<% if @process != 'edit'%>

  <div class="field-row">
    <%= f.label :discount_price, "Harga Diskon" %>
    <%= f.text_field :discount_price, :class => 'half', :onkeypress => 'javascript:return isNumberKey(this);' %>
  </div>

  <% else %>
  
	<% if current_user.adminrole || current_user.owner %>
	
		<div class="field-row">
			<%= f.label :discount_price, "Harga Diskon" %>
			<%= f.text_field :discount_price, :class => 'half', :onkeypress => 'javascript:return isNumberKey(this);' %>
		</div>

		<% else %>
 
			<div class="field-row">
				<label for="product_stock">Harga Diskon</label>
				<span style="padding: 0.3rem;"><%= to_currency_bank(@product.discount_price) %></span>
			</div>

		<% end %>
	<% end %>
	
	
	<% if @process != 'edit'%>

  <div class="field-row">
    <%= f.label :discount_percent, "Persen Diskon" %>
    <%= f.text_field :discount_percent, :class => 'half', :onkeypress => 'javascript:return isMoneyKey(this);' %>
    <strong>%</strong>
  </div>
  
  <% else %>
  
	<% if current_user.adminrole || current_user.owner %>
	
		<div class="field-row">
			<%= f.label :discount_percent, "Persen Diskon" %>
			<%= f.text_field :discount_percent, :class => 'half', :onkeypress => 'javascript:return isMoneyKey(this);' %>
			<strong>%</strong>
		</div>

		<% else %>
 
			<div class="field-row">
				<label for="product_stock">Persen Diskon</label>
				<span style="padding: 0.3rem;"><%= to_currency_bank(@product.discount_percent) %>%</span>
			</div>

		<% end %>
	<% end %>

  <div class="field-row">
    <%= f.label :distance, "Jarak Tempuh" %>
    <%= f.text_field :distance, :class => 'half' %>
    <strong>Km</strong>
  </div>

  <div class="field-row">
    <%= f.label :status %>
    <%= f.select :status, options_for_select(@statuses.collect {|w| [w, w]}, @product.status), {}, { :class => 'half chzn-select' } %>
  </div>  

  <div class="field-row">
    <%= f.label :productgroup_id, "Grup Barang" %>
    <%= f.select :productgroup_id, options_for_select(Productgroup.all.collect {|g| [g.name, g.id]}, @product.productgroup_id), {}, :class => 'double chzn-select' %>
  </div>

  <div class="field-row">
    <%= f.label :warehouse_id, "Gudang" %>
    <%= f.select :warehouse_id, options_for_select(Warehouse.all.collect {|w| [w.name, w.id]}, @product.warehouse_id), {}, :class => 'double chzn-select' %>
  </div>

  <div class="field-row">
    <%= f.label :description, "Keterangan" %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit "Tambah Data", :class => 'left' if checkrole 'Admin Gudang' %>
    <a class="back left" href="<%=products_path%>">Kembali ke Index</a>
  </div>
<% end %>
