<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
	
	<div id="content-full">

		<h1>Pusat Bantuan / Cari Kalender Event</h1>

		<br class="clearfix" />
		
		<div id="filter">
			<form id="filterform" name="filter" action="" method="get">

				<div class="field-row continue">
					<label for="date" class="">Cari no #DO:</label>
					<input type="text" name="event_id" class="half left" value="<%=params[:event_id]%>" />
					<input class="submit" type="submit"  class="" value="Filter" >
				</div>

			</form>
		</div>

		<br class="clearfix" />
 
		<table id="reportevent" class="row-view tablesorter sortable tablesorterFilters">
		<thead>
			<tr>
				<th class="{sorter:true, filter: true}" style="width: 50px;">No</th>
				<th class="{sorter:true, filter: false}" style="width: 40px;">Tgl</th>
				<th class="{sorter:true, filter: true}"  style="width: 40px;">KTR</th> 
				<th class="{sorter:true, filter: true}">Pelanggan</th> 
				<th class="{sorter:true, filter: true}" width="150">Jurusan DO</th>
				<th class="{sorter:true, filter: true}">Komoditas</th>
				<th class="{sorter:true, filter: true}">Kontainer</th>
				<th class="{sorter:true, filter: true}" width="40">Muat</th>
				<th class="{sorter:true, filter: true}" width="40">BKR</th>
				<th class="{sorter:true, filter: true}">Moda</th>
				<th class="{sorter:true, filter: true}">Kargo</th>
				<th class="{sorter:true, filter: true}">Tangki</th>
				<th class="{sorter:true, filter: true}">Est. Tonase</th>
				<th class="{sorter:true, filter: false}">Rit&nbsp;&nbsp;&nbsp;</th>
				<th class="{sorter:false, filter: false}"></th>
			</tr>
		</thead>
		
		<tbody>

		<% @events.each do |event| %>
			<tr class="">
				<td><%= event.id %></td>
				<td><strong><%=event.start_date.strftime('%d')%></strong>.<%=event.start_date.strftime('%m')%></td>
				<td><%= event.office.abbr rescue nil %></td>
				<td><%= event.customer.name rescue nil %></td>
				<td><%= event.summary %></td>
				<td><%= event.commodity.name rescue nil %></td>
				<td>
					<small>
					<% event.invoices.active.each do |inv| %>
						<%= inv.container.containernumber rescue nil%>
					<% end %>
					<% event.invoices.active.each do |inv| %>
						<%= inv.isotank.isotanknumber rescue nil%>
					<% end %>
					</small>
				</td>
				<td><strong><%=event.load_date.strftime('%d')%></strong>.<%=event.load_date.strftime('%m')%></td>
				<td><strong><%=event.unload_date.strftime('%d')%></strong>.<%=event.unload_date.strftime('%m')%></td>
				<td><%= event.invoicetrain ? 'Kereta' : 'Industri' %></td>
				<td><%= event.cargo_type %></td>
				<td><%= event.tanktype %></td>
				<td class="right"><%= event.estimated_tonage %> <%= event.price_per_type %></td>
				<td class="right"><%= event.qty %></td>
				<td class="right" width="60">
					<%= link_to '&#xf044;'.html_safe, edit_event_path(event, origin: 'report'), :class => "edit tipsy", :title => 'Edit' %> 
					<% if !event.deleted %>
					<%= link_to '&#xf00d;'.html_safe, event, :class => "delete tipsy", :title => 'Hapus', :confirm => 'Apakah anda yakin?', :method => :delete if current_user.owner %>
					<% end %>
				</td>
			</tr>
		<% end %>

		</tbody>

		<tr class="footer">
			<td class="" colspan="15"><i><span style="font-size: 11px;"><%= @events.count rescue 0 %> DO ditemukan</span></i></td>
		</tr>

		</table>
			
		<br class="clearfix" />

	</div>

</div>