<%= form_for(@warehouse) do |f| %>
	<div class="field-row">
    <%= f.label :name, "Nama" %>
    <%= f.text_field :name %>
	</div>

  <div class="field-row">
    <%= f.label :address, "Alamat" %>
    <%= f.text_field :address %>
  </div>

  <div class="field-row">
    <%= f.label :city, "Kota" %>
    <%= f.text_field :city %>
  </div>

  <div class="field-row">
    <%= f.label :phone, "No. Telp" %>
    <%= f.text_field :phone, :class => 'half' %>
  </div>

  <div class="field-row">
    <%= f.label :description, "Keterangan" %>
    <%= f.text_area :description %>
  </div>

  <div class="actions">
    <%= f.submit "Tambah Data", :class => 'left' %>
    <a class="back left" href="<%=warehouses_path%>">Kembali ke Index</a>
  </div>
<% end %>
