<%= form_for(@sale) do |f| %>
	<div class="actions" style="float:left; padding:0 0 30px 20px;">
		<a class="left" href="javascript:print();"><i class="icon-print"></i> Print Normal</a>
    	<a class="back left" href="<%=sales_path%>">Kembali ke Index</a>
  	</div>
	<div class="info-box" style="width:560px; float:left; clear:left;">
		<table class="row-view no-border">
			<tr valign="top">
				<td><strong><%= Setting.find_by_name("Client Name").value.upcase if !Setting.find_by_name("Client Name").nil? %><br /> <%= Setting.find_by_name("Client Address").value if !Setting.find_by_name("Client Address").nil? %></strong></td>
				<td align="right" class="header">Data Penjualan Barang<br/>#<%= zeropad(@sale.id)%></td>
			</tr>
		</table>
		<hr style="width:600px;" />		
		 <table class="row-view no-border">
			<tr>
				<td>Tanggal</td>
				<td><%= @sale.date.strftime('%d-%m-%Y') %></td>
			</tr>
			<tr>
				<td>Keterangan</td>
				<td><%= @sale.description %></td>
			</tr>
		</table>
		<% if @sale.saleitems.any? %>
		<table class="row-view">
			<tr>
				<th width="30">No.</th>
				<th>Nama Barang</th>
				<th width="80" class="right">Jumlah</th>
				<th width="120" class="right">Total<th>
			</tr>
			
			<% @sale.saleitems.each_with_index do |saleitem, i|%>
			<tr>
				<td><%=i+1%>.</td>
				<td><%= saleitem.productsale.name%></td>
				<td align="right"><%= saleitem.quantity.to_i%> <%= saleitem.productsale.unit_name %> </td>
				<td align="right"><%= to_currency(saleitem.total.to_i)%></td>
			</tr>
			<% end %>
			<tr>
				<td></td>
				<td class="total">TOTAL</td>
 				<td></td>
 				<td style="text-align:right;"><span id="strTotal"><%=to_currency(@sale.saleitems.sum(:total))%></span></td> 				
 			</tr>
		</table>	
		<% end %>	
	</div>
	
<% end %>