<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
	<div id="content-full">
		<a class="btn-txt cancel" href="<%=sales_path%>"><i class="icon-remove"></i> Batal</a>

		<h1>Transaksi / <a href="<%=sales_path%>">Penjualan Barang Bekas</a> / Edit</h1>

		<br class="clearfix" />
			<%= render "steps", :step => 1 %>
			<%= render "form" %>
		<br class="clearfix" />
	</div>
</div>