<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">

	<div id="content-full">
	<a class="print btn" href="javascript:print();"><i class="icon-print"></i> Print</a>
	
	<h1><%=Setting.find_by_name("Client Name").value%> / Report BKK Terkonfirmasi: <span class="red"><%=@startdate.to_date.strftime('%d %b %Y')%> - <%=@enddate.to_date.strftime('%d %b %Y')%></span></h1>

	<br class="clearfix" />

	<div id="filter" style="padding: 5px 10px 5px 10px;">
		<form id="filterform" name="filterform" action="" method="get">
		<div class="field-row continue">

			<label for="transporttype" style="float:none">&nbsp;&nbsp;&nbsp;&nbsp;Tipe BKK</label>
			<select name="transporttype" class="short combo_route " style="margin-top: 0.25rem;">
			<option value="">Semua Tipe</option>
				<% ["STANDART", "KOSONGAN", "KERETA"].each do |type| %>
				<option <%= type == params[:transporttype] ? 'selected' : '' %>><%=type%></option>
				<% end %>
			</select>
            
            <label for="office_id" class="middle" style="margin-top: 0.25rem; width: 40px; padding-right: 5px;">Kantor</label>
            <select name="office_id" class="short left" style="margin-top: 0.25rem;">
                <option value="all">Semua</option>
                <% @offices.each do |office| %>
                <option value="<%=office.id%>" <% if @office_id.to_i == office.id %> name="office_id" selected="selected"<% end %>><%=office.name%></option>
                <% end %>
            </select>
			<label for="driver_id" class="middle" style="margin-top: 0.25rem; width: 50px;">Supir</label>
            <select name="driver_id" class="half left" style="margin-top: 0.25rem; width: 100px;">
                <option value="all">Semua</option>
                <% @drivers.each do |driver| %>
                <option value="<%=driver.id%>" <% if @driver_id.to_i == driver.id %> name="driver_id" selected="selected"<% end %>><%=driver.name%></option>
                <% end %>
            </select>
			
			<label for="is_premi" class="middle" style="margin-top: 0.25rem; width: 50px;">Premi</label>
			<select name="is_premi" class="short left" style="margin-top: 0.25rem;">
				<option value="">Semua</option>
				<option value="1" <%= @is_premi == '1' ? 'selected' : '' %>>Sudah Premi</option>
				<option value="0" <%= @is_premi == '0' ? 'selected' : '' %>>Tanpa Premi</option>
			</select>

			&nbsp; &nbsp; <label class="" style="float:none">Tgl Awal</label> &nbsp; &nbsp;
			<input type="text" name="startdate" class="short date-picker" value="<%=@startdate%>" />
			&nbsp; &nbsp; <label for="vehicle_id" class="short" style='width:40px;float:none;padding-right: 5px;'>Akhir</label> &nbsp; &nbsp;
			<input type="text" name="enddate" class="short date-picker" value="<%=@enddate%>" />&nbsp;
			<input class="submit" type="submit" value="Filter" />
		</div>
		</form>
	</div>

	<br class="clearfix" />

	<% if @invoices.any? %>
		<table class="tablesorter row-view tablesorterFilters">
		<tr>
			<th width="30">No.</th>
			<th width="30">Tgl</th>
			<th>Keterangan</th>
            <th width="80">No. DO</th>
            <th width="40">KTR</th>
<!--            <th width="40">Tgl Buat</th>-->
			<th>BKK</th>
			<th>ISO/KTNR</th>
			<th width="80">NO.Pol</th>
			<th width="60" class="right {sorter:true, filter: false}">Supir</th>
			<th width="60" class="right {sorter:true, filter: false}">Kernet</th>
			<th width="60" class="right {sorter:true, filter: false}">Solar</th>
			<th width="60" class="right {sorter:true, filter: false}">Tol</th>
			<th width="60" class="right {sorter:true, filter: false}">ASDP</th>
			<th width="60" class="right {sorter:true, filter: false}">Lain2</th>
            <th width="60" class="right {sorter:true, filter: false}">Premi</th>
			<th width="100" class="right sorter:true, filter: false">Total (Rp.)</th>
		</tr>

		<% total_header, driver_allowance_total, helper_allowance_total, gas_allowance_total, misc_allowance_total, tol_fee_total, ferry_fee_total, premi_allowance_total = 0, 0, 0, 0, 0, 0, 0, 0 %>
		<% @invoices.each_with_index do |invoice, i|

			driver_allowance = invoice.driver_allowance
			helper_allowance = invoice.helper_allowance
			gas_allowance = invoice.gas_allowance
			misc_allowance = invoice.misc_allowance
			tol_fee = invoice.tol_fee
			ferry_fee = invoice.ferry_fee
			premi_allowance = invoice.premi_allowance
			total = driver_allowance + helper_allowance + gas_allowance + misc_allowance + tol_fee + ferry_fee + premi_allowance

            driver_allowance_total += driver_allowance
			helper_allowance_total += helper_allowance
            gas_allowance_total += gas_allowance
            misc_allowance_total += misc_allowance
            tol_fee_total += tol_fee
            ferry_fee_total += ferry_fee
            premi_allowance_total += premi_allowance
            total_header += total
        %>
		<tr<% if i % 2 == 0 %> class="even"<% end %>>
			<td><%=i+1%></td>
			<td><%=invoice.date.strftime('%d/%m')%></td>
			<td>#<%= invoice.id %><br><%=invoice.quantity%> Rit: <%=invoice.route.name rescue nil%> (<%=invoice.driver.name rescue nil%>)</td>
            <td><%=invoice.event.id rescue nil%><br/><%=invoice.event.summary rescue nil%></td>
            <% if invoice.office.abbr == '' %>
            <td class="red"><%=invoice.office.abbr%></td>    
            <% else %>
            <td><%=invoice.office.abbr%></td>
            <% end %>
<!--            <td><%=invoice.created_at.strftime('%d/%m/%y')%></td>-->
			<td><%= invoice.invoicetrain ? 'KERETA' : 'TRUK' %></td>
			<td><%= (invoice.isotank_id.present? && invoice.isotank_id.to_i != 0) ? ( invoice.isotank.isotanknumber) : invoice.isotank_number %>
			<%= (invoice.container_id.present? && invoice.container_id.to_i != 0) ? ( invoice.container.containernumber) : invoice.container_number %></td>
			<td><%=invoice.vehicle.current_id rescue nil%></td>
            
			<td class="<%= driver_allowance > 1000000 ? "red" : ""%>" align="right"><%=to_currency(driver_allowance)%></td>
            <td class="<%= helper_allowance > 1000000 ? "red" : ""%>" align="right"><%=to_currency(helper_allowance)%></td>
			<td class="<%= gas_allowance > 1000000 ? "red" : ""%>" align="right"><%=to_currency(gas_allowance)%></td>
            <td class="<%= tol_fee > 1000000 ? "red" : ""%>" align="right"><%=to_currency(tol_fee)%></td>
			<td class="<%= ferry_fee > 1000000 ? "red" : ""%>" align="right"><%=to_currency(ferry_fee)%></td>
			<td class="<%= misc_allowance > 1000000 ? "red" : ""%>" align="right"><%=to_currency(misc_allowance)%></td>
            <td class="<%= premi_allowance > 1000000 ? "red" : ""%>" align="right"><%=to_currency(premi_allowance)%></td>
			<td align="right"><%=to_currency(total)%></td>
		</tr>
			
		<% end %>	

		<% if @invoices %>
		<tr class="footer">
			<td class="total" colspan="8">TOTAL</td>
			<td align="right"><%=to_currency(@invoices.sum('driver_allowance'))%></td>
			<td align="right"><%=to_currency(@invoices.sum('helper_allowance'))%></td>
			<td align="right"><%=to_currency(gas_allowance_total)%></td>
			<td align="right"><%=to_currency(tol_fee_total)%></td>
			<td align="right"><%=to_currency(ferry_fee_total)%></td>
			<td align="right"><%=to_currency(misc_allowance_total)%></td>
			<td align="right"><%=to_currency(premi_allowance_total)%></td>
			<td class="total" align="right"><%=to_currency(total_header)%></td>
		</tr>
		<% end %>
	
		</table>
	<% end %>
</div>


