<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">

	<div id="content-full">
		<a class="print btn" href="javascript:print();"><i class="icon-print"></i> Print</a>
		<h1><%=Setting.find_by_name("Client Name").value%> / Omset Pelanggan: <span class="red"><%=@year%></span></h1>

		<br class="clearfix" />
		
		<div id="filter">
			<form id="filterform" name="filterform" action="" method="get">
				<div class="field-row continue" style="width:100%;">
					&nbsp; &nbsp; Tahun Laporan &nbsp; &nbsp;
					<% year_to = Taxinvoice.order(:date).first.date.year rescue nil || Date.today.year %>
					<select id="year" name="year" class="half">
						<% (Date.today.year.downto(year_to)).each do |y| %>
						<option value="<%=y%>"<% if y.to_s == @year %> selected='selected'<% end %>><%=y%></option>
						<% end %>
					</select>
					<input class="submit" type="submit" value="Filter" />
				</div>
			</form>
		</div>

		<br class="clearfix" />

		<ul class="rounded" id="tabbed">
			<li><a id="link_1" class="finger">Januari - Juni</a></li>
			<li><a id="link_2" class="finger">Juli - Desember</a></li>
			<li><a id="link_3" class="finger">Grafik Omset Pelanggan</a></li>
		</ul>
					<% 
						total = {
							"bulan_1" => 0,
							"bulan_2" => 0,
							"bulan_3" => 0,
							"bulan_4" => 0,
							"bulan_5" => 0,
							"bulan_6" => 0,
							"bulan_7" => 0,
							"bulan_8" => 0,
							"bulan_9" => 0,
							"bulan_10" => 0,
							"bulan_11" => 0,
							"bulan_12" => 0,
						}
					%>
		<div id="sliding_window" style="margin-top:10px;">
			<div class="sliding_container">
				<div class="sliding_tab" id="tab_1">
					<br class="clearfix" />
					<div id="jan_jun">
						<% if @customers.any? %>
							<table class="row-view tablesorter">
								<thead>
								<tr>
									<th class="{sorter:false, filter: false}">Pelanggan</th>
									<th class="center {sorter:true, filter: false}">TTL Omset Pelanggan</th>
									<th width="90" class="center {sorter:true, filter: false}">Januari</th>
									<th width="90" class="center {sorter:true, filter: false}">Februari</th>
									<th width="90" class="center {sorter:true, filter: false}">Maret</th>
									<th width="90" class="center {sorter:true, filter: false}">April</th>
									<th width="90" class="center {sorter:true, filter: false}">Mei</th>
									<th width="90" class="center {sorter:true, filter: false}">Juni</th>
									
								</tr>
								</thead>
								<% i = 0 %>
								<tbody>
									<% @customers.each do |customer| %>
									<% if customer.id != 1 %>
									
									<tr>
										<td><%= customer.name%></td>
										<td align="right"><%= to_currency(Taxinvoice.where("extract(year from date) = #{@year} and deleted = false AND customer_id = #{customer.id}").sum(:total)) %></td>
										<% (1..6).each do |i| %>
											<% taxinvoices = Taxinvoice.where("extract(month from date) = #{i} and extract(year from date) = #{@year} and deleted = false AND customer_id = #{customer.id}").sum(:total) %>
											<td align="right"><%=to_currency(taxinvoices.to_i)%></td>
											<% total["bulan_#{i.to_s}"] = total["bulan_#{i.to_s}"] + taxinvoices.to_i %>
										<% end %>
									</tr>
									<% i += 1 %>
									<% end %>
									<% end %>
								</tbody>
								
								<tfoot>
		                        <tr>
		                            <td colspan="2"><strong>Total</strong></td>
		                            <% 1.upto(6) do |i| %>
		                            <td align="right"><strong><%# to_currency(Taxinvoice.where("extract(month from date) = #{i} and extract(year from date) = #{@year} and paiddate IS NULL and deleted = false").sum(:total)) %><%= to_currency(total["bulan_#{i.to_s}"]) %></strong></td>
		                            <% end %>
		                        </tr>
		                      </tfoot>
							</table>
						<% end %>
					</div>
				</div>
				<div class="sliding_tab" id="tab_2">
					<br class="clearfix" />
					<div id="jul_des">
					
						<% if @customers.any? %>
							<table class="row-view tablesorter">
								<thead>
									<tr>
										<th class="{sorter:false, filter: false}">Pelanggan</th>
										<th class="center {sorter:true, filter: false}">TTL Omset Pelanggan</th>
										<th width="90" class="center {sorter:true, filter: false}">Juli</th>
										<th width="90" class="center {sorter:true, filter: false}">Agustus</th>
										<th width="90" class="center {sorter:true, filter: false}">September</th>
										<th width="90" class="center {sorter:true, filter: false}">Oktober</th>
										<th width="90" class="center {sorter:true, filter: false}">Nopember</th>
										<th width="90" class="center {sorter:true, filter: false}">Desember</th>
									</tr>
								</thead>
								
								<% i = 0 %>
								<tbody>
									<% @customers.each do |customer| %>
										<% if customer.id != 1 %>
										
										<tr>
											<td><%= customer.name%></td>
											<td align="right"><%= to_currency(Taxinvoice.where("extract(year from date) = #{@year} and deleted = false AND customer_id = #{customer.id}").sum(:total)) %></td>
											<% (7..12).each do |i| %>
												<% taxinvoices = Taxinvoice.where("extract(month from date) = #{i} and extract(year from date) = #{@year} and deleted = false AND customer_id = #{customer.id}").sum(:total) %>
												<td align="right"><%=to_currency(taxinvoices.to_i)%></td>
												<% total["bulan_#{i.to_s}"] = total["bulan_#{i.to_s}"] + taxinvoices.to_i %>
											<% end %>
										</tr>
										<% i += 1 %>
										<% end %>
									<% end %>
								</tbody>
								
								<tfoot>
		                        <tr>
		                            <td colspan="2"><strong>Total</strong></td>
		                            <% 7.upto(12) do |i| %>
		                            <td align="right"><strong><%# to_currency(Taxinvoice.joins(:customer).where("customers.deleted = false").where("extract(month from date) = #{i} and extract(year from date) = #{@year} and paiddate IS NULL and taxinvoices.deleted = false").sum(:total)) %><%= to_currency(total["bulan_#{i.to_s}"]) %></strong></td>
		                            <% end %>
		                        </tr>
		                      </tfoot>
							</table>
						<% end %>
					</div>
				</div>
				<div class="sliding_tab" id="tab_3">
					<br class="clearfix" />
					<div id="chartcustomer" style="height:1400px; width:980px;"></div>
				</div>
			</div>
		</div>
	</div>

</div>
