<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">

	<div id="content-full">
	<a class="print btn" href="javascript:print();"><i class="icon-print"></i> Print</a>
	
	<h1><%=Setting.find_by_name("Client Name").value%> / Laporan Perbandingan BKK & Estimasi: <span class="red"><%=@startdate.to_date.strftime('%d %b %Y')%> - <%=@enddate.to_date.strftime('%d %b %Y')%></span></h1>

	<br class="clearfix" />

	<div id="filter">
		<form id="filterform" name="filterform" action="" method="get">
		<div class="field-row continue">
			<label for="startdate">Tanggal Awal</label>
			<input type="text" name="startdate" class="left half date-picker" value="<%=@startdate%>" />
			<label for="enddate" class="middle">Akhir</label>
			<input type="text" name="enddate" class="left half date-picker" value="<%=@enddate%>" />
			<input class="submit" type="submit" value="Filter" />
			<label for="tanktype" class="middle" style="width: 45px; padding: 0 10px 0 5px;margin-left: 15px;">Group</label>
			<select name="tanktype" class="half left combo_route" style="margin-left: 15px;">	
			<option value="all">Semua Group</option>
				<% ["Platform", "Lorry", "Multifungsi", "Box", "Threeway", "Wings Box", "LossBak", "Gandengan", "Trailer Platform", "Engkel"].each do |type| %>
				<% # ['ISOTANK', 'LOSBAK', 'DROPSIDE', 'TANGKI BESI', 'TANGKI STAINLESS', 'KONTAINER', 'TRUK BOX', 'MULTIFUNGSI'].each do |type| %>
				<option <%= type == params[:tanktype] ? 'selected' : '' %>><%=type%></option>
				<% end %>
			</select>
		</div>
		</form>
	</div>

	<br class="clearfix" />

	<% if @invoices.any? %>
		<table class="tablesorter row-view tablesorterFilters">
		<tr>
			<th width="30">No.</th>
			<th width="40">Tgl</th>
			<th>Keterangan</th>
			<th width="70" class="{sorter:true, filter: false}">Nopol</th>
			<th width="30" class="{sorter:true, filter: false}">KTR</th>
			<th width="70" class="right {sorter:true, filter: false}">Sangu</th>
			<th width="80" class="right {sorter:true, filter: false}">Solar</th>
			<th width="80" class="right {sorter:true, filter: false}">Tambahan</th>
			<th width="80" class="right {sorter:true, filter: false}">Premi</th>
			<th width="80" class="right {sorter:true, filter: false}">Tol + ASDP</th>
			<th width="80" class="right sorter:true, filter: false">Total BKK</th>
			<th width="80" class="right {sorter:true, filter: false}">Estimasi</th>
			<th width="50" class="right {sorter:true, filter: false}">%</th>
		</tr>

		<% offset = Setting.find_by_name('Offset Estimasi').to_i rescue 200000 %>
		<% total_estimasi = 0 %>
		<% total_invoice = 0 %>
		<% @invoices.each_with_index do |invoice, i| %>
        <%
		
        qty = invoice.quantity
		price_per = invoice.route.price_per.to_i rescue 0
				qty -= invoice.receiptreturns.where(:deleted => false).sum(:quantity) if invoice.receiptreturns.where(:deleted => false).any? 
				estimation = invoice.get_estimation(offset,@customer_35)
				total_estimasi += estimation
				total_invoice += invoice.total.to_i
        %>
		<tr<% if i % 2 == 0 %> class="even"<% end %>>
			<td><%=i+1%>.</td>
			<td><%=invoice.date.strftime('%d.%m.%y')%></td>
			<td><%=invoice.quantity%> Rit #<%= invoice.id %>: <%=invoice.route.name rescue nil%></td>
			<td><%=invoice.vehicle.current_id%></td>
			<td><%=invoice.office.abbr%></td>
			<td class="" align="right"><%=to_currency(invoice.driver_allowance + invoice.helper_allowance)%></td>
			<td class="" align="right"><%=to_currency(invoice.gas_allowance)%></td>
			<td class="" align="right"><%=to_currency(invoice.misc_allowance)%></td>
			<td class="" align="right"><%=to_currency(invoice.premi_allowance)%></td>
			<td class="" align="right"><%=to_currency(invoice.tol_fee + invoice.ferry_fee)%></td>
			<td class="red" align="right"><%=to_currency(invoice.total)%></td>
			<td class="green" align="right"><%= to_currency(estimation) %></td>
            <% percent = (invoice.total / estimation * 100).round() rescue 0 %>
			<td class="<%= (percent < 0 ) ? "red" : "green" %>" align="right"><%= percent %></td>
		</tr>
		<% end %>	

		<% if @invoices %>
		<tr class="footer">
			<td class="total" colspan="5">TOTAL</td>
			<td align="right"><%=to_currency(@invoices.sum('driver_allowance + helper_allowance'))%></td>
			<td align="right"><%=to_currency(@invoices.sum('gas_allowance'))%></td>
			<td align="right"><%=to_currency(@invoices.sum('misc_allowance'))%></td>
			<td align="right"><%=to_currency(@invoices.sum('premi_allowance'))%></td>
			<td align="right"><%=to_currency(@invoices.sum('tol_fee + ferry_fee'))%></td>
			<td class="total" align="right"><%=to_currency(@invoices.sum('total'))%></td>
			<td class="total" align="right"><%=to_currency(total_estimasi)%></td>
            <td align="right" class="total">
			<span style="display: none">
			<%= (total_invoice == 0 || total_estimasi == 0) ? 0 : ( total_invoice / total_estimasi * 100).round() %>
			</span>
			</td>
            <td></td>
		</tr>
		<% end %>
		</table>
	<% end %>
</div>


