<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">

	<div id="content-full">
		<a class="print btn" href="javascript:print();"><i class="icon-print"></i> Print</a>

		<h1><%=Setting.find_by_name("Client Name").value%> / Estimasi Pendapatan BKK: <span class="red"><%=@startdate.to_date.strftime('%d %b %y')%> - <%=@enddate.to_date.strftime('%d %b %y')%></span></h1>

		<br class="clearfix" />

		<div id="filter">
			<form id="filterform" name="filterform" action="" method="get">
			<div class="field-row continue" style="width:100%;">
				<div style="position: relative; width: fit-content; float: left;">
					<label for="office_id" class="middle" style="width: fit-content;">Ktr</label>
					<select name="office_id" class="chzn-select half left combo_route" style="width: 50px;">		
						<option value="">All</option>
						<% Office.active.order(:name).each do |office| %>
						<option value="<%=office.id%>"<% if office.id == params[:office_id].to_i %> selected='selected'<% end %>><%=office.abbr%></option>
						<% end %>
					</select> 
				</div>

				<div style="position: relative; width: fit-content; float: left;">	
					<label for="customer_id" class="middle" style="width: fit-content; margin-top: 0;">Cust.</label>
					<select name="customer_id" class="chzn-select half left combo_route" style="width: 100px;">	
						<option value="">Semua</option>
						<% Customer.active.order(:name).each do |customer| %>
						<option value="<%=customer.id%>"<% if customer.id == params[:customer_id].to_i %> selected='selected'<% end %>><%=customer.name%></option>
						<% end %>
					</select> 
				</div>
				
				<div style="position: relative; width: fit-content; float: left;">
					<label for="driver_id" class="middle" style="width: fit-content;">Supir</label>
					<select name="driver_id" class="chzn-select half left combo_route"  style="width: 100px;">		
						<option value="">Semua</option>
						<% Driver.active.order(:name).each do |driver| %>
						<option value="<%=driver.id%>"<% if driver.id == params[:driver_id].to_i %> selected='selected'<% end %>><%=driver.name%>(<%=driver.id%>)</option>
						<% end %>
					</select> 
				</div>
				
				<div style="position: relative; width: fit-content; float: left;">
					<label for="tanktype" class="middle" style="width: fit-content; margin-top: 0;">Group</label>
					<select name="tanktype" class="half left combo_route" style="width: 80px;">	
						<% ["Semua", "Platform", "Lorry", "Multifungsi", "Box", "Threeway", "Wings Box", "LossBak", "Gandengan", "Trailer Platform", "Engkel"].each do |type| %>
							<option <%= type == params[:tanktype] ? 'selected' : '' %>><%=type%></option>
						<% end %>
					</select>
				</div>

				<div style="position: relative; width: fit-content; float: left;">	
					<label for="vehicle_id" class="middle" style="width: fit-content; margin-top: 0;">Nopol</label>
					<select name="vehicle_id" class="chzn-select half combo_route"  style="width: 100px;">
						<option value="all">Semua</option>	
						<% @vehicles.each do |vehicle| %>
						<option value="<%=vehicle.id%>"<% if vehicle.id == params[:vehicle_id].to_i %> selected="selected"<% end %>><%=vehicle.current_id%></option>
						<% end %>
					</select>
				</div>	
	
				<div style="position: relative; width: fit-content; float: left; margin-left: 5px; margin-top: -5px;">
					<label for="startdate" class="left" style="width: fit-content; margin-top: 5px; padding-right: 10px;">Perio.</label>
					<input type="text" name="startdate" class="half date-picker" value="<%=@startdate%>" style="width: 70px;" />
					&nbsp; s/d &nbsp;
					<input type="text" name="enddate" class="half date-picker" value="<%=@enddate%>" style="width: 70px;" />
					<input class="submit" type="submit" value="Filter" />
				</div>

			</div>
			</form>
		</div>
		<br class="clearfix" />

		<h1>Total BKK : <%= @invoices.count %> 
			<br/>Total BKM : <%= @receiptreturns.count %> 
			<!-- <br/>Total Estimasi Pendapatan : <a href="#theTotal">klik disini</a> -->
			<br/>Total Estimasi Pendapatan : <span id="span-total"></span>
		</h1>

		<% offset = Setting.find_by_name('Offset Estimasi').to_i rescue 200000 %>

		<% if @invoices.any? %>

		<table class="row-view report-view">
			<tr>
				<th width="30">No.</th>
				<th>Keterangan</th>
				<th width="45">Komoditas</th>
				<th width="45">Ktr</th>
				<th width="80">No Pol</th>
				<th width="90" class="right">Tonage (KG/LT/M3)</th>
				<th width="90" class="right">Harga</th>
				<th width="100" class="right">Total</th>
			</tr>
			<% total_estimation = estimation = i = qty = day = 0 %>
			<% @invoices.each do |invoice| %>
			<% 
				if invoice.office_id == 7
					offset = 30000
				end
				qty = invoice.quantity
				qty -= invoice.receiptreturns.where(:deleted => false).sum(:quantity) if invoice.receiptreturns.where(:deleted => false).any? 
			%>
			<% 
			total_estimation += invoice.get_estimation(offset,@customer_35)
			total_estimation -= invoice.get_estimation(offset,@customer_35)  if invoice.receiptreturns.where(:deleted => false).any?  
			%>

			<% if invoice.date.day > day %>
			<tr class="subheading">
				<th colspan="8"><span class="black">Tgl </span> <span class="red"><%=invoice.date.strftime('%d-%m-%Y')%></span></th>
			</tr>
			<% day = invoice.date.day %>
			<% end %>

			<tr<% if qty <= 0 %> class="red"<% end %>>
				<td><%=i+=1%>.</td>
				<td>#<%=zeropad(invoice.id)%>: <% if qty <= 0 %><span class="red"><% end %><%=qty%><% if qty <= 0 %></span><% end %> Rit, <%=invoice.route.name%> (<%=invoice.driver.name%>)
					<% if invoice.receiptreturns.where(:deleted => false).any? %>
						<% invoice.receiptreturns.where(:deleted => false).each do |receiptreturn| %>
							<br/><span>Debitan : <%= receiptreturn.quantity %> Rit, Tanggal konfirmasi <%= receiptreturn.created_at.strftime('%d-%m-%Y') %></span>
						<% end %>
					<% end %>
					<br/>
					<%= invoice.customer.name %>
				</td>
				<td><%=invoice.event.commodity.name rescue nil%></td>
				<td><%=invoice.office.abbr%></td>
				<td><%=invoice.vehicle.current_id%></td>
				<td align="right"><%= invoice.get_tonage(offset,@customer_35) %></td>
				<td align="right"><%=to_currency((invoice.route.price_per || 0))%></td>
				<td align="right"><%=to_currency(invoice.get_estimation(offset,@customer_35))%></td>
			</tr>			
			<% end %>

			<tr class="footer" id="theTotal">
				<td>&nbsp;</td>
				<td colspan="3">TOTAL</td>
				<td align="right">&nbsp;</td>
				<td align="right">&nbsp;</td>					
				<td align="right" class="total"><%=to_currency(total_estimation)%></td>
			</tr>
		</table>

		<h1 class="right"><%= to_currency(total_estimation, 'Rp. ') %></h1>
		<% end %>

		<br class="clearfix" />
	
	</div>

</div>

<script>
	(function() {
		// your page initialization code here
		// the DOM will be available here
		document.getElementById('span-total').textContent = "<%= to_currency(total_estimation, 'Rp. ') %>";
	})();
</script>