<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">

	<div id="content-full">
	<a class="print btn" href="javascript:print();"><i class="icon-print"></i> Print</a>
	
	<h1><%=Setting.find_by_name("Client Name").value%> / Laporan Estimasi BKK vs DO: <span class="red"><%=@startdate.to_date.strftime('%d %b %Y')%> - <%=@enddate.to_date.strftime('%d %b %Y')%></span></h1>

	<br class="clearfix" />

	<div id="filter">
		<form id="filterform" name="filterform" action="" method="get">
		<div class="field-row continue">
			<label for="office_id" class="middle">Pilih Kantor</label>
			<select name="office_id" class="half left office_id" style="margin-right: 15px;">	
				<option value="all">All</option>
				<% Office.active.each do |office| %>
				<option value="<%=office.id%>" <%= params[:office_id].to_i == office.id ? "selected" : "" %>><%=office.name%></option>
				<% end %>
			</select>  &nbsp; &nbsp;
			<label for="startdate">Tanggal Awal</label>
			<input type="text" name="startdate" class="left half date-picker" value="<%=@startdate%>" />
			<label for="enddate" class="middle">Akhir</label>
			<input type="text" name="enddate" class="left half date-picker" value="<%=@enddate%>" />
			<input class="submit" type="submit" value="Filter" />
		</div>
		</form>
	</div>

	<br class="clearfix" />

	<% if @events.any? %>
		<table class="tablesorter row-view tablesorterFilters">
		<tr>
			<th width="30">No.</th>
			<th width="40">Tgl</th>
			<th>Keterangan</th>
			<th>KTR</th>
			<th width="60" class="right {sorter:true, filter: false}">Supir</th>
			<th width="60" class="right {sorter:true, filter: false}">Kernet</th>
			<th width="60" class="right {sorter:true, filter: false}">Solar</th>
			<th width="60" class="right {sorter:true, filter: false}">Lain2</th>
			<th width="60" class="right {sorter:true, filter: false}">Premi</th>
			<th width="60" class="right {sorter:true, filter: false}">Tol + ASDP</th>
			<th width="60" class="right sorter:true, filter: false">Total BKK</th>
			<th width="60" class="right {sorter:true, filter: false}">Total DO</th>
			<%# <th width="50" class="right {sorter:true, filter: false}">%</th> %>
		</tr>

		<% offset = Setting.find_by_name('Offset Estimasi').to_i rescue 200000 %>
		<% total_estimasi = 0 %>
		<% total_invoice = 0 %>
		<% @events.each_with_index do |event, i| %>
        
		<tr<% if i % 2 == 0 %> class="even"<% end %>>
			<td><%=i+1%>.</td>
			<td><%=event[:start_date].strftime('%d.%m.%y')%></td>
			<td><%=event[:description] %></td>
			<td><%=event[:office] %></td>
			<td class="" align="right"><%=to_currency(event[:supir])%></td>
			<td class="" align="right"><%=to_currency(event[:kernet])%></td>
			<td class="" align="right"><%=to_currency(event[:solar])%></td>
			<td class="" align="right"><%=to_currency(event[:tambahan])%></td>
			<td class="" align="right"><%=to_currency(event[:premi_allowance])%></td>
			<td class="" align="right"><%=to_currency(event[:tol_asdp])%></td>
			<td class="red" align="right"><%=to_currency(event[:invoice_total])%></td>
			<td class="green" align="right"><%= to_currency(event[:total_estimation]) %></td>
            <% percent = (event[:invoice_total].to_f / event[:total_estimation].to_f * 100).round rescue 0 %>
            <%# percent = (event[:total_estimation].to_i / event[:invoice_total].to_i * 100).round(3) rescue 0 %>
			<!-- <td class="<%= (percent < 0 ) ? "red" : "green" %>" align="right"><%= percent %></td> -->
		</tr>
		<% end %>	

		<% if @events %>
		<tr class="footer">
			<td class="total" colspan="4">TOTAL</td>
			<td align="right"><%=to_currency(@summary[:global_supir])%></td>
			<td align="right"><%=to_currency(@summary[:global_kernet])%></td>
			<td align="right"><%=to_currency(@summary[:global_solar])%></td>
			<td align="right"><%=to_currency(@summary[:global_tambahan])%></td>
			<td align="right"><%=to_currency(@summary[:global_premi])%></td>
			<td align="right"><%=to_currency(@summary[:global_tol_asdp])%></td>
			<td class="total" align="right"><%=to_currency(@summary[:global_invoice_total])%></td>
			<td class="total" align="right"><%=to_currency(@summary[:global_total_estimation])%></td>
            <td align="right" class="total">
			<span style="display: none">
			<%= (@summary[:global_invoice_total].to_i == 0 || @summary[:global_total_estimation].to_i == 0) ? 0 : ( @summary[:global_invoice_total].to_i / @summary[:global_total_estimation].to_i * 100).round() %>
			</span>
			</td>
            <!-- <td></td> -->
		</tr>
		<% end %>
		</table>
	<% end %>
</div>


