<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">
		
	<div id="content-full">
		<a class="print btn" href="javascript:print();"><i class="icon-print"></i> Print</a>

		<h1><%=Setting.find_by_name("Client Name").value%> / Laporan Upload SJ :<span class="red"><%=@startdate.to_date.strftime('%d %b %Y')%> - <%=@enddate.to_date.strftime('%d %b %Y')%></span></h1>

		<br class="clearfix" />

		<div id="filter">
			<form id="filterform" name="filterform" action="" method="get">
				<div class="field-row continue">
					<label for="customer_id">Pelanggan</label>
					<select name="customer_id" class="third left">
						<option value="">Semua Pelanggan</option>
						<% Customer.active.order(:name).each do |customer| %>
						<option value="<%=customer.id%>"<% if customer.id == @customer_id %> selected='selected'<% end %>><%=customer.name%></option>
						<% end %>
					</select>

					<label for="event_id" class="middle tiny">DO:</label>
					<input type="text" name="event_id" class="short left" value="<%=params[:event_id]%>" />

					<label for="startdate" class="middle tiny">Awal</label>
					<input type="text" name="startdate" class="short left date-picker" value="<%=@startdate%>" />
					<label for="enddate" class="middle tiny">Akhir</label>
					<input type="text" name="enddate" class="short date-picker" value="<%=@enddate%>" />

					<input class="submit" type="submit" value="Filter" />
				</div>
			</form>
		</div>

		<br class="clearfix" />
		<table class="row-view report-view">
			<thead>
				<tr>
					<th width="30">No.</th>
					<th width="80">No. DO</th>
					<th width="80">Tgl BKK</th>
					<th width="80">Tipe</th>
					<th width="300">Keterangan</th>
					<th width="80">Nopol</th>
					<th width="60">No. SJ</th>
					<th width="60">Tgl SJ</th>
					<!-- <th width="60">Tgl BKR</th> -->
					<th width="60">Tgl Upload</th> 
					<th width="60">Tgl Terima</th> 
					<!-- <th width="80" class="right">Total</th> -->
				</tr>
			</thead>

			<tbody>
			<% total = i = 0 %>
			<% @taxinvoiceitems.includes(:receipttaxinvitem, :invoice, :taxinvoice).each do |taxinvoiceitem| %>
				<% if taxinvoiceitem.total > 0 %>
				<% total += taxinvoiceitem.total %>
				<tr id="<%=taxinvoiceitem.id%>">
					<td><%=i+=1%>.</td>
					<td><a style="font-weight: bolder;" href="/events/<%=taxinvoiceitem.invoice.event_id rescue nil%>/edit"><%=taxinvoiceitem.invoice.event_id rescue nil %></a></td>
					<td><%=taxinvoiceitem.invoice.date.strftime('%d/%m') rescue nil %></td>
					<td><%= taxinvoiceitem.invoice.invoicetrain ? 'Kereta' : 'Truk' %></td>
					<td>
						<a style="font-weight: bolder;" href="/taxinvoiceitems/new/<%= taxinvoiceitem.invoice_id %>" target="_blank">#<%=taxinvoiceitem.invoice_id %></a><br/>
						<%=taxinvoiceitem.invoice.route.name rescue nil %><br/>
						<%=taxinvoiceitem.invoice.driver.name rescue nil %> 
					</td>
					<td><%=taxinvoiceitem.invoice.vehicle.current_id rescue nil %> </td>
					<td><%=taxinvoiceitem.sku_id %> </td>
					<td><%=taxinvoiceitem.date.strftime('%d/%m') rescue nil %> </td>
					<!-- <td><%=taxinvoiceitem.unload_date.strftime('%d/%m') rescue nil %> </td> -->
					<td class="center" align="center">
						<% if taxinvoiceitem.invoice.images.any? %>
						<% img = taxinvoiceitem.invoice.images.first %>
						<%= img.created_at.strftime('%d/%m') rescue nil %>
						<% else %>
						belum upload
						<% end %>

						<% offset = taxinvoiceitem.invoice.invoicetrain ? 7 : 5 %>

						<% if taxinvoiceitem.date.present? && taxinvoiceitem.invoice.images.any? %>
							<% if (img.created_at.to_date - taxinvoiceitem.date.to_date).to_i <= offset %>
								<% status = 'On Time' %>
							<% else %>
								<% status = 'Terlambat' %>
							<% end %>
						<% end %>

						<br/>
						<span style="color: <%= status != 'On Time' ? 'red' : 'green' %>">
						<%= status %>
						</span>

					</td>
					<td><%= taxinvoiceitem.receipttaxinvitem.created_at.strftime('%d/%m') rescue nil %></td>
				</tr>
				<% end %>				
			<% end %>

			</tbody>
		</table>

	</div>

</div>