<%= render "shared/header" %>

<div id="nav">
	<%= render "shared/nav" %>
</div>

<div id="main">

<h1><%=Setting.find_by_name("Client Name").value%> / Solar Bon</h1>

<div id="content-full">

	<table class="row-view">
		<tr>
			<th width="40">No.</th>
			<th width="80">Tanggal</th>
			<th width="80">No Pol</th>
			<th width="80">Supir</th>
			<th>Jurusan</th>
			<th width="30" class="right">Rit</th>
			<th width="80" class="right">Liter</th>
			<th width="120" class="right">Total (Rp.)</th>
		</tr>

		<% @invoices.each_with_index do |invoice, i| %>
		<tr<% if i % 2 == 0 %> class="even"<% end %>>
			<td><%=i+1%></td>
			<td><%=invoice.created_at.strftime('%d/%m/%Y')%></td>
			<td><%=invoice.vehicle.current_id%></td>
			<td><%=invoice.driver.name%></td>
			<td><%=invoice.route.name%></td>
			<td align="right"><%=invoice.quantity%></td>
			<td align="right"><%=to_currency(invoice.gas_voucher)%></td>
			<td align="right"><%=to_currency(invoice.total)%></td>
		</tr>
		<% end %>	

		<% if @invoices %>
		<tr class="footer">
			<td class="total" colspan="5">TOTAL</td>
			<td align="right"><%=@invoices.sum('quantity')%></td>
			<td align="right"><%=to_currency(@invoices.sum('gas_voucher'))%></td>
			<td class="total" align="right"><%=to_currency(@invoices.sum('total'))%></td>
		</tr>
		<% end %>
	
	</table>

</div>

</div>