<% if @trainexpense %>

<%= form_for(@receipttrain) do |f| %>

  <%= f.hidden_field :invoice_id, :value => @trainexpense.invoice.id %>
  <%= f.hidden_field :trainexpense_id, :value => @trainexpense.id %>

  <div class="info-box" style="margin-bottom:30px; width:560px; float:left; clear:left;">  

    <h3>Biaya <%= @trainexpense.invoice.invoicetrain ? "Kereta" : ""%> BKK #<%=zeropad(@trainexpense.invoice.id)%></h3>

    <table class="row-view no-border">
        <tr>
          <td width="120">Tanggal</td>
          <td><%=@trainexpense.invoice.date.strftime('%d %B %Y')%> &nbsp;(KTR: <%=@trainexpense.invoice.office.name%>)</td>
        </tr>
        <tr>
          <td>Pelanggan</td>
          <td><%=@trainexpense.invoice.customer.name%></td>
        </tr>
        <tr>
          <td>Jurusan</td>
          <td><strong><%=@trainexpense.invoice.quantity%></strong> Rit: <%=@trainexpense.invoice.route.name%></td>
        </tr>
        <tr>
          <td>No. DO</td>
          <td><%=@trainexpense.invoice.event_id rescue nil%></td>
        </tr>
        <tr>
          <td>Kendaraan</td>
          <td><%=@trainexpense.invoice.vehicle.current_id%> &nbsp;(UP: <%= @trainexpense.invoice.insurance > 0 ? "Ada" : "Tidak Ada" %>)</td>
        </tr>
        <% if @trainexpense.invoice.isotank_id != 0 %>
        <tr>
          <td>No. Isotank</td>
          <td id="strIsotank"><%=@trainexpense.invoice.isotank.isotanknumber rescue nil%></td>
        </tr>
      <% else %>
        <% if !@trainexpense.invoice.isotank_number.nil? %>
          <tr>
            <td>No. Isotank</td>
            <td id="strIsotank"><%=@trainexpense.invoice.isotank_number%></td>
          </tr>
        <% end %>
      <% end %>
          
      <% if @trainexpense.invoice.container_id != 0 %>
        <tr>
          <td>No. Kontainer</td>
          <td id="strIsotank"><%=@trainexpense.invoice.container.containernumber rescue nil%></td>
        </tr>
      <% else %>
        <% if !@trainexpense.invoice.container_number.nil? %>
          <tr>
            <td>No. Kontainer</td>
            <td id="strIsotank"><%=@trainexpense.invoice.container_number%></td>
          </tr>
        <% end %>
      <% end %>
        <tr>
          <td>Supir</td>
          <td><%=@trainexpense.invoice.driver.name%> (<%=zeropad(@trainexpense.invoice.driver.id)%>)<% if !@trainexpense.invoice.driver.helpers.first.nil? %> &nbsp;(Kernet: <%=@trainexpense.invoice.driver.helpers.first.name%>)<% end %></td>
        </tr>
        <% if !@trainexpense.invoice.description.blank? %>
        <tr>
          <td>Keterangan</td>
          <td><%= @trainexpense.invoice.description %></td>
        </tr>   
        <% end %>
        <tr>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td>Operator</td>
            <td><%= @trainexpense.invoice.routetrain.operator.name rescue nil %></td>
        </tr>
        <tr>
            <td>Jurusan Kereta</td>
            <td><%= @trainexpense.invoice.routetrain.name rescue nil %></td>
        </tr>
        <tr>
            <td>Tipe</td>
            <td><%= @trainexpense.invoice.routetrain.container_type rescue nil %></td>
        </tr>
        <tr>
          <td>Memo</td>
          <td><%= @trainexpense.description rescue nil %></td>
        </tr>
    </table>

    <table class="row-view">
      <tr>
        <th>Keterangan</th>
        <th width="160" class="right" style="padding-right:5px;">Total</th>
      </tr>

      <tr>
        <td><%= f.label :total, "Tarif" %></td>
        <td><%= f.text_field :total, :class => 'half disabled allowance-field', :value => to_currency(@trainexpense.price_per.to_i), :readOnly => 'true' %></td>
      </tr>
      <tr>
        <td><%= f.label :misc_total, "Lain-lain" %></td>
        <td><%= f.text_field :misc_total, :class => 'half disabled allowance-field', :value => to_currency(@trainexpense.misc_total.to_i), :readOnly => 'true' %></td>
      </tr>
      <tr>
        <td><%= f.label :gst_tax, "PPN 11%" %></td>
        <td><%= f.text_field :gst_tax, :class => 'half disabled allowance-field', :value => to_currency(@trainexpense.gst_tax.to_i), :readOnly => 'true' %></td>
      </tr>

      <tr class="total-row">
        <td><%= f.label :total, "Total" %></td>
        <td><%= f.text_field :total, :class => 'half disabled allowance-field', :value => to_currency(@trainexpense.total.to_i), :readOnly => 'true' %></td>
      </tr>
    </table>

    <div class="field-row continue">

      <%= f.hidden_field :routetrain_id, :value => @trainexpense.invoice.routetrain_id %>
      <%= f.hidden_field :user_id, :value => current_user.id %>

      <%= f.submit "Tambah Data", :class => 'submit right' %>    
    </div>

  </div>

<% end %>

<% end %>
